<!doctype html>
<html>
  <head>
    <title>Kairos</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

  </head>
  
  <nav class="navbar navbar-default" role="navigation">
    <div class="col-md-12 container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="#">Kairos</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav">
          <li {{page1}}><a href="#">Link</a></li>
          <li {{page2}}><a href="#">Link</a></li>
	</ul>
	{% if corner %}
	<ul class="nav navbar-nav navbar-right" >
	  <li role="presentation" class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	      Hello <b>{{corner}}</b>! <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	      <li><a href="/settings">Settings</a></li>
	      <li class="divider"></li>
	      <li><a href="/logout">Logout</a></li>
	    </ul>
	  </li>
	</ul>
	{% else %}
	<ul class = "nav navbar-nav navbar-right">
	  <li role="presentation"><a href="#">Hello Guest!</a></li>
	</ul>
	{% endif %}
      </div>
    </div>
  </nav>
  <body>
    <div class="col-md-12">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
	{% for message in messages %}
	<div class="alert alert-warning alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	  {{ message }}</div>
	{% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      {% block body %}{% endblock %}
      <div>
  </body>
</html>
