<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>CharacterSelection.html</title>
  </head>
  <body>
    <div class="menu-open">
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
