<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>CharacterSelection.html</title>
  </head>
  <body bgcolor="#0e4603" text="#ffffff">
    Choose a character from the options below<br>
    <big><big><big><br>
        </big></big></big>
    <div align="left"><big><a href="http://0.0.0.0:1639/Character/Itchy"><font
            color="cyan">1/Itchy</font></a></big><br>
    </div>
    <font color="cyan"> <a href="http://0.0.0.0:1639/Character/Cans"><font
          color="cyan">15/Cans</font></a><font color="cyan"><br>
        <a href="http://0.0.0.0:1639/Character/Doze"><font color="cyan">2/Doze</font></a><font
          color="cyan"><br>
          <a href="http://0.0.0.0:1639/Character/Trace"><font
              color="cyan">3/Trace</font></a></font></font></font><font
      color="cyan"><font color="cyan"><font color="cyan"><font
            color="cyan"><font color="cyan"><font color="cyan"><font
                  color="cyan"><font color="cyan"><font color="cyan"><font
                        color="cyan"><font color="cyan"><font
                            color="cyan"><font color="cyan"><font
                                color="cyan"><font color="cyan"><font
                                    color="cyan"><font color="cyan"><font
                                        color="cyan"><font color="cyan"><font
                                            color="cyan"><font
                                              color="cyan"><font
                                                color="cyan"><font
                                                  color="cyan"><font
                                                    color="cyan"><font
                                                      color="cyan"><font
                                                        color="cyan"><font
                                                          color="cyan"><font
                                                          color="cyan"><font
                                                          color="cyan"><font
                                                          color="cyan"><font
                                                          color="cyan"><font
                                                          color="cyan"><font
                                                          color="cyan"><font
                                                          color="cyan"><a
href="http://0.0.0.0:1639/Page"><font color="#00FFFF"><font
                                                          color="#00FFFF"><big><big><big><big><big><big><big><big><big><big><big><big><font
face="garamond"><img alt=""
                                                          src="http://media.tumblr.com/tumblr_mdv7j9SFnW1r9mlad.gif"
                                                          border="0"
                                                          align="right"
                                                          height="436"
                                                          width="176"></font></big></big></big></big></big></big></big></big></big></big></big></big></font></font></a></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font><font
      color="cyan"><font color="cyan"><font color="cyan"><font
            color="cyan"><br>
            <a href="http://0.0.0.0:1639/Character/Clover"><font
                color="cyan">4/Clover</font></a><font color="cyan"><br>
              <a href="http://0.0.0.0:1639/Character/Bro"><font
                  color="cyan">Bro</font></a><font color="cyan"><font
                  color="cyan"><br>
                  <a href="http://0.0.0.0:1639/Character/Clubs"><font
                      color="cyan">Clubs Deuce</font></a><font
                    color="cyan"><br>
                    <a href="http://0.0.0.0:1639/Character/Colonel"><font
                        color="cyan">Colonel Sassacre</font></a><font
                      color="cyan"><br>
                      <a href="http://0.0.0.0:1639/Character/Dad"><font
                          color="cyan">Dad</font></a><font color="cyan"><br>
                        <a href="http://0.0.0.0:1639/Character/Dave"><font
                            color="cyan">Dave</font></a><font
                          color="cyan"><br>
                          <a
                            href="http://0.0.0.0:1639/Character/Davesprite"><font
                              color="cyan">Davesprite</font></a><font
                            color="cyan"><br>
                            <a
                              href="http://0.0.0.0:1639/Character/Diamonds"><font
                                color="cyan">Diamonds Droog</font></a><font
                              color="cyan"><br>
                              <a
                                href="http://0.0.0.0:1639/Character/Hearts"><font
                                  color="cyan">Hearts Boxcars</font></a><font
                                color="cyan"><br>
                                <a
                                  href="http://0.0.0.0:1639/Character/Jade"><font
                                    color="cyan">Jade</font></a><font
                                  color="cyan"><br>
                                  <a
                                    href="http://0.0.0.0:1639/Character/Jaspers"><font
                                      color="cyan">Jaspers</font></a><font
                                    color="cyan"><br>
                                    <a
                                      href="http://0.0.0.0:1639/Character/Jaspersprite"><font
                                        color="cyan">Jaspersprite</font></a><font
                                      color="cyan"><br>
                                      <a
                                        href="http://0.0.0.0:1639/Character/John"><font
                                          color="cyan">John</font></a><font
                                        color="cyan"><br>
                                        <a
                                          href="http://0.0.0.0:1639/Character/Crowsprite"><font
                                            color="cyan">Crowsprite</font></a><font
                                          color="cyan"><br>
                                          <a
                                            href="http://0.0.0.0:1639/Character/Kernelsprite"><font
                                              color="cyan">Kernelsprite</font></a><font
                                            color="cyan"><br>
                                            <a
                                              href="http://0.0.0.0:1639/Character/Cal"><font
                                                color="cyan">Lil Cal</font></a><font
                                              color="cyan"><br>
                                              <a
                                                href="http://0.0.0.0:1639/Character/Liv"><font
                                                  color="cyan">Liv Tyler</font></a><font
                                                color="cyan"><br>
                                                <a
                                                  href="http://0.0.0.0:1639/Character/Maplehoof"><font
                                                    color="cyan">Maplehoof</font></a><font
                                                  color="cyan"><br>
                                                  <a
                                                    href="http://0.0.0.0:1639/Character/Mom"><font
                                                      color="cyan">Mom</font></a><font
                                                    color="cyan"><br>
                                                    <a
                                                      href="http://0.0.0.0:1639/Character/Nanna"><font
                                                        color="cyan">Nanna</font></a><font
                                                      color="cyan"><br>
                                                      <a
                                                        href="http://0.0.0.0:1639/Character/Nannasprite"><font
                                                          color="cyan">Nannasprite</font></a><font
                                                        color="cyan"><br>
                                                        <a
                                                          href="http://0.0.0.0:1639/Character/Peregrine"><font
                                                          color="cyan">Peregrine
                                                          Medicant</font></a><font
                                                          color="cyan"><br>
                                                          <a
                                                          href="http://0.0.0.0:1639/Character/Rose"><font
                                                          color="cyan">Rose</font></a><font
                                                          color="cyan"><br>
                                                          <a
                                                          href="http://0.0.0.0:1639/Character/Sawtooth"><font
                                                          color="cyan">Sawtooth</font></a><font
                                                          color="cyan"><br>
                                                          <a
                                                          href="http://0.0.0.0:1639/Character/Serenity"><font
                                                          color="cyan">Serenity</font></a><font
                                                          color="cyan"><br>
                                                          <a
                                                          href="http://0.0.0.0:1639/Character/Spades"><font
                                                          color="cyan">Spades
                                                          Slick</font></a><font
                                                          color="cyan"><br>
                                                          <a
                                                          href="http://0.0.0.0:1639/Character/Squarewave"><font
                                                          color="cyan">Squarewave</font></a><font
                                                          color="cyan"><br>
                                                          <a
                                                          href="http://0.0.0.0:1639/Character/Sweet"><font
                                                          color="cyan">Sweet
                                                          Bro and Hella
                                                          Jeff</font></a><font
                                                          color="cyan"><br>
                                                          <a
                                                          href="http://0.0.0.0:1639/Character/Vagabond"><font
                                                          color="cyan">Wayward
                                                          Vagabond</font></a><font
                                                          color="cyan"><br>
                                                          </font> </font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font>
                                  </font></font></font></font></font></font></font></font></font></font></font></font></font></font></font></font>
  </body>
</html>
