<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>main.html</title>
  </head>
  <body>
    <h1>
      <center>
	Character Search
	Its easy! 
	Choose a character and we will give you all the pages he appears in
	Choose more than one and we will give all pages they appear together
	Or
	Choose a page and we will give you all the characters in it
	Find out on which pages of Act 1 a certain character appears.
      </center>
    </h1>
    <br>
    <br>
    <a href="http://127.0.0.1:5000/Character">For
        character, click here</a><br>
    <a href="http://127.0.0.1:5000/Page">For page,
        click here</font><font color="#00FFFF"><font color="#00FFFF"><big><big><big><big><big><big><big><big><big><big><big><big><font
                                    face="garamond"><img alt=""
                                      src="http://media.tumblr.com/tumblr_mdv7j9SFnW1r9mlad.gif"
                                      border="0" align="right"
                                      height="436" width="176"></font></big></big></big></big></big></big></big></big></big></big></big></big></font></a>
  </body>
</html>
