<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>main.html</title>
  </head>
  <body bgcolor="#0e4603" text="#ffffff">
    Find out on which pages of Act 1 a certain character appears.<br>
    Alternatively, find out which characters appear in a certain page of
    Act 1.<br>
    <br>
    <br>
    <a href="http://0.0.0.0:1639/Character"><font color="cyan">For
        character, click here</font></a><br>
    <a href="http://0.0.0.0:1639/Page"><font color="cyan">For page,
        click here</font><font color="#00FFFF"><font color="#00FFFF"><big><big><big><big><big><big><big><big><big><big><big><big><font
                                    face="garamond"><img alt=""
                                      src="http://media.tumblr.com/tumblr_mdv7j9SFnW1r9mlad.gif"
                                      border="0" align="right"
                                      height="436" width="176"></font></big></big></big></big></big></big></big></big></big></big></big></big></font></font></a>
  </body>
</html>
