<style>
body{
background-image: url("/static/images/bulbasaur.gif");
background-color: rgb(255, 255, 255);
}


  h1{
  font-family:"courier";
  border-style:solid;
  border-color:black;
  border-width:3px;
  background-color:#ffffff
}

  h2{
  font-family:"courier";
  font-size:50px;
  border-style:solid;
  border-color:black;
  border-width:3px;
  background-color:#eeeeee
}

  h3{
  font-family:"courier";
  font-size:20px;
  border-style:solid;
  border-color:black;
  border-width:3px;
  background-color:#eeeeee
}

  h4{
  font-family:"courier";
  font-size:20px;
  border-style:solid;
  border-color:black;
  border-width:3px;
  background-color:#dddddd
}

  h5{
  font-family:"courier";
  font-size:20px;
  border-style:solid;
  border-color:black;
  border-width:3px;
  background-color:#cccccc
}
</style>

<html>
<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/base-min.css">
<link rel="stylesheet" href="/static/bulbasaur.css" type="text/css" media="screen" />
</head>
<body>
<center>
<h1>Hi {{name}}!</h1>
<h2>You chose bulbasaur and you chose INCORRECTLY!</h2>
<table align="left" style="background: #78C850; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; -icab-border-radius: 10px; -o-border-radius: 10px;; border: 3px solid #A040A0;">

<tbody><tr>
<th rowspan="2" style="background: #A7DB8D; border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; -khtml-border-top-left-radius: 10px; -icab-border-top-left-radius: 10px; -o-border-top-left-radius: 10px;"> <a href="/wiki/Stats" title="Stats"><span style="color:#000;">Stat</span></a>
</th>
<th colspan="2" style="background: #A7DB8D; border-top-right-radius: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; -khtml-border-top-right-radius: 10px; -icab-border-top-right-radius: 10px; -o-border-top-right-radius: 10px;"> Range
</th></tr>
<tr>
<th style="background: #A7DB8D;"> <small>At Lv. 50</small>
</th>
<th style="background: #A7DB8D;"> <small>At Lv. 100</small>
</th></tr>
<tr style="background: #FF5959;">
<td>
<table style="background: #FF0000; border: 1px solid #A60000;" cellspacing="0" cellpadding="0">
<tbody><tr>
<th style="background: #FF5959; width: 75px;"> <a href="/wiki/Stats#Hit_Points" title="Stats"><span style="color:#000;">HP</span></a>:
</th>
<th style="background: #FF5959; width: 30px;"> 45
</th>
<td style="width: 45px;">
</td></tr></tbody></table>
</td>
<th> <small>105 - 152</small>
</th>
<th> <small>200 - 294</small>
</th></tr>
<tr style="background: #F5AC78;">
<td>
<table style="background: #F08030; border: 1px solid #9C531F;" cellspacing="0" cellpadding="0">
<tbody><tr>
<th style="background: #F5AC78; width: 75px;"> <a href="/wiki/Stats#Attack" title="Stats"><span style="color:#000;">Attack</span></a>:
</th>
<th style="background: #F5AC78; width: 30px;"> 49
</th>
<td style="width: 49px;">
</td></tr></tbody></table>
</td>
<th> <small>48 - 111</small>
</th>
<th> <small>92 - 216</small>
</th></tr>
<tr style="background: #FAE078;">
<td>
<table style="background: #F8D030; border: 1px solid #A1871F;" cellspacing="0" cellpadding="0">
<tbody><tr>
<th style="background: #FAE078; width: 75px;"> <a href="/wiki/Stats#Defense" title="Stats"><span style="color:#000;">Defense</span></a>:
</th>
<th style="background: #FAE078; width: 30px;"> 49
</th>
<td style="width: 49px;">
</td></tr></tbody></table>
</td>
<th> <small>48 - 111</small>
</th>
<th> <small>92 - 216</small>
</th></tr>
<tr style="background: #9DB7F5;">
<td>
<table style="background: #6890F0; border: 1px solid #445E9C;" cellspacing="0" cellpadding="0">
<tbody><tr>
<th style="background: #9DB7F5; width: 75px;"> <a href="/wiki/Stats#Special_Attack" title="Stats"><span style="color:#000;">Sp.Atk</span></a>:
</th>
<th style="background: #9DB7F5; width: 30px;"> 65
</th>
<td style="width: 65px;">
</td></tr></tbody></table>
</td>
<th> <small>63 - 128</small>
</th>
<th> <small>121 - 251</small>
</th></tr>
<tr style="background: #A7DB8D;">
<td>
<table style="background: #78C850; border: 1px solid #4E8234;" cellspacing="0" cellpadding="0">
<tbody><tr>
<th style="background: #A7DB8D; width: 75px;"> <a href="/wiki/Stats#Special_Defense" title="Stats"><span style="color:#000;">Sp.Def</span></a>:
</th>
<th style="background: #A7DB8D; width: 30px;"> 65
</th>
<td style="width: 65px;">
</td></tr></tbody></table>
</td>
<th> <small>63 - 128</small>
</th>
<th> <small>121 - 251</small>
</th></tr>
<tr style="background: #FA92B2;">
<td>
<table style="background: #F85888; border: 1px solid #A13959;" cellspacing="0" cellpadding="0">
<tbody><tr>
<th style="background: #FA92B2; width: 75px;"> <a href="/wiki/Stats#Speed" title="Stats"><span style="color:#000;">Speed</span></a>:
</th>
<th style="background: #FA92B2; width: 30px;"> 45
</th>
<td style="width: 45px;">
</td></tr></tbody></table>
</td>
<th> <small>45 - 106</small>
</th>
<th> <small>85 - 207</small>
</th></tr>
<tr style="background: #A7DB8D;">
<td colspan="3">
<table width="100%" style="background: #78C850; border: 1px solid #4E8234;" cellspacing="0" cellpadding="0">
<tbody><tr>
<th style="background: #A7DB8D; width: 75px;"> Total:
</th>
<th style="background: #A7DB8D; width: 30px;"> 318
</th>
<td style="background: #A7DB8D; border-left: solid 1px #4E8234;"> &nbsp;&nbsp;<a href="/wiki/Category:Pok%C3%A9mon_with_a_base_stat_total_of_318" title="Category:Pokémon with a base stat total of 318"><span style="color:#000;">Other Pokémon with this total</span></a>&nbsp;&nbsp;
</td></tr></tbody></table>
</td></tr>
<tr>
<td colspan="3" style="background: #A7DB8D; border-bottom-left-radius: 10px; -moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px; -khtml-border-bottom-left-radius: 10px; -icab-border-bottom-left-radius: 10px; -o-border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px; -khtml-border-bottom-right-radius: 10px; -icab-border-bottom-right-radius: 10px; -o-border-bottom-right-radius: 10px;">
<ul>
<li><small>Minimum stats are calculated with 0 <a href="/wiki/Effort_values" title="Effort values"><span style="color:#000;">EVs</span></a>, <a href="/wiki/Individual_values" title="Individual values"><span style="color:#000;">IVs</span></a> of 0, and a hindering <a href="/wiki/Nature" title="Nature"><span style="color:#000;">nature</span></a>, if applicable.
</small></li><small>
<li>Maximum stats are calculated with 252 EVs, IVs of 31, and a helpful nature, if applicable.
</li>
</small><li><small>This Pokémon's <span style="background:#8EC7BC;">&nbsp;Special&nbsp;</span> base stat in <a href="/wiki/Generation_I" title="Generation I">Generation I</a> was <b>65</b>.</small>
</li>
</ul>
</td></tr></tbody></table>
<h3>via http://bulbapedia.bulbagarden.net/wiki/</h3>
<h4>Low stats and bulbsaur is uglyyyyy</h4>
<h5>Click back to choose again?</h5>
</center>
</body>

</html>
