<html>

<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/base-min.css">
<link rel="stylesheet" href="/static/home.css" type="text/css" media="screen" />
</head>

<body>

<h0>Fish Milnikiewicz, Pd.7</h0>
<center><h1>Which Starter Pokemon is the Best?</h1></center>
<h2>Why should we study pokemon?</h2>
<h3>Pokemon may seem like a frivolous little game, but the truth is it reveals a lot about human nature.</h3>
<h4>At the beginning of pokemon you are presented with an extremely important decision: your starter pokemon.</h4>
<h5>Your starter is your base, your first acquaintance, your best friend.</h5>
<h6>Which starter is the best?</h6>
<h7>What does the starter you choose reveal about you?</h7>
<br><br><br><br><br><br>
<center><h8>Click on one of the pokeballs to continue.</h8></center>
<br><br>
<center>
<a id="header" href="/choose"></a>
<a id="header" href="/choose"></a>
<a id="header" href="/choose"></a>
<a id="header" href="/choose"></a>
<a id="header" href="/choose"></a>
</center>

</body>
</html>
