<html>
  <head></head>
  <head><center><b><font color=#900000  size = '7'><img width='75' height=75 src='http://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG'> &nbsp; 
	  P<font color =FFCC33 size=7>
	    O</font><font  color=#900000 size=7>
	    K</font><font color =FFCC33 size=7>
	    E</font><font  color=#900000 size=7>
	    D</font><font color =FFCC33 size=7>
	    E</font><font  color=#900000 size=7>
	    X</font> &nbsp; 
	  <img width='75' height=75 src='http://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG'> 
  </b></center></head></font><br><br>
  <body bgcolor =3399FF>
    <table>
      <tr>
	<td>Pokemon ID</td>
	<td>{{ pid }}</td>
      </tr>
      <tr>
	<td>Name</td>
	<td>{{ name }}</td>
      </tr>
      <tr>
	<td>HP</td>
	<td>{{ hp }}</td>
      </tr>
      <tr>
	<td>Attack</td>
	<td>{{ atk }}</td>
      </tr>
      <tr>
	<td>Defense</td>
	<td>{{ defs }}</td>
      </tr>
      <tr>
	<td>Special Attack</td>
	<td>{{ satk }}</td>
      </tr>
            <tr>
	<td>Special Defense</td>
	<td>{{ sdef }}</td>
      </tr>
            <tr>
	<td>Speed</td>
	<td>{{ spd }}</td>
      </tr>
            <tr>
	<td>Total</td>
	<td>{{ ttl }}</td>
      </tr>
    <center><img src=http://24.media.tumblr.com/tumblr_m1203znCsk1rr1vyxo1_500.gif>
    </center><br><br><br>
  </body>
</html>
