{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block bodycontent %}


<div class="pure-u-1-4"></div>
<div class="pure-u-1-2">


<center><h1>Login</h1></center>

{{message}}

<form class="pure-form" method="POST">
  <fieldset class="pure-group">
    <input type="text" class="pure-input-1" name="username" placeholder="Username">
    <input type="password" class="pure-input-1" name="password" placeholder="Password">
  </fieldset>
  <button class="pure-button pure-input-1 pure-button-primary" type="submit" name="b" value="Login">Login</button>
</form>
<br>
<center>
  Don't have an account?
  <a href="{{url_for('register') }}">Register!</a>
</center>
<br>
</center>

</div>
<div class="pure-u-1-4"></div>


{% endblock %}
