* {
    font-family: Open Sans; 
    font-size: 18px;
}

body {
    background-color: #eeeeee;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    text-decoration: underline;
}

a {
    font-size: 14px;
}

div#container {
    padding: 10px;
    margin: 0 auto;
}

div.table_wrapper {
    padding: 5px;
    overflow-x: scroll;
}

table {
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 1px 1px 2pt 1pt black;
    border-collapse: collapse;
    margin: 0 auto;
}

th {
    font-size: 21px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #2e2e2e;
    color: #eeeeee;
}

td {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

th:first-of-type {
    border-top-left-radius: 5px;
}

th:last-of-type {
    border-top-right-radius: 5px;
}

tr:last-of-type td:nth-last-of-type(1) {
    border-bottom-right-radius: 5px;
}

tr:last-of-type td:nth-last-of-type(2) {
    border-bottom-left-radius: 5px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #eeeeee;
}

tr:hover {
    background-color: #cccccc;
}

hr.horizontal_divider {
    width: 100%;
    height: 1px;
    border: none;
    box-shadow: 0px 0px 1pt 1pt #999999;
    background-color: #777777;
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 1 9px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.06);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: rgba(177,177,177,0.2);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
