<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link href="images/favicon.ico" rel="shortcut icon">
<style type="text/css">
body{
background-color: #CA2E15;
}
h1{
color: #FD7B67;
font-size:48px;
text-align: center;
margin-top:5%;
}
p{
color: #E6513A;
font-size:32px;
text-align: center;
}
input{
margin:2px auto;
}
button{
margin:5px auto;
color: #109538
}
#info{
margin:5px auto;
width:65%
}
#actual-blog{
height: 460;
width:100%
}
a{
color: #4CBB6E;
}
a:hover{
color: #2BAA51;
}
</style>
</head>
<body>
<div class="pure-g">	
<div class="pure-u-1-5"></div>
<div class="pure-u-3-5">
<h1><u>About Us</u></h1>
<center>
</form>
</center>
<font size="20">
We hope you decide to join us on Libman EnterprisesⓇ. We always aim to please our customers, and everything is up to Libman EnterprisesⓇ standards. Please enjoy our website, and feel free to browse. Sign up with us today!
<br><br>
Created by Alex Libman and David Dvorkin period 7.
<br><br>
<a href="/home">Link to Login</a>
</font>
<form method="POST">
</div>
<div class="pure-u-1-5"></div>
</body>
</div>
</html>
