<!-- Sourced from http://codepen.io/frytyler/pen/EGdtg -->
<html>

<head>
<link rel="stylesheet" type="text/css" href="../static/css/loginstylesheet.css" >
</head>

<body>
<div class="login">
	<h1>Landing Page!</h1>
	<p><center>You should be able to see this page even if you aren't logged in. It will have lots of interesting information about all the cool stuff our website will do. It will also have links to the gitub source and stuff. Yeah! </p>
<br>
<iframe src="http://ghbtns.com/github-btn.html?user=afischer&repo=SoftDev_Proj03_MongoLogin&type=fork&size=large" height="30" width="100" frameborder="0" scrolling="0" style="width:100px; height: 30px;" allowTransparency="true"></iframe>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="#" data-size="large"  data-count="none">Tweet</a><script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
<br> <br>
<center>
		<a href="/signup"> Sign up </a>  |  <a href="/about"> About </a>
</center>
</div>
</body>

</html>
