<!-- Sourced from http://codepen.io/frytyler/pen/EGdtg -->
<html>

<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
</style>
</head>
<body>
<div class="bs-example">
	<ul class="nav nav-tabs">
        <li class=""><a href="#"><span class="glyphicon glyphicon-home"></span>  Home</a></li>
        <li class="active"><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        <li class=""><a href="#"><span class="glyphicon glyphicon-envelope"></span> Messages</a></li>
	<li class="pull-right"><a href="#">Logged In As Andrew</a></li>
    </ul>
</div>


</head>

<body>
<body>

    YOU CAN'T SEE THIS UNLESS YOU'RE LOGGED IN!!


</body>
</div>
</body>

</html>
