{% extends "base.html" %}

{% block notloggedin %}
    Log in <a href="{{ url_for('login') }}">here</a>!
{% endblock notloggedin %}

{% block logoutlink %}
    <br>Log out <a href="{{ url_for('logout') }}">here</a>!
{% endblock logoutlink %}

{% block bodycontent %}
<br>
<br>
<div class="container">
    
    <div class="panel panel-info">
        
        <div class="panel-heading">
            <center><h3>Pick an animal!</h3></center>
        </div>
        
        <table class="table table-striped">
            <tr><td><a href="{{ url_for('otter') }}">Otters!</a></td></tr>
            <tr><td><a href="{{ url_for('kitten') }}">Kittens!</a></td></tr>
        </table>
        
    </div>
    
</div>

{% endblock bodycontent %}
