<!DOCTYPE html>

<head>
  <title>Mongo Lassi!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/flatly/bootstrap.min.css">
  <link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">
</head>

<div class="container" align="center">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category,message in messages %}
      {% if category == 'error' %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
      {% else %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% endwith %}
</div>

<div class="container" align="right">
  {% with user = session['user'] %}
    {% if user==NULL %}
       {% block notloggedin %}
       {% endblock notloggedin %}
    {% else %}
       User: {{user}}
       {% block logoutlink %}
       {% endblock logoutlink %}
    {% endif %}
  {% endwith %}
</div>

<body>

 {% block bodycontent %}

 {% endblock bodycontent %}
 
</body>
