{% extends "base.html" %}

{% block notloggedin %}
    Log in <a href="{{ url_for('login') }}">here</a>!
{% endblock notloggedin %}

{% block logoutlink %}
    <br>Log out <a href="{{ url_for('logout') }}">here</a>!
{% endblock logoutlink %}

{% block bodycontent %}

<center> <h1>Welcome to Mongo Lassi!</h1> </center>

<div class="container">
    <center>
        <img src="http://s13.postimg.org/bhg6t6yx3/home_img.jpg" class="img-responsive img-circle">
    </center>
</div>

{% endblock bodycontent %}

<!--img srcs: http://static.ebayclassifieds.com/static/1410210540/img/category_info//pets/dogs-puppies/border-collie.jpg & http://www.moevenpick-icecream.com/Professional/recipes/Pages/Recipes-Generator.aspx?Flavour=Yogurt -->
