<html>
<head>
<title>Data</title>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="http://purecss.io/css/layouts/side-menu.css">
<script src="http://purecss.io/js/ui.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div style="font-family:'Century Gothic,Helvetica',Arial">

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="#">Data Project</a>

            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#definitions">About</a></li>
                <li><a href="#settings">Settings</a></li>
                <li><a href="#data">Data</a></li>
                <li><a href="#analysis">Analysis</a></li>
            </ul>
        </div>
    </div>
    <div id="main">
        <div class="header">
            <h1>Intro Data Project</h1>
            <h2>An analysis of stock price data</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">Project Info</h2>

<p style='font-size:12'>
Tsui, Derek<br>
DATASET: DJIA Historical Price Data<br>
DATA SOURCE: <a href='http://research.stlouisfed.org/fred2/series/DJIA/downloaddata'>DJIA Historical Data</a>
</p>
<a id='definitions'></a>
<br>
<h2 class="content-subhead">Technical Terms</h2>

<p>This analysis focuses on technical analysis of stock data, mainly used to analyze past price trends in predicting future movements.</p>

<p><b>Change</b> -- The change in price from the previous day.<br>

<p><b>Moving Average (MA)</b> -- an average of the previous few days of a stock's performance.  The MA(10), for example, averages the last 10 days of data.  When a smaller number of days is used, it reflects a short-term average.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;When a short-term average crosses above a long-term average it is generally seen as a bullish (positive) sign, because recent performance is improving relative to past performance.</p>

<p><b>Relative Strength Index (RSI)</b> -- a measure, btw. 0 and 100, of the relative strength of a stock within previous few days.  Reflects magnitude of ups vs. downs.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The higher the RSI, the stronger its recent performance.  However, RSIs of 30 and 70 are seen as oversold and overbought, respectively, and are typical reversal points.</p>
<p>The following columns on the data table below were calculated: CHANGE, %CHANGE, MA10, MA15, RSI10</p>
<br>

<a id='settings'></a>
<br>
<h2 class="content-subhead">Display Settings:</h2>
<form method='post'>
Data Range (Years: 1896 - 2013):<br><br>

Start Year: <input type='text' name='start' value = '2000'><br>
End Year: <input type='text' name= 'end' value = '2013'><br>
<br>
Sort by:<br>
<input type='radio' name='sortby' value='date'>Date<br>
<input type='radio' name='sortby' value='price'>Price<br>
<input type='radio' name='sortby' value='pct'>% Change<br>
<br>
Sort order:<br>
<input type='radio' name='sortorder' value='inc'>Increasing<br>
<input type='radio' name='sortorder' value='dec'>Decreasing<br>
<br>
<input type="submit" name="button" value="submit">
</form>

<a id='data'><br></a>
<h2 class="content-subhead">Data</h2>
<p>Sorted by <u>{{sortby}}</u> in <u>{{order}}reasing</u> order</p>
