<html>
<head>
<title>Data</title>
</head>
<body style='background-color:#FFFFAD'>

<div style="font-family:'Century Gothic,Helvetica',Arial">

<table width =100%>
<tr>
<td width = '75%'>
<p style='font-size:12'>
Tsui, Derek<br>
MKS22-20<br>
Period-7<br>

DATASET: Dow Jones Industrial Average Historical Price Data<br>

DATA SOURCE: <a href='http://research.stlouisfed.org/fred2/series/DJIA/downloaddata'>DJIA Historical Data</a><br>
</p>
</td>
<td width = 25%>
<a href='#definitions'>Definitions</a><br>
<a href='#settings'>Settings</a><br>
<a href='#data'>Data</a><br>
<a href='#analysis'>Analysis</a>
</td>
</tr>
</table>
<hr>
<a id='definitions'></a>
<p>This analysis focuses on technical analysis of stock data, mainly used to analyze past price trends in predicting future movements.</p>

<p><b>Change</b> -- The change in price from the previous day.<br>

<p><b>Moving Average (MA)</b> -- an average of the previous few days of a stock's performance.  The MA(10), for example, averages the last 10 days of data.  When a smaller number of days is used, it reflects a short-term average.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;When a short-term average crosses above a long-term average it is generally seen as a bullish (positive) sign, because recent performance is improving relative to past performance.</p>

<p><b>Relative Strength Index (RSI)</b> -- a measure, btw. 0 and 100, of the relative strength of a stock within previous few days.  Reflects magnitude of ups vs. downs.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The higher the RSI, the stronger its recent performance.  However, RSIs of 30 and 70 are seen as oversold and overbought, respectively, and are typical reversal points.</p>
<p>The following columns on the data table below were calculated: CHANGE, %CHANGE, MA10, MA15, RSI10</p>
<br>
<hr>