<!DOCTYPE html>
<head>
  
  <title>Login Form</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <section class="container">
    <div class="login">
      <h1>Login to Web App</h1>
      <form method="post" action = "/index">
        <p><input type="text" name="username" value="" placeholder="Username"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
        <p class="submit"><input type="submit" name="commit" value="Login"></p>
	Do not have an account? <a href = "/register"> Register </a></p>
      </form>
    </div>

</body>
</html>
