<!DOCTYPE html>
<head>
  
  <title>Register Form</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <section class="container">
    <div class="login">
      <h1>Register to Web App</h1>
      <form method="post" action = "/register">
        <p><input type="text" name="username" value="" placeholder="Username"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
        <p class="submit"><input type="submit" name="commit" value="Register"></p>
	About this <a href = "/About"> site </a></p>
	Go back to <a href = "/Login"> Log In </a>
      </form>
    </div>

</body>
</html>
