<style>
 h1 { border-width:2px;}
 #l { font-size:50px;}
 #m { font-size:34px;}
 .c { background-color:F5ADAD;}

 .right  {float:right;}
 .center {float:center;}
 li:hover {background:aqua;}
 li:active {background:red;}
  </style>
<html>
<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
</head>
<body>
<h1> Some interesting facts about restaurants in NYC </h1>
<h2>zipcodes </h2>
<ol>
<li>Zipcode with the most grade A restaurants: 10003 </li>
<li>Zipcode with the most grade B restaurants: 10003 </li>
<li>Zipcode with the most grade C restaurants: 10013 </li>
<li>Zipcode with most Eastern European restaurants: 11235 </li>
<li>Zipcode with most Jewish/Kosher restaurants: 11230 </li>
<li>Zipcode with most Mexican restaurants: 11368 </li>
</ol>
<form class="rounded c center" id="m" method="POST" action="/">
<input id="m" type="submit" value="Return"> 
</form>
</body>
</html>
