<style>
 h1 { border-width:2px;}
 #l { font-size:50px;}
 #m { font-size:34px;}
 .c { background-color:F5ADAD;}

 .right  {float:right;}
 .center {float:center;}
 li:hover {background:aqua;}
 li:active {background:red;}
  </style>
<html>
<body>
{% if d==None or boro==None: %}
<h1 class = "c"> You must input stuff </h1>
{% else: %}
<h1 class="c">Number of Restaurants by Grade in {{boro}} </h1>
<table>
{% for key, value in d.iteritems() %}
   <tr>
        <th> {{ key }} </th>
        <td> {{ value }} </td>
   </tr>
{% endfor %}
</table>
<form method="POST">
<input type="submit" name="b" value="return">
</form>
{% endif %}
</body> 
</html>
