<style>
h1 { border-style:dashed;
border-color:purple;
border-width:5px;
background:yellow;
align="center"

}
</style>
<h1> Hello and welcome to Victor's Project </h1>
<h1> Data set and analysis provided by Isaac Gluck, his sophomore year
  data project</h1>
<h1> The stuff might look a bit weird because I have no idea how to
  make stuff look good besides working out </h1>
<h1> That was a joke. You can laugh </h1>
<h1> Ill be leaving now </h1>
<h1> Link to the <a href="/data">data</a>
<h1> Link to the <a href="/zestats">analysis</a>



