<link rel="stylesheet" href="/static/style.css" type="text/css">

<h2>
<div class="login-card">
<form method="POST">
<h2> Login </h2><br>
<input type="text" name="uname" placeholder="Username">
<input type="password" name="pword" placeholder="Password">
<p>


<input type="submit" name="b" class="login login-submit"  value="login">
<input type="submit" name="b" class="login login-submit"  value="cancel">

</form>
<p class="error">{{errmess}}</p>
</h2>

<body>
<h1> Hello and welcome to Victor's Project.
  Data set and analysis provided by Isaac Gluck, his sophomore year
  data project. The stuff might look a bit weird because I have no idea how to
  make stuff look good besides working out. 
  That was a joke. You can laugh. 
  I'll be leaving now.
  <p>Login above to obtain access to data and analysis
  </h1>
</body>

