{% extends 'layout.html' %}


{% block body %}
<h1>All Colleges matching your preferences:</h1>
{% if collegematch|length == 0 %}
Sorry, no colleges matched your search
{% else %}
<form action="/colleges" method="post" class="pure-form pure-form-aligned">
<fieldset>
{% for college in collegematch %}
<input type="checkbox" name="college" value={{college['name']}}><b> {{college['name']}}</b><br>
<div style="margin-left:30px;"> {{college['description']}} </div>
{% endfor %}
<br>
<button type="submit" name="submit" value="gpa" class="pure-button">submit</button>
</fieldset>
{% endif %}
{% endblock %}