{% extends 'layout.html' %}


{% block body %}
<h1>All Colleges matching your preferences:</h1>
{% if Clist|length == 0 %}
Sorry, no colleges matched your search
{% else %}
<form action="/colleges" method="post" class="pure-form pure-form-aligned">
<fieldset>
{% for list in Clist %}
<input type="checkbox" name="college" value={{list[1]}}><b> {{list[0]['name']}}</b><br>
<div style="margin-left:30px;"> {{list[0]['description']}} </div>
{% endfor %}
<br>
<button type="submit" name="submit" value="gpa" class="pure-button">submit</button>
</fieldset>
{% endif %}
{% endblock %}