
<!DOCTYPE html>

<html>
<head>
	<title>Showing Off CSS and Flask Competency</title>
	<style>
		body{
			background-color: #129672;
		}
		li{
			color: #A0D0F0;
		}
		h1{
			text-align: center;
			color: #82A4E0
		}
		hr{
			color: #646412;
			width: 5;
		}
	</style>
</head>

<body>
	<h1>Showing Off CSS And Flask Skills </h1>
	<br>
	<hr>
	<br>
	<ul>
		<li>Daniel Zabari
		<li>Natan Zamansky
	</ul>
	<br>
	<hr>
	<br>
	
	Two random values:<br>
	<ol>
	<li>{{var1}}<br>
	<li>{{var2}}<br>
	</ol>
	Tada!!<br>
	Another page:<br>
	<a {{var3}}>Here!</a>

</body>
