
<!DOCTYPE html>

<html>
<head>
	<title>Showing Off CSS and Flask Competency</title>
	<style>
		body{
			background-color: #129672;
		}
		li{
			color: #A0D0F0;
		}
		h1{
			text-align: center;
			color: #82A4E0
		}
		hr{
			color: #646412;
			width: 5;
		}
	</style>
</head>

<body>
	<h1>Showing Off CSS And Flask Skills </h1>
	<br>
	<hr>
	<br>
	<ul>
		<li>Daniel Zabari
		<li>Natan Zamansky
	</ul>
	<br>
	<hr>
	<br>
	<h1>Check out these pages!</h1>
	<br>
	<ol>
		<li>Main Page:
		<li>Chart Page: data
	<ol>
</body>
