
<!DOCTYPE html>

<html>
<head>
	<title>Showing Off CSS and Flask Competency</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	<style>
		body{
			background-color: #129672;
		}
		li{
			color: #A0D0F0;
		}
		h1{
			font-family: "Times New Roman";
			text-align: center;
			color: #82A4E0
		}
		hr{
			color: #646412;
			width: 5;
		}
		b{
			font-size: 125%;
		}
	</style>
</head>

<body>
	<h1>Showing Off CSS And Flask Skills </h1>
	<br>
	<hr>
	<br>
	<h1>Welcome to your reckoning.</h1>
	<br>
	<hr>
	<br>
	
	<h2>Login here:</h2>
	<form class="pure form pure-form-aligned">
	<fieldset>
	  <div class="pure-control-group">
	  	<label for="firstname"><b>First name:</b></label>
		<input type="text" name="firstname" placeholder="First Name"><br>
	  </div>
	  <div class="pure-control-group">
	  	<label for="lastname"><b>Last name:</b></label>
	  	<input type="text" name="lastname" placeholder="Last Name">
	  </div>
	</fieldset>
	</form>

</body>
