
<!DOCTYPE html>

<html>
<head>
	<title>Showing Off CSS and Flask Competency</title>
	<style>
		body{
			background-color: #129672;
		}
		li{
			color: #A0D0F0;
		}
		h1{
			text-align: center;
			color: #82A4E0
		}
		hr{
			color: #646412;
			width: 5;
		}
	</style>
</head>

<body>
	<h1>Showing Off CSS And Flask Skills </h1>
	<br>
	<hr>
	<br>
	<h2>Welcome to your reckoning.</h1>
	<br>
	<hr>
	<br>
	
	Login here:
	<form>
	  First name: <input type="text" name="firstname"><br>
	  Last name: <input type="text" name="lastname">
	</form>

</body>
