{% extends "layout.html" %}

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<html>
  <head>
    {% block body %}
    <title>About Page</title>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
	<ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="about">About</a></li>
          <li><a href="account">Account</a></li>
          <li><a href="logout">Logout</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  <li class="divider"></li>
	  <li class="navbar-brand">Welcome {{ username }}</li>
	</ul>
      </div>
    </nav> 
  </head>
  <div class="container">
    <center>
      <div class="jumbotron">  
	<center>
	  <h1>
	    This website isn't really about anything. The user can just pick a picture of a manatee to represent them. 
	  </h1>
	</center>
      </div>
      {% endblock %}
</html>
