{% extends "layout.html" %}

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<html>
  <head>
    {% block body %}
    <title>User Home</title>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
	<ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="about">About</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  <li class="active"><a href="login">Login</a></li>
	  <li class="divider"></li>
	</ul>
      </div>
    </nav>   

  </head>
  <body style="font-size: 150%;">
    <div class="container">
      If you are not already a user, sign up <a href="register"> here </a>
      <br> <br>
      Sign In:
      <br>
      <form name="input" action="" method="POST"> 
      <div class="row">
	<div class="col-md-1">Username:</div>
	<div class="col-md-2"><input type="text" name="username"></div>
      </div>
      <div class="row">
	<div class="col-md-1">Password:</div>
	<div class="col-md-2"><input type="password" name="password"></div>
      </div>
	<button type="submit" class="btn btn-default">Submit</button>
      </form> 
    </div>
  </body>
</html>

</html>
{% endblock %}
