{% extends "layout.html" %}
{% block body %}

<html>
Register Here: 
<form name="input" action="" method="POST">
Username: <input type="text" name="username" placeholder="PICK AN AWESOME NAME"><br>
Password: <input type="password" name="password" placeholder="PICK A SOLID PASSWORD">


<br>
Pick a Manatee Picture: <br>
<input type="text" name="manatee" placeholder="The number of the photo you like"><br>
1<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHMWkgpCaI9ybEfMJZGRMMNcyoAehisCnhGrlpXl8c6fdrjNoF2rhiHAc" alt="M1" width=150 height=100>
2 <img src="http://ngm.nationalgeographic.com/2013/04/manatees/img/01-florida-manatee-670.jpg" alt="M2" width=150 height=100>
3<img src="http://i.huffpost.com/gen/1273181/thumbs/o-MANATEE-900.jpg?1" alt="m3" width=150 height=100>
4 <img src="http://i.huffpost.com/gen/1272530/thumbs/o-MANATEES-900.jpg?5" alt="m4" width=150 height=100><br>
<input type="submit" value="Submit">
</form>


</html>
 
{% endblock %}
