{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block body %}

{% if session['username'] %}
You are already logged in.

{% else %}

{% if error %}
Invalid username and password combination. Please try again.
{% endif %}

<form method="POST" class="pure-form pure-form-aligned">
  <fieldset>
    <legend>Log into your account</legend>
    <div class="pure-control-group">
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="Username">
    </div>
    <div class="pure-control-group">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Password"><br>
    </div>
    <div class="pure-controls">
      <input type="submit" class="pure-button pure-button-primary" name="button" value="login">
      <input type="submit" class="pure-button pure-button-primary" name="button" value="cancel">
    </div>
  </fieldset>
</form>
{% endif %}

{% endblock %}
