<h1>Question {{qnum}}</h1>
<br>

<h2>{{question}}</h2>
<br>

<form>

<input type="radio" name="a{{qnum}}" value="{{choice1}}">{{choice1}}<br>
<input type="radio" name="a{{qnum}}" value="{{choice2}}">{{choice2}}<br>
<input type="radio" name="a{{qnum}}" value="{{choice3}}">{{choice3}}<br>
<input type="radio" name="a{{qnum}}" value="{{choice4}}">{{choice4}}<br>

<input type="submit" value="Continue">

<input type="hidden" name="a1" value={{a1}}>
<input type="hidden" name="a2" value={{a2}}>
<input type="hidden" name="a3" value={{a3}}>
<input type="hidden" name="a4" value={{a4}}>
<input type="hidden" name="a5" value={{a5}}>

</form>

