<h1>Question {{qnum}}</h1>
<br>

<form>
<input type="radio" name="a{{qnum}}" value="one">one<br>
<input type="radio" name="a{{qnum}}" value="two">two<br>
<input type="radio" name="a{{qnum}}" value="three">three<br>
<input type="radio" name="a{{qnum}}" value="four">four<br>

<input type="submit" value="Continue">

<input type="hidden" name="a1" value={{a1}}>
<input type="hidden" name="a2" value={{a2}}>
<input type="hidden" name="a3" value={{a3}}>
<input type="hidden" name="a4" value={{a4}}>
<input type="hidden" name="a5" value={{a5}}>

</form>

