<html>


<title>Login Page</title>
<head>
<link rel="stylesheet" href="/static/login.css" type="text/css" media="screen" />
<link rel="shortcut icon" href="/static/sat.ico">
</head>
<h1 class="centered"> Login <h1>

<br>

<body class="center">
<form method = "POST">
  <br>Username: <input type = "text" class = "textbar" placeholder = "Username" name = "user">
<br>
<br>
Password: <input type = "password" class = "textbar" placeholder = "Password" name = "pwd">
<br>
<br>
<input type = "submit" name = "login" value = "Login">

<form>
</body>

</html>
