
<!doctype html>
<html>

<center><h1>The Analysis</h1></center>
  <body>

<hr>
<h2>Background</h2>
<font color="#017890" size=4>Looking at this data and using our knowledge of League of Legends, we soon came up with two ideas
for trends in the data. First, we wondered if champions were priced based upon their viability and thus have a better win rate.
If this were true, that means that League of Legends is not a fair game and you can "buy" skill in this game.
If not, then the game would be fair. After we found that out, we moved on to a concept in League: ranged champions
can attack at a safer distance that melee champions, therefore taking less damage than them. We now wanted to see
if Riot gave an advantage to melee champions to counteract this disadvantage. Thus, we looked at base armor and decided
to calculate the average base armor of melee champs with the average  base armor of ranged ones.
<br><hr>
</font> <font color="black"> <h2>Analysis</h2> </font>
<font color="#DF7782" size=4>1) Looking at this data, we find that there are 5 IP costs(450,1350,3150,4800,6300) Using a code, we can find the average win rate of each tier of IP costs. Thus, we have:<br><br>
<table align="center" border="1"><tr> <td>IP Cost</td> <td>Win Rate</td>
<tr> <td>450</td> <td>0.49077</td> </tr>
<tr> <td>1350</td> <td>0.501472727273</td> </tr>
<tr> <td>3150</td> <td>0.480554166667</td> </tr>
<tr> <td>4800</td> <td>0.497158333333</td> </tr>
<tr> <td>6300</td> <td>0.492684375</td> </tr>
</table><br> <br>
<font color="#DF7782" size=4>The win rate of all 5 tiers of IP costs are all very near 50%, thus we can conclude that IP cost does not determine how good a champion is.
<br><br>
<font color="#613D2D" size=4>2) We also used a code to find the average starting armor value for ranged champions compared
to melee champions:<br><br><table align="center" border="1"><tr> <td>Range
</td> <td>Armor</td> </tr>
<tr> <td>Ranged</td> <td>11.7540816327</td> </tr>
<tr> <td>Melee</td> <td>16.4103174603</td> </tr>
</table><br> <br><font color="#613D2D" size=4>According to the data, we found that Riot has compensated for melee champions by increasing their starting armor!
This allows them to go up against ranged champions without being at a huge disadvantage by taking
 too much damage.<br></font><br><hr>
</font> <font color="black"> <h2>Conclusion</h2> </font>
<font color="#E95D22" size=4>According to the above data, we can conclude that:
League of Legends is definitely a fair game. The fact that the champions with the second to least amount of IP Cost has the
highest winning rate shows that skill cannot be bought in this game. <br>
Some obstacles we overcame were:<br>
1) Grouping the same values of IP and Range<br>
2) Sorting the Data so that viewers can access the data easily and comfortably<br>
3) Making sure the html tags were printed in the right place.<br>
4) Splitting the table and photo so that the comparison of two champs would look nicer.<br>
There is certainly a trend in relation to armor and range for melee champions and ranged champions. While ranged champions
have an advantage in that they can keep its distance from the enemy while damaging them, melee champions were given better armor
in order to stand a fair fight against ranged champions. Now, it's time to surrender at 20, and be out. <br><font color="pink" size=2>#Leagueislife</font>

<!--the beginning of the table--><center><table border="0" bgcolor="#D9CCB9" width="85%"><tr><td><center><br><br><br><p style="text-shadow:5px 10px 10px #613D2D;"><font size="5" color="#613D2D">"Oh, what do you want?"<br>-Twitch <br></font></p><br><br><img src="resources/Twitch.jpg" width="90%" img style="border:15px solid #D9CCB9"><br><br><br></center></td></tr><tr><td><center><p style="text-shadow:5px 10px 10px #8FBCDB;"><br></font></p></center></td> </tr><tr><td><br><center></td></tr></table><!--the end of the table--></center>
<form method="post">
    
    <input type="submit" value="HOME">
</form>
</body>
</html>

<! 5-20: The form used for comparison now works.>
<! 5-21: Re-vamp. We changed the whole color scheme, fonts, tried to make it look clean and "handsome".>
<! 5-22: Changed compare function to use the champion stats instead of ip costs and popularity, also added color to the table.>
<! 5-23: The function used to compare champs now displays a picture and two seperate tables for the champions.>

