<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='test.css')}}">
	<title>About</title>
</head>
<body>
	<div class = "main">
		<h1>About</h1>
		<div id = "navcontainer">
			<ul id = "navbar"> 
				{% for k in nav.keys() %} 
				<li><a href = {{nav[k]}}>{{k}}</a></li>
				{% endfor %}
			</ul>
		</div>
		<p>This is really just us messing around with css and tables <strike>and other poo</strike>, honestly.</p>
		<p class = "bottom"> 
			by jessica ng and fawn wong
		</p>
	</div>
</body>
