<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='test.css')}}">
    <title>Feel the Rainbow</title>
</head>
<body>
    <div>
      <h1>Taste the Rainbow</h1>
      by jessica ng and fawn wong
      <br><br>
      <h1>About</h1>
      <a href = "/about">About</a>
      <br><bt>
      <h1>Lincoln Square BID Business List</h1>
      <a href = "/table">Data</a>
      <br><br>
      <h1>The Picketfence Code</h1>
      <a href = "/input">Input</a>
      <br><br>
    </div>
</body>
