<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='test.css')}}">
  </head>
  <title>The Picketfence Code</title>
  <body>
    <div>
      <h1>The Picketfence Code</h1>
      by jessica ng and fawn wong
      <br><br>
    </div>
    <form>
      <br>
      <br>
      <p>
	<input type="text" name="input">
      </p>
      <p>
	<input type = "submit" name = "button" value = "Codify!"></submit>
<input type="submit" name="button" value="Decodify!"></submit>
</p>
</form>
</body>
</html>
