<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" type="text/css" href="test.css">
</head>
<body>
  <div class = "main">
    <h1>Header</h1>
    <p>This is some body text. woo.</p>
    <table>
      <th>Header 1</th>
      <th>Header 2</th>
      <th>Header 3</th>
      <tr>
	<td>1</td>
	<td>one</td>
<td>I</td>
      </tr>
      <tr>
	<td>2</td>
	<td>two</td>
	<td>II</td>
      </tr>
      <tr>
	<td>3</td>
	<td>three</td>
	<td>III</td>
      </tr>
    </table>
    <br>
  </div>
</body>	
