
<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Login</title>
  </head>

  <body>
    <h1 class="col-sm-offset-2">Login</h1>
    
    
    <form class="form-horizontal" role="form" method="POST">
      <div class="form-group">
	<label for="user" class="col-sm-2 control-label">Username</label>
	<div class="col-sm-3">
	    <input type="text" name="user" class="form-control" placeholder="Username">
	    </div>
      </div>
      
      <div class="form-group">
	<label for="pass" class="col-sm-2 control-label">Password</label>
	<div class="col-sm-3">
	    <input type="text" name="pass" class="form-control" placeholder="Password">
	    </div>
      </div>
      
      <div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
	    <input type="submit" name="button" class="btn btn-default" value="Login"> 
	      <font color="#FF0000">{{message}}</font>
	      </div>
      </div>
      <div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
	    Don't have an account?<button type="button" class="btn btn-link"><a href="/register">Register here</a></button>
	    </div>
      </div>
    </form>
   </body>
</html>
