<!doctype html>
<title>Healthiest States</title>
<div class=page>
<link rel=stylesheet type=text/css 
      href="../static/style.css"/>
<head>
  <div class="box">
    <h1>Healthiest States: A Revisit</h1>

    <h2>Originally by Ivette Chen, Viola Zhang, and Elise Zlotnikova
      <br>
      Redone by Vanessa Yan and Elise Zlotnikova
    </h2>

    <div align="center">
      <img src={{img}} height="300">
    </div>    

    <br>
    <h3>
      The states with a higher percentage of red meat production and consumption have a higher death rate.
    </h3>

    <h3>
      States that produce more organic meat than regular meat have lower death rates.
    </h3>
</head>

<body>

<!-- YOOOOO ELISE THIS IS WHERE YOU PUT THE STUFF
THAT SAYS THIS IS THE TABLE
DOUBLE CURLY BRACKETS FOR VARIABLES
YOU CAN CHECK OUT MY IMG RANDOMIZER FOR REFERENCE-->
<table>
  <tr>
    <th><center>Healthiest</center></th>
    <th><center>States</center></th>
    <th><center>Red Meat</center></th>
    <th><center>White Meat</center></th>
    <th><center>Organic (Beef)</center></th>
    <th><center>Regular (Beef)</center></th>
    <th><center>Organic vs Total Meat Consumption (percentage)</center></th>
    <th><center>Percentage of Red Meat</center></th>
    <th><center>Percentage of White Meat</center></th>

</table>
</div>
</body>
