<!doctype html> 

<!doctype html>
<title>Healthiest States</title>
<div class=page>
<link rel=stylesheet type=text/css 
      href="../static/style.css"/>
<head>
  <div class="box">
    <h1>Healthiest States: A Revisit</h1>

    <h2>Originally by Ivette Chen, Viola Zhang, and Elise Zlotnikova
      <br>
      Redone by Vanessa Yan and Elise Zlotnikova
    </h2>

    <div align="center">
      <img src=static/img/cow.jpg height="300">
    </div>    

    <br>
    <h3>
      The states with a higher percentage of red meat production and consumption have a higher death rate.
    </h3>

    <h3>
      States that produce more organic meat than regular meat have lower death rates.
    </h3>
    <h4>
      Ranked By: {{rankedBy}}
    </h4>
</head>

<table>
  <tr>
    <th><center>Healthiest Rank</center></th>
    <th><center>States</center></th>
    <th><center>Red Meat</center></th>
    <th><center>White Meat</center></th>
    <th><center>Organic (Beef)</center></th>
    <th><center>Regular (Beef)</center></th>
    <th><center>Organic vs Total Meat Consumption (percentage)</center></th>
    <th><center>Percentage of Red Meat</center></th>
    <th><center>Percentage of White Meat</center></th>
  <tr>
<td><center>1</center></td>
<td><center>Minnesota</center></td><td><center>16530.0</center></td>
<td><center>155883.0</center></td>
<td><center>1759.0</center></td>
<td><center>399768.0</center></td>
<td><center>0.438077638615</center></td>
<td><center>9.58744410224</center></td>
<td><center>90.4125558978</center></td><tr>
<td><center>2</center></td>
<td><center>Hawaii</center></td><td><center>205</center></td>
<td><center> </center></td>
<td><center>205.0</center></td>
<td><center>86000.0</center></td>
<td><center>0.237805231715</center></td>
<td><center>100.0</center></td>
<td><center>0.0</center></td><tr>
<td><center>3</center></td>
<td><center>New Hampshire</center></td><td><center>902.0</center></td>
<td><center>171342.0</center></td>
<td><center>51.0</center></td>
<td><center>4981.0</center></td>
<td><center>1.01351351351</center></td>
<td><center>0.523675715845</center></td>
<td><center>99.4763242842</center></td><tr>
<td><center>4</center></td>
<td><center>Vermont</center></td><td><center>23050.0</center></td>
<td><center>7168.0</center></td>
<td><center>1131.0</center></td>
<td><center>10002.0</center></td>
<td><center>10.158986796</center></td>
<td><center>76.2790389834</center></td>
<td><center>23.7209610166</center></td><tr>
<td><center>5</center></td>
<td><center>Utah</center></td><td><center>349</center></td>
<td><center></center></td>
<td><center>269.0</center></td>
<td><center>364744.0</center></td>
<td><center>0.0736960053478</center></td>
<td><center>100.0</center></td>
<td><center>0.0</center></td><tr>
<td><center>6</center></td>
<td><center>Massachusetts</center></td><td><center>776.0</center></td>
<td><center>1239.0</center></td>
<td><center>45.0</center></td>
<td><center>8646.0</center></td>
<td><center>0.517777010701</center></td>
<td><center>38.5111662531</center></td>
<td><center>61.4888337469</center></td><tr>
<td><center>7</center></td>
<td><center>Connecticut</center></td><td><center> </center></td>
<td><center>456</center></td>
<td><center> </center></td>
<td><center>5982</center></td>
<td><center> </center></td>
<td><center>0.0</center></td>
<td><center>100.0</center></td><tr>
<td><center>8</center></td>
<td><center>California</center></td><td><center>78771.0</center></td>
<td><center>2213429.0</center></td>
<td><center>13177.0</center></td>
<td><center>662423.0</center></td>
<td><center>1.95041444642</center></td>
<td><center>3.43648023733</center></td>
<td><center>96.5635197627</center></td><tr>
<td><center>9</center></td>
<td><center>Nebraska</center></td><td><center>12077.0</center></td>
<td><center>6501945.0</center></td>
<td><center>6213.0</center></td>
<td><center>1889842.0</center></td>
<td><center>0.327680367922</center></td>
<td><center>0.185400049309</center></td>
<td><center>99.8145999507</center></td><tr>
<td><center>10</center></td>
<td><center>Iowa</center></td><td><center>17419.0</center></td>
<td><center>509283.0</center></td>
<td><center>3602.0</center></td>
<td><center>904100.0</center></td>
<td><center>0.396826271177</center></td>
<td><center>3.30718318898</center></td>
<td><center>96.692816811</center></td><tr>
<td><center>11</center></td>
<td><center>Wisconsin</center></td><td><center>51527.0</center></td>
<td><center>890788.0</center></td>
<td><center>3195.0</center></td>
<td><center>269820.0</center></td>
<td><center>1.17026537003</center></td>
<td><center>5.46812902267</center></td>
<td><center>94.5318709773</center></td><tr>
<td><center>12</center></td>
<td><center>Washington</center></td><td><center>18404.0</center></td>
<td><center>217.0</center></td>
<td><center>2000.0</center></td>
<td><center>274001.0</center></td>
<td><center>0.72463505567</center></td>
<td><center>98.8346490521</center></td>
<td><center>1.16535094785</center></td><tr>
<td><center>13</center></td>
<td><center>Rhode Island</center></td><td><center>66.0</center></td>
<td><center>400.0</center></td>
<td><center>14.0</center></td>
<td><center>1800.0</center></td>
<td><center>0.77177508269</center></td>
<td><center>14.1630901288</center></td>
<td><center>85.8369098712</center></td><tr>
<td><center>14</center></td>
<td><center>North Dakota</center></td><td><center>3663.0</center></td>
<td><center>100.0</center></td>
<td><center>1700.0</center></td>
<td><center>930023.0</center></td>
<td><center>0.182457661773</center></td>
<td><center>97.3425458411</center></td>
<td><center>2.65745415892</center></td><tr>
<td><center>15</center></td>
<td><center>New Jersey</center></td><td><center>195.0</center></td>
<td><center>203.0</center></td>
<td><center>73.0</center></td>
<td><center>9298.0</center></td>
<td><center>0.77899903959</center></td>
<td><center>48.9949748744</center></td>
<td><center>51.0050251256</center></td><tr>
<td><center>16</center></td>
<td><center>Maine</center></td><td><center>11176.0</center></td>
<td><center>12919.0</center></td>
<td><center>2192.0</center></td>
<td><center>12114.0</center></td>
<td><center>15.3222424158</center></td>
<td><center>46.3830670264</center></td>
<td><center>53.6169329736</center></td><tr>
<td><center>17</center></td>
<td><center>South Dakota</center></td><td><center>5753.0</center></td>
<td><center>1206.0</center></td>
<td><center>3963.0</center></td>
<td><center>1649492.0</center></td>
<td><center>0.239679942907</center></td>
<td><center>82.6699238396</center></td>
<td><center>17.3300761604</center></td><tr>
<td><center>18</center></td>
<td><center>New York</center></td><td><center>43287.0</center></td>
<td><center>5042.0</center></td>
<td><center>2267.0</center></td>
<td><center>103620.0</center></td>
<td><center>2.14096159113</center></td>
<td><center>89.5673405202</center></td>
<td><center>10.4326594798</center></td><tr>
<td><center>19</center></td>
<td><center>Colorado</center></td><td><center>8711</center></td>
<td><center> </center></td>
<td><center>781.0</center></td>
<td><center>735014.0</center></td>
<td><center>0.106143694915</center></td>
<td><center>100.0</center></td>
<td><center>0.0</center></td><tr>
<td><center>20</center></td>
<td><center>Idaho</center></td><td><center>14467</center></td>
<td><center> </center></td>
<td><center>2751.0</center></td>
<td><center>476292.0</center></td>
<td><center>0.574269950714</center></td>
<td><center>100.0</center></td>
<td><center>0.0</center></td><tr>
<td><center>21</center></td>
<td><center>Oregon</center></td><td><center>35810.0</center></td>
<td><center>1047.0</center></td>
<td><center>1170.0</center></td>
<td><center>604069.0</center></td>
<td><center>0.193312063499</center></td>
<td><center>97.1592913151</center></td>
<td><center>2.84070868492</center></td><tr>
<td><center>22</center></td>
<td><center>Virginia</center></td><td><center>1861.0</center></td>
<td><center>113520.0</center></td>
<td><center>165.0</center></td>
<td><center>695061.0</center></td>
<td><center>0.0237332896065</center></td>
<td><center>1.61291720474</center></td>
<td><center>98.3870827953</center></td><tr>
<td><center>23</center></td>
<td><center>Arizona</center></td><td><center>1008</center></td>
<td><center> </center></td>
<td><center> </center></td>
<td><center>197060</center></td>
<td><center> </center></td>
<td><center>100.0</center></td>
<td><center>0.0</center></td><tr>
<td><center>24</center></td>
<td><center>Kansas</center></td><td><center>1721.0</center></td>
<td><center>30.0</center></td>
<td><center>994.0</center></td>
<td><center>1516374.0</center></td>
<td><center>0.0655081694091</center></td>
<td><center>98.2866933181</center></td>
<td><center>1.7133066819</center></td><tr>
<td><center>25</center></td>
<td><center>Florida</center></td><td><center> </center></td>
<td><center>98000</center></td>
<td><center> </center></td>
<td><center>942419</center></td>
<td><center> </center></td>
<td><center>0.0</center></td>
<td><center>100.0</center></td><tr>
<td><center>26</center></td>
<td><center>Pennsylvania</center></td><td><center>20208.0</center></td>
<td><center>1853750.0</center></td>
<td><center>605.0</center></td>
<td><center>158430.0</center></td>
<td><center>0.380419404534</center></td>
<td><center>1.0783592802</center></td>
<td><center>98.9216407198</center></td><tr>
<td><center>27</center></td>
<td><center>Montana</center></td><td><center>3244.0</center></td>
<td><center>60445.0</center></td>
<td><center>1446.0</center></td>
<td><center>1522187.0</center></td>
<td><center>0.0949047441215</center></td>
<td><center>5.09350123255</center></td>
<td><center>94.9064987674</center></td><tr>
<td><center>28</center></td>
<td><center>Illinois</center></td><td><center>2537.0</center></td>
<td><center>176534.0</center></td>
<td><center>425.0</center></td>
<td><center>429111.0</center></td>
<td><center>0.0989439767563</center></td>
<td><center>1.41675648207</center></td>
<td><center>98.5832435179</center></td><tr>
<td><center>29</center></td>
<td><center>Michigan</center></td><td><center>5884.0</center></td>
<td><center>281986.0</center></td>
<td><center>722.0</center></td>
<td><center>109500.0</center></td>
<td><center>0.655041643229</center></td>
<td><center>2.0439781846</center></td>
<td><center>97.9560218154</center></td><tr>
<td><center>30</center></td>
<td><center>Delaware</center></td><td><center>47</center></td>
<td><center> </center></td>
<td><center>19.0</center></td>
<td><center>3668.0</center></td>
<td><center>0.515324111744</center></td>
<td><center>100.0</center></td>
<td><center>0.0</center></td><tr>
<td><center>31</center></td>
<td><center>Maryland</center></td><td><center>2066.0</center></td>
<td><center>2371.0</center></td>
<td><center>79.0</center></td>
<td><center>44015.0</center></td>
<td><center>0.179162697873</center></td>
<td><center>46.5629930133</center></td>
<td><center>53.4370069867</center></td><tr>
<td><center>32</center></td>
<td><center>Wyoming</center></td><td><center>9037</center></td>
<td><center> </center></td>
<td><center>3996.0</center></td>
<td><center>732141.0</center></td>
<td><center>0.542833738829</center></td>
<td><center>100.0</center></td>
<td><center>0.0</center></td><tr>
<td><center>33</center></td>
<td><center>Indiana</center></td><td><center>8124.0</center></td>
<td><center>81311.0</center></td>
<td><center>246.0</center></td>
<td><center>235299.0</center></td>
<td><center>0.104438642298</center></td>
<td><center>9.08369206686</center></td>
<td><center>90.9163079331</center></td><tr>
<td><center>34</center></td>
<td><center>Ohio</center></td><td><center>13712.0</center></td>
<td><center>441300.0</center></td>
<td><center>533.0</center></td>
<td><center>293757.0</center></td>
<td><center>0.181113867274</center></td>
<td><center>3.01354689547</center></td>
<td><center>96.9864531045</center></td><tr>
<td><center>35</center></td>
<td><center>Alaska</center></td><td><center> </center></td>
<td><center> </center></td>
<td><center> </center></td>
<td><center>6468</center></td>
<td><center> </center></td>
<td><center>0</center></td>
<td><center>0</center></td><tr>
<td><center>36</center></td>
<td><center>North Carolina</center></td><td><center>318.0</center></td>
<td><center>1088889.0</center></td>
<td><center>10.0</center></td>
<td><center>373024.0</center></td>
<td><center>0.00268072079221</center></td>
<td><center>0.0291955523606</center></td>
<td><center>99.9708044476</center></td><tr>
<td><center>37</center></td>
<td><center>New Mexico</center></td><td><center>14303.0</center></td>
<td><center>1000.0</center></td>
<td><center>550.0</center></td>
<td><center>530173.0</center></td>
<td><center>0.103632214922</center></td>
<td><center>93.4653335947</center></td>
<td><center>6.53466640528</center></td><tr>
<td><center>38</center></td>
<td><center>Texas</center></td><td><center>249378</center></td>
<td><center></center></td>
<td><center>5267.0</center></td>
<td><center>5259843.0</center></td>
<td><center>0.100035896686</center></td>
<td><center>100.0</center></td>
<td><center>0.0</center></td><tr>
<td><center>39</center></td>
<td><center>Missouri</center></td><td><center>3030.0</center></td>
<td><center>179305.0</center></td>
<td><center>1128.0</center></td>
<td><center>2089181.0</center></td>
<td><center>0.0539633135579</center></td>
<td><center>1.66177640058</center></td>
<td><center>98.3382235994</center></td><tr>
<td><center>40</center></td>
<td><center>West Virginia</center></td><td><center>185</center></td>
<td><center> </center></td>
<td><center> </center></td>
<td><center>203711</center></td>
<td><center> </center></td>
<td><center>100.0</center></td>
<td><center>0.0</center></td><tr>
<td><center>41</center></td>
<td><center>Kentucky</center></td><td><center>1750.0</center></td>
<td><center>57400.0</center></td>
<td><center>150.0</center></td>
<td><center>1166385.0</center></td>
<td><center>0.0128585940413</center></td>
<td><center>2.95857988166</center></td>
<td><center>97.0414201183</center></td><tr>
<td><center>42</center></td>
<td><center>Tennessee</center></td><td><center> </center></td>
<td><center></center></td>
<td><center> </center></td>
<td><center>1179102</center></td>
<td><center> </center></td>
<td><center>0</center></td>
<td><center>0</center></td><tr>
<td><center>43</center></td>
<td><center>Nevada</center></td><td><center> </center></td>
<td><center> </center></td>
<td><center> </center></td>
<td><center>238662</center></td>
<td><center> </center></td>
<td><center>0</center></td>
<td><center>0</center></td><tr>
<td><center>44</center></td>
<td><center>Georgia</center></td><td><center> </center></td>
<td><center> </center></td>
<td><center> </center></td>
<td><center>554099</center></td>
<td><center> </center></td>
<td><center>0</center></td>
<td><center>0</center></td><tr>
<td><center>45</center></td>
<td><center>South Carolina</center></td><td><center> </center></td>
<td><center> </center></td>
<td><center> </center></td>
<td><center>230419</center></td>
<td><center> </center></td>
<td><center>0</center></td>
<td><center>0</center></td><tr>
<td><center>46</center></td>
<td><center>Arkansas</center></td><td><center>1043.0</center></td>
<td><center>33308.0</center></td>
<td><center>23.0</center></td>
<td><center>947765.0</center></td>
<td><center>0.00242670301797</center></td>
<td><center>3.03630170883</center></td>
<td><center>96.9636982912</center></td><tr>
<td><center>47</center></td>
<td><center>Alabama</center></td><td><center> </center></td>
<td><center> </center></td>
<td><center> </center></td>
<td><center>678949</center></td>
<td><center> </center></td>
<td><center>0</center></td>
<td><center>0</center></td><tr>
<td><center>48</center></td>
<td><center>Oklahoma</center></td><td><center>1670</center></td>
<td><center></center></td>
<td><center>572.0</center></td>
<td><center>2063613.0</center></td>
<td><center>0.0277106945356</center></td>
<td><center>100.0</center></td>
<td><center>0.0</center></td><tr>
<td><center>49</center></td>
<td><center>Louisiana</center></td><td><center>951.0</center></td>
<td><center>34.0</center></td>
<td><center> </center></td>
<td><center>510837</center></td>
<td><center> </center></td>
<td><center>96.5482233503</center></td>
<td><center>3.45177664975</center></td><tr>
<td><center>50</center></td>
<td><center>Mississippi</center></td><td><center>432</center></td>
<td><center> </center></td>
<td><center>191.0</center></td>
<td><center>521517.0</center></td>
<td><center>0.0366105177609</center></td>
<td><center>100.0</center></td>
<td><center>0.0</center></td><tr>
<tr>
</table>
</div>
</body>