<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        {% if error %}
            <div style="color: red;">
                <p>{{error}}</p>
            </div>
        {% endif %}
        <form action="/login" method="POST">
            <table>
                <tr>
                    <td>Username</td>
                    <td><input type="text" name="user"/></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password"/></td>
                </tr>
            </table>
            <input type="submit" name="login">
        </form>
    </body>
</html>
