<head>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <style>
    body { background-color:33CCCC;}
    #image { position: absolute;
    left: 650px;
    top: 250px; }
    h1 { border-style:solid;
    color:660099;
    font-size: 60px;
    font-family: Georgia, Times, "Times New Roman", serif;
    text-align:center;}
    .a {color:black;
    text-align:left;}
    .b {color:black;
    text-align:center}
    tbody {
    left:100px;}
  </style>
</head>

<h1>Average Salary per Year</h1>
<img id="image" src="/static/mitt.jpg">

<table class = "pure-table pure-table-bordered">
<thead>
<tr>
<th>Year</th>
<th>Average Salary</th>
</tr>
</thead>
<tbody>
{% for key in dic %}
    <tr>
    <td class="a">{{ key }}</td>
    <td class="b">${{ dic[key] }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
