<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>CharacterSelection.html</title>
  </head>
  <body>
    Choose a character from the options below<br>
    <big><big><big><br>
    </big></big></big>
    <div align="left"><big><a href="http://0.0.0.0:1639/Character/Itchy">
          1/Itchy</a></big><br>
    </div>
    <a href="http://0.0.0.0:1639/Character/Cans">
      15/Cans</a><br>
    <a href="http://0.0.0.0:1639/Character/Doze">2/Doze</a>
    <br>
    <a href="http://0.0.0.0:1639/Character/Trace">3/Trace
      <a href="http://0.0.0.0:1639/Page"><big><big><big><big><big><big><big><big><big><big><big><big><font
													face="garamond"><img alt=""
															     src="http://media.tumblr.com/tumblr_mdv7j9SFnW1r9mlad.gif"
															     border="0"
															     align="right"
															     height="436"
															     width="176"></big></big></big></big></big></big></big></big></big></big></big></big></a>
      
      <br>
      <a href="http://0.0.0.0:1639/Character/Clover">
        4/Clover</a><br>
      <a href="http://0.0.0.0:1639/Character/Bro">
        Bro</a>
      <br>
      <a href="http://0.0.0.0:1639/Character/Clubs">
        Clubs Deuce</a>
      <br>
      <a href="http://0.0.0.0:1639/Character/Colonel">
        Colonel Sassacre</a>
      <br>
      <a href="http://0.0.0.0:1639/Character/Dad">
        Dad</a><br>
      <a href="http://0.0.0.0:1639/Character/Dave">
        Dave</a>
      <br>
      <a
         href="http://0.0.0.0:1639/Character/Davesprite">
        Davesprite</a>
      <br>
      <a
         href="http://0.0.0.0:1639/Character/Diamonds">
        Diamonds Droog</a>
      <br>
      <a
         href="http://0.0.0.0:1639/Character/Hearts">
        Hearts Boxcars</a>
      <br>
      <a
         href="http://0.0.0.0:1639/Character/Jade">
        Jade</a>
      <br>
      <a
         href="http://0.0.0.0:1639/Character/Jaspers">
        Jaspers</a>
      <br>
      <a
         href="http://0.0.0.0:1639/Character/Jaspersprite">
        Jaspersprite</a>
      <br>
      <a
         href="http://0.0.0.0:1639/Character/John">
        John</a>
      <br>
      <a
         href="http://0.0.0.0:1639/Character/Crowsprite">
        Crowsprite</a>
      <br>
      <a
         href="http://0.0.0.0:1639/Character/Kernelsprite">
        Kernelsprite</a>
      <br>
      <a
         href="http://0.0.0.0:1639/Character/Cal">
        Lil Cal</a>
      <br>
      <a
         href="http://0.0.0.0:1639/Character/Liv">Liv Tyler</a>
      <br>
      <a
         href="http://0.0.0.0:1639/Character/Maplehoof">Maplehoof</a><br>
      <a
         href="http://0.0.0.0:1639/Character/Mom">
        Mom</a><br>
      <a
         href="http://0.0.0.0:1639/Character/Nanna">
        Nanna</a>
      <br>
      <a
         href="http://0.0.0.0:1639/Character/Nannasprite">Nannasprite</a>
      <br>
      <a
         href="http://0.0.0.0:1639/Character/Peregrine">Peregrine
        Medicant</a><br>
      <a
         href="http://0.0.0.0:1639/Character/Rose">Rose</a><br>
      <a
         href="http://0.0.0.0:1639/Character/Sawtooth">Sawtooth</a><br>
      <a
         href="http://0.0.0.0:1639/Character/Serenity">Serenity</a><br>
      <a
         href="http://0.0.0.0:1639/Character/Spades">Spades
        Slick</a><br>
      <a
         href="http://0.0.0.0:1639/Character/Squarewave">Squarewave</a><br>
      <a
         href="http://0.0.0.0:1639/Character/Sweet">Sweet
        Bro and Hella
        Jeff</a><br>
      <a
         href="http://0.0.0.0:1639/Character/Vagabond">Wayward
        Vagabond</a><br>
  </body>
</html>
