{% extends "index.html" %}

{% block title %}
Thank You
{% endblock title %}

{% block thing %}
<h2>
  Hey you.
  <hr>
  <small>
    Yeah, you. {{ name }}.
    <br>
    Thanks for logging in. Logging in to places makes us feel like productive members of society, and we wanted to share that with you. Help us send the illusion of productivity, one login at a time.
  </small>
</h2>
<div class="pull-right">
  <br>
  <br>
  <a href="/">
    <input type="submit" class="btn btn-lg btn-default" value="Back >>>">
  </a>
</div>
{% endblock thing %}
