<html>
  <style> 
    h1,h4,p{
    color: White;
    text-align: center;
    }
    h1{
    font-size:36;
    }
    p{
    font-size:24;
    }
  </style>
  <head>
    <title>Crime Rates</title>
  </head>
  <body background= "static/index.jpg">
    <h1><font size="44">Crime Rates By State</font></h1>
    <h4>Jason Lu, Dionis Wang Period 5</h4>
    
    <h1><u>Why Crime?</u></h1>
    <p>
      <br>Crime has always been a major problem in the United States. 
      <br>There were about 11 million crimes reported in the US in 2005 alone. 
      <br>We will be comparing the crime rates of New York State, California and various other states
      <br>in order to find a correlation between different types of crimes in different states.
      <br>Note: This data shows crime rate, not the number of crimes committed. 
    </p>
    <center>
      <form method="post" action="/Data">
	<input type="submit" value="Data"></input>
      </form>
	  <form method="post" action="/Analysis">
	<input type="submit" value="Analysis"></input>
      </form>
    </center>
  </body>
</html>
