<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Log In
    </title>
    <!-- Bootstrap core CSS -->
    <link href="static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/dist/css/signin.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <form class="form-login" role="form" method="POST">
        <h2 class="form-login-heading">Log in here!</h2>
	{% extends "layout.html" %}
	{% block body %}
	{% if error %}
	<p class=error><font color="red"><strong>Error:</strong></font>{{ error }}
	  {% endif %}
        <input type="username" name = "username" class="form-control" placeholder="Username" required autofocus>
        <input type="password" name = "password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" name = "checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
      </form>
      <br>
      <font color="white">
      If you don't have an account, sign up!
      </font>
      <br>
      <a href="{{ url_for('signup') }}"><button>Sign up</button></a>
    </div>
  </body>
  {% endblock %}
</html>
