<html>
<center>

<h1>Below are some questions that will get you started on your poem. Click one of the links to get going.</h1>

<h2>What do you think of love? (Please choose one quote that resonates with you the most.)</h2>
<a href='love1.html'>The heart is the only broken instrument that works.-T.E. Kalem</a>
<a href='love2.html'>Where there is love there is life.-Mahatma Gandhi </a>
<a href='love3.html'>You don't love someone because they're perfect, you love them in spite of the fact that they're not. - Jodi Picoult</a>
<a href='love4.html'>Love can sometimes be magic. But magic can sometimes just be an illusion.-Javan</a>

<h2>What do you think of pain? (Please choose one quote that resonates with you the most.)</h2>
<a href='pain1.html'>The marks humans leave are too often scars.-John Green</a>
<a href='pain2.html'>Numbing the pain for a while will make it worse when you finally feel it.-J.K. Rowling </a>
<a href='pain3.html'>One word/ Frees us of all the weight and pain of life:That word is love.-Sophocles</a>
<a href='pain4.html'>Behind every beautiful thing, there's some kind of pain.-Bob Dylan</a> 

<h2>What is the meaning of life? (Please choose one quote that resonates with you the most.)</h2>
<a href='life1.html'>You will never live if you are looking for the meaning of life.-Albert Camus</a> <br><br>
<a href='life2.html'>The best things in life make you sweaty.-Edgar Allan Poe </a> <br><br>
<a href='life3.html'>The Ultimate Answer to Life, The Universe and Everything is...42!-Douglas Adams</a>
<a href='life4.html'>''But for what purpose was the earth formed?' asked Candide. 'To drive us mad,' replied Martin.'-Voltaire</a>

<h2>What do you think about death? (Please choose one quote that resonates with you the most.)</h2>
<a href='death1.html'>I'm not afraid of death; I just don't want to be there when it happens.-Woody Allen</a>
<a href='death2.html'>To the well-organized mind, death is but the next great adventure.-J.K. Rowling</a>
<a href='death3.html'>I'm the one that's got to die when it's time for me to die, so let me live my life the way I want to.-Jimi Hendrix</a>
<a href='death4.html'>Unbeing dead isn't being alive.-E.E. Cummings</a>

<h2>How has a recent experience effected you? (Please choose one quote that resonates with you the most.)</h2>
<a href='experiences1.html'>Don't cry because it's over, smile because it happened.-Dr.Seuss</a> <br><br>
<a href='experiences2.html'>All I have seen teaches me to trust the Creator for all I have not seen.-Ralph Waldo Emerson </a>
<a href='experiences3.html'>All knowledge hurts.-Cassandra Clare</a>
<a href='experiences4.html'>I think the highest and lowest points are the important ones. Anything else is just...in between.-Jim Morrison</a>

</center>
</html>
