<html>
<head><title>Write your poem</title></head>
<body BGCOLOR='#F5A9F2'>
<center>
<h1>Write your poem!</h1>
<h3>Fill in the following questions, then press submit, to write your poem.</h3>
<br>
<form method="POST">
Question 1:
<br>
What is the importance of laughing?
<br>
<input type="text" name="Q1">
<br>
<br>
Question 2:
<br>
Describe your last dream
<br>
<input type="text" name="Q2">
<br>
<br>
Question 3:
<br>
What made you smile today?
<br>
<input type="text" name="Q3">
<br>
<br>
Question 4:
<br>
Would you rather travel to the future or the past?
<br>
<input type="text" name="Q4">
<br>
<br>
Question 5:
<br>
What did you last eat?
<br>
<input type="text" name="Q5">
<br>
<br>
<input type="submit" name="b" value="submit">
<center>
<br><br>
</form>
</body>
</html>
