<html>
<head><title>Write your poem</title></head>
<body BGCOLOR='#F5A9F2'>
<center>
<h1>Write your poem!</h1>
<h3>Fill in the following questions, then press submit, to write your poem.</h3>
<br>
<form method="POST">
Question 1:
<br>
Glass half full or empty?
<br>
<input type="text" name="Q1">
<br>
<br>
Question 2:
<br>
Reading a book or riding a bike?
<br>
<input type="text" name="Q2">
<br>
<br>
Question 3:
<br>
Describe an ideal day.
<br>
<input type="text" name="Q3">
<br>
<br>
Question 4:
<br>
When do you feel most energized?
<br>
<input type="text" name="Q4">
<br>
<br>
Question 5:
<br>
How would you describe the sun?
<br>
<input type="text" name="Q5">
<br>
<br>
<input type="submit" name="b" value="submit">
<center>
<br><br>
</form>
</body>
</html>
