<html>
<head><title>Write your poem</title></head>
<body BGCOLOR='#F5A9F2'>
<center>
<h1>Write your poem!</h1>
<h3>Fill in the following questions, then press submit, to write your poem.</h3>
<br>
<form method="POST">
Question 1:
<br>
Describe the best moment of your life.
<br>
<input type="text" name="Q1">
<br>
<br>
Question 2:
<br>
Describe the worst moment of your life. 
<br>
<input type="text" name="Q2">
<br>
<br>
Question 3:
<br>
Describe being happy in one word.
<br>
<input type="text" name="Q3">
<br>
<br>
Question 4:
<br>
Describe being angry in one word. 
<br>
<input type="text" name="Q4">
<br>
<br>
Question 5:
<br>
What is your life philosophy?
<br>
<input type="text" name="Q5">
<br>
<br>
<input type="submit" name="b" value="submit">
<center>
</form>
</body>
</html>
