<html>
<head><title>Write your poem</title></head>
<body BGCOLOR='#F5A9F2'>
<center>
<h1>Write your poem!</h1>
<h3>Fill in the following questions, then press submit, to write your poem.</h3>
<br>
<form method="POST">
Question 1:
<br>
How do you think the world was created?
<br>
<input type="text" name="Q1">
<br>
<br>
Question 2:
<br>
Describe life. (10 words or less)
<br>
<input type="text" name="Q2">
<br>
<br>
Question 3:
<br>
Describe a lesson that you learned from a recent experience.
<br>
<input type="text" name="Q3">
<br>
<br>
Question 4:
<br>
What is the greatest mystery of life?
<br>
<input type="text" name="Q4">
<br>
<br>
Question 5:
<br>
What does "solitude is bliss" mean?
<br>
<input type="text" name="Q5">
<br>
<br>
<input type="submit" name="b" value="submit">
<center>
</form>
</body>
</html>
