<html>
<head><title>Write your poem</title></head>
<body BGCOLOR='#F5A9F2'>
<center>
<h1>Write your poem!</h1>
<h3>Fill in the following questions, then press submit, to write your poem.</h3>
<br>
<form method="POST">
Question 1:
<br>
How would you describe the act of smiling?
<br>
<input type="text" name="Q1">
<br>
<br>
Question 2:
<br>
Describe a time when all you wanted to do was cry.
<br>
<input type="text" name="Q2">
<br>
<br>
Question 3:
<br>
Describe the happiest day of your life.
<br>
<input type="text" name="Q3">
<br>
<br>
Question 4:
<br>
What does it feel like to be sad?
<br>
<input type="text" name="Q4">
<br>
<br>
Question 5:
<br>
How does it feel for something good to be over?
<br>
<input type="text" name="Q5">
<br>
<br>
<input type="submit" name="b" value="submit">
<center>
</form>
</body>
</html>
