<html>
<head><title>Write your poem</title></head>
<body BGCOLOR='#F5A9F2'>
<center>
<h1>Write your poem!</h1>
<h3>Fill in the following questions, then press submit, to write your poem.</h3>
<br>
<form method="POST">
Question 1:
<br>
Describe your work ethic.
<br>
<input type="text" name="Q1">
<br>
<br>
Question 2:
<br>
What is something that makes you nervous?
<br>
<input type="text" name="Q2">
<br>
<br>
Question 3:
<br>
What is something that makes you sweat?
<br>
<input type="text" name="Q3">
<br>
<br>
Question 4:
<br>
Who is your role model?
<br>
<input type="text" name="Q4">
<br>
<br>
Question 5:
<br>
What is the first word you think of when you here work?
<br>
<input type="text" name="Q5">
<br>
<br>
<input type="submit" name="b" value="submit">
<center>
<br><br>
</form>
</body>
</html>
