<html>
<head><title>Write your poem</title></head>
<body BGCOLOR='#F5A9F2'>
<center>
<h1>Write your poem!</h1>
<h3>Fill in the following questions, then press submit, to write your poem.</h3>
<br>
<form method="POST">
Question 1:
<br>
How would you describe beauty in 10 words or less? 
<br>
<input type="text" name="Q1">
<br>
<br>
Question 2:
<br>
How would you describe love in 10 words or less?
<br>
<input type="text" name="Q2">
<br>
<br>
Question 3:
<br>
 First word that come to your mind when I say "perfect"
<br>
<input type="text" name="Q3">
<br>
<br>
Question 4:
<br>
What will you last words be before you die?
<br>
<input type="text" name="Q4">
<br>
Question 5:
<br>
What is your favorite number? (Spell it out)
<br>
<input type="text" name="Q5">
<br>
<br>
<input type="submit" name="b" value="submit">
<center>
<br><br>
</form>
</body>
</html>
