<html>
<head><title>Write your poem</title></head>
<body BGCOLOR='#F5A9F2'>
<center>
<h1>Write your poem!</h1>
<h3>Fill in the following questions, then press submit, to write your poem.</h3>
<br>
<form method="POST">
Question 1:
<br>
What is an enemy?
<br>
<input type="text" name="Q1">
<br>
<br>
Question 2:
<br>
Describe your worst enemy.
<br>
<input type="text" name="Q2">
<br>
<br>
Question 3:
<br>
What is a friend?
<br>
<input type="text" name="Q3">
<br>
<br>
Question 4:
<br>
Describe your best friend.
<br>
<input type="text" name="Q4">
<br>
<br>
Question 5:
<br>
In one word, what is forgiveness? 
<br>
<input type="text" name="Q5">
<br>
<br>
<input type="submit" name="b" value="submit">
<center>
</form>
</body>
</html>
