<!DOCTYPE html>
<html>
    
    <head>
        <title>Do The Thing!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/flatly/bootstrap.min.css">
            
        <style>
            .red {color:#ff0000;}
            .green {color:#00ff00;}
            .blue {color:#0000ff;}
            .teal {color:#69c8c5;}
            .navy {color:#1C2841;}
        </style>
    </head>
    
    <body>
        <center><h1>Do The Thing!</h1></center>
        <br>
        
        <div class="container">
            <!--form-->
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <center><h4>Add stuff to yr to-do list!</h4></center>
                        </div>
                        
                        <div class="panel-body">
                            <form>
                                <center>
                                    <input class="form-control" id="text" type="text" placeholder="Go running, calc homework, eat">
                                    <br>
                                    <button id="button" type="submit" class="btn btn-primary">
                                        Add to list!
                                    </button>
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--todo/done-->
            <div class="row">
                <!--todo-->
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <center><h4>To Do!</h4></center>
                        </div>
                        
                        <div class="panel-body">
                            <ul id="todo">
                                
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!--done-->
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <center><h4>Done!</h4></center>
                        </div>
                        
                        <div class="panel-body">
                            <ul id="done">
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="main.js"></script>
        <script src="../static/js/bootstrap.js"></script>
    </body>

</html>