<!DOCTYPE html> <html><body> <h1><div align='center'> 2010 SAT NYC Scores</div></h1><body> <br>
        By Michael and Corrin <br><br> I chose this data because I feel personally connected to the SAT scores of others sinceI will be taking the test myself around next year. Looking at other people's scores give me a good idea of what I should aim for. A few questions that I have for the data is the average of all the schools, the average of each individual score. I can use the data to get a good idea of just how well NYC is doing SAT-wise.<br>\
       
       
        <tr> <br> <br> Since the test is out of 2400, an average of 1214 is pretty mediocre. We can see that the best subject for NYC is mathematics and the worse is writing, but not by far though. <br> Now lets take a look at schools with SAT scores over 1800 along with how many students took the test in that school. <br><br><table
        <br> <br> Since the test is out of 2400,
        an average of 1214 is pretty mediocre. We can see that the best subject
        for NYC is mathematics and the worst is writing, but not by far though. <br>
        Now lets take a look at schools with SAT scores over 1800 along with how many students took the test in that school. <br><br>
       
        <br><br>  Many of these top scoring schools are specialized high schools and have quite a bit of test-takers. Brooklyn Tech has the largest amount of test takers while Stuyvesant has the highest mean out of all the schools. \
        Being a Stuyvesant student myself, I feel proud of our great school and will strive to do my best !</body> </html>
