<html><body background="https://pbs.twimg.com/profile_images/436208270852636673/WPoeWnSt.jpeg">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<h1 class='g'>2010 SAT Analysis</h1>
As a Stuy Student and a taker of the SAT, I was curious to know the past average scores on the SAT.Getting some data I found on the 2010 SAT for New York, I did some sorting and tried to put the most significant results up.
<br><br>
<li><a class="pure-button pure-button-primary" href="/Analysis">
            Analysis
         </a></li><br>
<li><a class="pure-button pure-button-primary"  href="/SAT">
           All Sat Scores
         </a></li></body>
</html>
