<!DOCTYPE html>
<title>{% block title %}{% endblock %}</title>

<html>
<body>
<p> Below is a table showing the average body weight by age of a group of 250 men. The table clearly shows that both age and weight are numbers. <br><br>


<table style="width:100%">
  <tr>
    <td>Age</td>
    {% for age in avgs %}
    <td>{{age}}</td>
    {% endfor %}
  </tr>
  <tr>
    <td>Avg. Weight</td>
    {% for age in avgs %}
    <td>{{avgs[age]}}</td>
    {% endfor %}
  </tr>
</table>
         
</body>
</html>
