<html>
<body bgcolor = "#FF69B4">
<font size = "4">
<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
Eric Liao <br>
Terrance Liang <br>
Period 6<br><br>

<h1>What We Did </h1>

We used Eric's old analysis project from second term sophomore year. He analyzed rankings of the popular game Osu. <br>
The original project was form based.<br>
Had we used the original format, the user would be able to select certain parts of the table and limit the amount of data visible. <br>
Instead, we used some css and buttons so that the user can select which category to select and which direction the categories should sort in. <br>
We had to convert the original code to a format that satisfied flask commands. <br>
Originally, the project involved printing several lines of html markup, especially for the table. <br>
Now, we converted the function so that it creates a string of html markup that would be inserted into a template. <br>
<br>
<font size = "2"><a class="pure-button" href="/home">Return to Home</a></font>

</font>
</body>
</html>
