<html>
<body bgcolor = "#FF69B4">
<font size = "5">
Eric Liao <br>
Terrance Liang <br>
Period 6<br><br>

<h1>What We Did </h1>

We used Eric's old analysis project from second term sophomore year. He analyzed rankings of the popular game Osu. <br>
The original project was form based. Since we did not learn how to use that through flask, we decided to leave that part out. <br>
Had there been a form, the user would be able to select certain parts of the table and limit the amount of data visible. <br>
We also had to convert the code to a format that satisfied flask commands. <br>
Originally, the project involved printing several lines of html markup, especially for the table. <br>
Now, we converted the function so that it creates a string of html markup that would be inserted into a template. <br>
<br>
<a href = "/home"> Return to Home </a>

</font>
</body>
</html>
