<html>
<body bgcolor="black">
<font color = "white" size = "4">
<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<h3><p style="text-align:left;">
Eric Liao and Terrance Liang <span style="float:right;"><font size = "3"><a class = "pure-button pure-button-primary" href="/about"> <i class="fa fa-male"></i>&nbspAbout </a>&nbsp&nbsp&nbsp</span></font></p>
Period-6</h3>
<center><h1> Data Analysis</h1></center>
<center>

{{tablestr|safe}}
<br>
</center>

</font>
</body>
</html>
