<html>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

<head>

  <title> saurin </title>

</head>

<body>

  <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="/" class="pure-menu-heading">saurin</a>

    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li class="pure-menu-selected"><a href="/">Home</a></li>
    </ul>
  
  </div>

  <div class="splash-container">
    <div class="splash">
      <h1 class="splash-head">saurin</h1>
      <p class="splash-subead">
	just a small little mongoDB project
      </p>
      <p>
	<a href="/login" class="pure-button pure-button-primary">Login!</a>
	<a href="/register" class="pure-button pure-button-primary">Register!</a>
      </p>
    </div>
  </div>

</body>

</html>
