<html>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

<head>

  <title> saurin </title>

</head>

<body>

  <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="/" class="pure-menu-heading">saurin</a>

    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li class="pure-menu-selected"><a href="/">Home</a></li>
    </ul>
  
  </div>


  <div class="content-wrapper">
    <h2 class="content-head is-center">Welcome {{user}} to the Platinum Page</h2>
    <div class="pure-g">
      <p>
	Hi. This is saurin, an account managing project. Congratulations on successfully logging into your account. This is another very exclusive page. The Few. The Proud. The saurin.
      </p>
      <p>
	<a href="/private1" class="pure-button pure-button-primary">Next</a>
      </p>
    </div>

  </div>

</body>

</html>
