<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head><title>Age's Effect on Baseball</title><link rel="shortcut icon" href="http://bart.stuy.edu/~aaron.mortenson/muffins/moop.ico">
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">  
<style>
body{
background-image:url("static/bg.jpg");
background-size: cover;
background-repeat: no-repeat;
}
li {
color:black;
margin-left:40px
font-size: 100 px
}

</style>

</head>
  <body>
<center>
<table bordercolor="black" bgcolor="white"><tr><td> 
<h1 font> Welcome to the Data Analysis Refurbishing Project </h1>
<h2> by Aaron Mortenson and Matthew Cook</h2>
</td></tr></table>

<table bordercolor="black" bgcolor="white"><tr><td> 
<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        <li class="pure-menu-selected"><a href="#">Home</a></li>
        <li><a href="../filter">Raw Data Search</a></li>
        <li><a href="../results">Analisys</a></li>
<li><a href="../rawdata">Raw Data</a></li>
    </ul>
</div>
</td></tr></table></br>
<table bordercolor="black" width=95% bgcolor="white" ><tr> <td><p>All data used is from baseball-reference.com, and can be found from 
    <a href="http://www.baseball-reference.com/leagues/MLB/2012.shtml">here.</a></br> 
    Data from all seasons in between 2012 and 1996 as well as data from 1993 was used,
    and data from each of those seasons can be easily found using the link above.
</td></tr></table>
</center></br>
   
</body>
