<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head><title>Age's Effect on Baseball</title><link rel="shortcut icon" href="http://bart.stuy.edu/~aaron.mortenson/muffins/moop.ico">
<style>
body{
background-color:linen;
}
li {
color:black;
margin-left:40px
font-size: 100 px
}
</style>

</head>

<center>
<h1> Welcome to the data analysis refurbishing project </h1>
<h2> by Aaron Mortenson and Matthew Cook</h2>
</center>
<body>
      <ul>
	<li><a href="../rawdata">Press here to see the raw data used to generate these tables.</a></li>
	<li><a href="../results">Press here to see an analisys of this data.</a></li>
	</ul>
   
</body>
