<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <html>
    <head><title>Age's Effect on Baseball, Part One</title><link rel="shortcut icon" href="http://bart.stuy.edu/~aaron.mortenson/muffins/moop.ico">
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">  
    </head>
    
    <body style=
    "background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#808080), to(#660505), color-stop(.2,#808080));background-image: -moz-linear-gradient(19% 75% 90deg,#660505, #808080, #808080 100%)" bgcolor="gray">
    
    <center>
    <h1>Age's Effect on Baseball, Part One</h1>
     <table bgcolor="white"  bordercolor="black" > <tr> <td> <a href="../">Home sweet home</a> </td></tr>
    <tr> <td> <a href="../filter">Press here to search the raw data used to generate these tables.</a> </td> </tr>
    <tr> <td><a href="../results">Press here to see an analysis of this data.</a></td></tr></table></br>
    <table bordercolor="black" width=95% bgcolor="white"><tr><td>
    </br>
    <p style="text-indent: 5em;">
    As a Yankees fan this season, I became frustrated with my beloved team for signing old players this year who are mostly past their primes, 
    instead of going for young prospects. In fact, the Yankees are the oldest team in the major leagues this year, with the average age of a player on their 
    roster being 30.9 years old, more than two years older than the league average of 28.8. All this attention to player ages got me wondering: 
    Does age actually affect the performance of major league baseball teams, and if so, how? Is there a correlation between the average ages of players on
    a team and how well that team does?
    </p>
    <p style="text-indent: 5em;">
    To find out, I took data from every major league season over the last 20 years (1993-2012) with the exception of 1994 and 1995. 
    The season was cut short in 1994 to about 114 of 162 games due to a strike of the players' union, and in 1995, the season was cut to 
    144 games because of revamped scheduling. Since these two seasons were shortened, data from them is not as precise as data from other seasons, 
    and for this reason data from those years is not included. I compared the average age of each team's hitters in a given year
    to the average number of runs it produced per game that year, and I compared the average age of each team's pitchers in a given year to the average number of runs
    scored by opposing teams per game that year.  This is the raw data I managed to find after it has been run through a script to add the year to the end of each line:
    </p>

	

<center>
<table border=1 class="pure-table" style=
    "background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#808080), to(#660505), color-stop(.2,#808080));background-image: -moz-linear-gradient(19% 75% 90deg,#660505, #808080, #808080 100%)">
<thead>
{% for n in players[:1] %}
    <tr><th>{{n[0]}}</th>
      <th>{{n[1]}}</th>
      <th>{{n[2]}}</th>
      <th>{{n[3]}}</th>
      <th>{{n[4]}}</th>
      <th>{{n[5]}}</th>
    </tr>
{% endfor %}
</thead>
<tbody>
{% for n in players[1:] %}
    <tr><td>{{n[0]}}</td>
      <td>{{n[1]}}</td>
      <td>{{n[2]}}</td>
      <td>{{n[3]}}</td>
      <td>{{n[4]}}</td>
      <td>{{n[5]}}</td>
    </tr>
{% endfor %}
</tbody>
</table>
	</td></tr></table>
