<head>
    <title>Pokedex</title>
    <link rel="shortcut icon" href="\static\ball.png" type="image/x-icon" />
</head>
<body style= "background-color:#8D97F3;">
    <h1><center>Pokemon Data Base SWAAG</center></h1><br>
    <center><img src="\static\ball.png" width="300" height="300"></center>
    <center>Welcome to the best Pokedex in existance!!!!!!! We have compiled all pokemon information into a single page! This is all you need to determine what pokemon is best for you!
	<br><br>
     changeHere
</body>
