body {
    font-family: Open Sans;
    min-width: 500px;
}
ul {
    display:table;
    margin:0 auto;
    font-family: Open Sans;
    font-size: 20px;
}
ul.flashed_messages_list {
    margin: 0 auto;
    text-align: center;
    list-style: none;
    font-weight: bolder;
    font-size: 20px;
    padding: 0;
}
ul.list_centered_plain {
    margin: 0 auto;
    text-align: center;
    list-style: none;
    font-size: 20px;
    padding: 0;
}
.gray {
    color: #444444;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.center-all {
    margin: 0 auto;
    text-align: center;
}
.center {
    margin: 0 auto;
}
.error {
    color: rgba(200, 50, 50, 150);
}
.success {
    color: rgba(50, 200, 50, 150);
}
.about {
    font-family: Comic Sans MS;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    color: #5858FA;
}
#navbar li a {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
#navbar .red {
    color: rgba(200, 50, 50, 150);
}
/*
  #full-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
*/
a.hint {
    color: #444444;
    font-size: 12px;
    text-decoration: none;
}
input.form_vertical {
    display: block !important;
    margin-top: 5px; 
}


