<!DOCTYPE HTML>
<html>
<head>
   <title>DATA</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<div class="container">
<h1>Goldberg and Sacs</h1>
<h3><i>The business business</i></h3>
<h1 >Coby Goldberg and Isaac Gluck</h1>
<h3>Mr. Zamansky</h3>
<h3>Period 7</h3>
</div>
<br>
<h1>Welcome, {{name}}</h1>
<h2> DATASET: Carbon Dioxide Information Analysis Center (CDIAC) Data</h2>
<h2> DATA SOURCE: <a href="http://datahub.io/dataset/cdiac"> CDIAC </a></h2>
<h2> Chosen because I feel like the environment is a very important issue and something that I'm extremely interested in, especially with what is happening nowadays.</h2>
<p> See the analysis: <a href = "/analysis">Analysis</a></p>
<br><br>
<table>

{% for innerList in dataList  %}
	<tr>
		{% for line in innerList %}
			<td> {{ line }} </td>
		{% endfor %}
	</tr>
{% endfor %}

</table>
</body>
</html>
