
{% extends "base.html" %}


{% block options %}
{% if logged is odd %}
<li class="nav-item"><a href="/loggedin1">Restricted 1</a></li>
<li class="nav-item"><a href="/loggedin2">Restricted 2</a></li>
<li class="nav-item"><a href="/logout">Logout</a></li>

{% else %}
 <li class="nav-item"><a href="/login">Login</a></li>
<li class="nav-item"><a href="/register">Register</a></li>
<li class="nav-item"><a href="/notloggedin">About</a></li>

{% endif %}
{% endblock options%}


{% block bodycontent %}
<h1> Error </h1>


{{e}}

{% endblock bodycontent %}



