
{% extends "base.html" %}

{% block options %}
{% if logged is odd %}
<li class="nav-item"><a href="/loggedin1">Restricted 1</a></li>
<li class="nav-item"><a href="/loggedin2">Restricted 2</a></li>
<li class="nav-item"><a href="/logout">Logout</a></li>

{% else %}
 <li class="nav-item"><a href="/login">Login</a></li>
<li class="nav-item"><a href="/register">Register</a></li>
<li class="nav-item"><a href="/notloggedin">About</a></li>

{% endif %}
{{logged}}
  {% endblock options%}
{% block bodycontent %}

  <h1>Secret Page 1</h1>
  This is the page of the secret.<br>
  Nobody who is not part of this site will find out this secret page.<br>
  We do secret stuff here.<br><br>
  Wanna hear a joke?<br>
  How many programmers does it take to change a light bulb?<br>
  NONE, THAT'S A HARDWARE PROBLEM<br><br>
  HAHAHAHAHA im too funny
  ~

 {% endblock bodycontent %}



