{% extends "base.html" %}

{% block options %}
{% if logged is odd %}
<li class="nav-item"><a href="/logout">Logout</a></li>

{% else %}
 <li class="nav-item"><a href="/login">Login</a></li>
  <li class="nav-item"><a href="/register">Register</a></li>

{% endif %}
{% endblock options%}



{% block bodycontent %}

<head>
      <title>Login</title><link rel="shortcut icon" href="static/icon.ico">
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">  
</head>

  <form method="POST" class="pure-form" action="/login">
    Username:<input type="text" class="pure-input-rounded" name="username" placeholder="Username"> <br>
    Password:
    <input type="password" class="pure-input-rounded" name="password" placeholder="Password">
    <br> <br>

    <input type="submit" class="pure-button pure-button-primary" value="Go">
</form>
{% endblock bodycontent %}
