.center {
  text-align: center;
  text-color: red;
  font-size: 30px;
  font-weight: bold;
}

body { 
  background-image: url("/static/test.jpg");
  text-align: center;
  text-color: black;
}

tr:first-child{
    font-weight:bold;
    text-align: center;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: #FA8072;
}
.data {
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:black;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;

}
.data:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}
.data:active {
	position:relative;
	top:1px;
}

ul {
    list-style-type: none;
    margin-left: 1px;
    margin-right: 1px;
    padding: 0;
    overflow: hidden;
}


li {
    display: inline;
    float: left;
} 


#menu {
    display: block;
    width: 400px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FA8072;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#menu:hover, #menu:active {
    background-color: #7A991A;
}

