.center {
    text-align: center;
}

.centered {
  text-align: center;
  color: #FA8072;
  font-weight: bold;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: auto;
    overflow: hidden;
}

input[type=submit] {
    padding:20px 60px; 
    background:#ccc;
    opacity: 0.5;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    width: 200px;
    height: 80px;  
}

input[type=password]{
    font:small-caption;
    font-size:20px;
}

input[type=submit]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}

.textbar {
    font-size: 20px;
    border:2px solid #456879;	
    border-radius:10px;
    height: 44px;
    width: 460px;
}

li {
    display: inline;
    float: left;
} 

a:link, a:visited {
    display: block;
    width: 200px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FA8072;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #7A991A;
}

body {
background-image: url("/static/test.jpg");
}
