<head>
<link rel="stylesheet" type="text/css" href="/static/stylesheet.css" />
</head>
<h1>Electric Consumption by Zip Codes 2010</h1>
<h2>By Leslie Bresnahan and Aida Piccato</h2>
<body> 
<img src="http://classroomclipart.com/images/gallery/Animations/lightbulb.gif" alt="lightbulb" align="left" height="100" width="80">  
<img src="http://classroomclipart.com/images/gallery/Animations/lightbulb.gif" alt="lightbulb" align="right" height="100" width="80"> 
<table align="center"> 
<tr style="font-size:18px; font-weight: bold; background-color:#CCFFFF">
<td>Building Type</td>
</tr>
<tr>
<td>
<form method="POST">
<select name="building_type">
<option value="commercial">Commercial</option>
<option value="institutional">Institutional</option>
<option value="large residential">Large Residential</option>
<option value="small residential">Small Residential</option>
</select>
<input type="submit" name="search" value="Search" />
</form>
</td>
</tr>
</table>

	
