<!doctype html>
<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">

</head>

<style>

div.info {background-color:aqua; padding:10px; margin:10px; border-style:ridge; border-color:yellow; border-width:5px;}
div.form {background-color:yellow; padding:10px; margin:10px; border-style:solid; border-color:aqua; border-width:5px;}
div.overall {background-color:#99FF99;}
</style>

<title>Background Information</title>
<div class="overall">

<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/analysis">Analysis</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/conclusion">Conclusion</a></li>
        <li><a href="/data">Raw Data</a></li>
    </ul>
</div>

{% if last and first %}
  <h1>Im glad you'd like to learn more about {{ first }} {{ last }}!</h1>
  <a href="https://www.google.com/#q={{first}}+{{last}}">Click here to launch a Google search.</a>
{% else %}

<div class="grids-example">
    <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
        <div class="info">
            <h3>Background Information:</h3>
            <p>  We chose to analyze basketball players because we thought it would be interesting to compare the best players to ever play the sport with each other. At first we were comparing the Player Efficiency Rating and the regular stat line of the players, but we realized that there would be no way to compare them. So we just tried to determine who was the greatest player of all time (G.O.A.T).         <p>
    </div>
	</div>

    <div class="pure-u-1 pure-u-md-1-2">
        <div class="form">
            <p>
<legend>If you'd like to learn more about a certain basketball player, please fill out this form:</legend>
<form class="pure-form pure-form-aligned" method="POST">
    <fieldset>
        <div class="pure-control-group">
            <input id="name" type="text" placeholder="First Name" name="first">
        </div>

        <div class="pure-control-group">
            <input id="lastname" type="text" placeholder="Last Name" name="last">
        </div>
	<div class="pure-controls">
            <button type="submit" name="b" value="Search" class="pure-button pure-button-primary">Search</button>
	    <button type="submit" name="b" value="Clear" class="pure-button pure-button-secondary">Clear</button>
        </div>

    </fieldset>
</form> </p>
         </div>
    </div>
</div>
</div>

</div>
{% endif %}

</html>
