<!doctype html>
<title>About My Project</title>
{% if name %}
  <h1>Im glad you'd like to learn more about {{ name }}!</h1>
{% else %}
  <h3> Background: </h3>We chose basketball because the playoffs of the NBA just started. <br>We thought it would be interesting to compare the best players to <br>ever play the sport with each other. At first we were comparing the <br>Player Efficiency Rating and the regular stat line of the players, <br>but we realized that there would be no way to compare them. So we <br>just tried to determine who was the greatest player of all time <br>(G.O.A.T).
{% endif %}