<!doctype html>
<title>Raw Data</title>
<button><a href="/home">Home</a></button>
<button><a href="/about">Background Information</a></button>
<button><a href="/analysis">Summary of Analysis</a></button>
<button><a href="/conclusion">Conclusion</a></button>

<h2>Here is a CSV of player ranks:</h2>

1,Michael Jordan
<br>2,Kareem Abdul-Jabbar
<br>3,Bill Russell
<br>4,Magic Johnson
<br>5,Larry Bird
<br>6,Wilt Chamberlain
<br>7,Shaquille O'Neal
<br>8,Kobe Bryant
<br>9,Tim Duncan
<br>10,Hakeem Olajuwon
<br>11,Lebron James
<br>12,Moses Malone
<br>13,Oscar Robertson
<br>14,Jerry West
<br>15,Julius Erving
<br>16,Kevin Garnett
<br>17,Karl Malone
<br>18,Charles Barkley
<br>19,Elgin Baylor
<br>20,Bob Pettit
<br>21,John Havlicek
<br>22,Dirk Nowitzki
<br>23,George Mikan
<br>24,David Robinson
<br>25,Isiah Thomas
<br>26,Bob Cousy
<br>27,Scottie Pippen
<br>28,Rick Barry
<br>29,Dwyane Wade
<br>30,Willis Reed
<br>31,Patrick Ewing
<br>32,John Stockton
<br>33,Walt Frazier
<br>34,Clyde Drexler
<br>35,Steve Nash
<br>36,Allen Iverson
<br>37,Dave Cowens
<br>38,Dolph Schayes
<br>39,Bill Walton
<br>40,Kevin McHale
<br>41,Jason Kidd
<br>42,Wes Unseld
<br>43,Gary Payton
<br>44,Elvin Hayes
<br>45,Paul Arizin
<br>46,Bob McAdoo
<br>47,Dominique Wilkins
<br>48,George Gervin
<br>49,Paul Pierce
<br>50,Dennis Rodman
<br>51,Dwight Howard
<br>52,James Worthy
<br>53,Nate Thurmond
<br>54,Ray Allen
<br>55,Sam Jones
<br>56,Kevin Durant
<br>57,Tiny Archibald
<br>58,Chris Paul
<br>59,Billy Cunningham
<br>60,Reggie Miller
<br>61,Jerry Lucas
<br>62,Hal Greer
<br>63,Pete Maravich
<br>64,Pau Gasol
<br>65,Dennis Johnson
<br>66,Dave DeBusschere
<br>67,Artis Gilmore
<br>68,Robert Parish
<br>69,Tracy McGrady
<br>70,Bernard King
<br>71,Joe Dumars
<br>72,Alex English
<br>73,Bob Lanier
<br>74,Alonzo Mourning
<br>75,Dave Bing
<br>76,Earl Monroe
<br>77,Chris Webber
<br>78,Sidney Moncrief
<br>79,Bill Sharman
<br>80,Tony Parker
<br>81,Adrian Dantley
<br>82,Chris Mullin
<br>83,Ben Wallace
<br>84,Neil Johnston
<br>85,David Thompson
<br>86,Grant Hill
<br>87,Gail Goodrich
<br>88,Spencer Haywood
<br>89,Dikembe Mutombo
<br>90,Vince Carter
<br>91,Carmelo Anthony
<br>92,Lenny Wilkens
<br>93,Kevin Johnson
<br>94,Mitch Richmond
<br>95,Tom Heinsohn
<br>96,Tim Hardaway
<br>97,Connie Hawkins
<br>98,Bob Dandridge
<br>99,Walt Bellamy
<br>100,Rasheed Wallace

<h2>Here is a CSV of player efficiencies:</h2>

<br>Michael Jordan,27.91
<br>Kareem Abdul-Jabbar,24.58
<br>Bill Russell,18.87
<br>Magic Johnson,24.11
<br>Larry Bird,23.50
<br>Wilt Chamberlain,26.13
<br>Shaquille O'Neal,26.43
<br>Kobe Bryant,23.41
<br>Tim Duncan,24.73
<br>Hakeem Olajuwon,23.59
<br>Lebron James,27.65
<br>Moses Malone,22.31
<br>Oscar Robertson,23.17
<br>Jerry West,22.89
<br>Julius Erving,21.97
<br>Kevin Garnett,23.14
<br>Karl Malone,23.90
<br>Charles Barkley,24.63
<br>Elgin Baylor,22.69
<br>Bob Pettit,25.35
<br>John Havlicek,17.53
<br>Dirk Nowitzki,23.47
<br>George Mikan,27.0
<br>David Robinson,26.18
<br>Isiah Thomas,18.11
<br>Bob Cousy,19.76
<br>Scottie Pippen,18.63
<br>Rick Barry,20.16
<br>Dwyane Wade,25.53
<br>Willis Reed,18.57
<br>Patrick Ewing,21.01
<br>John Stockton,21.83
<br>Walt Frazier,19.12
<br>Clyde Drexler,21.07
<br>Steve Nash,20.02
<br>Allen Iverson,20.92
<br>Dave Cowens,17.02
<br>Dolph Schayes,21.98
<br>Bill Walton,20.00
<br>Kevin McHale,20.02
<br>Jason Kidd,17.91
<br>Wes Unseld,16.00
<br>Gary Payton,18.88
<br>Elvin Hayes,17.73
<br>Paul Arizin,19.66
<br>Bob McAdoo,20.73
<br>Dominique Wilkins,21.56
<br>George Gervin,21.38
<br>Paul Pierce,20.55
<br>Dennis Rodman,13.30
<br>Dwight Howard,22.16
<br>James Worthy,17.73
<br>Nate Thurmond,16.51
<br>Ray Allen,18.81
<br>Sam Jones,18.68
<br>Kevin Durant,23.60
<br>Tiny Archibald,17.99
<br>Chris Paul,25.55
<br>Billy Cunningham,20.04
<br>Reggie Miller,18.36
<br>Jerry Lucas,18.86
<br>Hal Greer,15.70
<br>Pete Maravich,18.38
<br>Pau Gasol,21.63
<br>Dennis Johnson,14.60
<br>Dave DeBusschere,15.5
<br>Artis Gilmore,21.40
<br>Robert Parish,19.22
<br>Tracy McGrady,22.13
<br>Bernard King,19.18
<br>Joe Dumars,15.30
<br>Alex English,19.87
<br>Bob Lanier,21.69
<br>Alonzo Mourning,21.24
<br>Dave Bing,17.63
<br>Earl Monroe,17.20
<br>Chris Webber,20.94
<br>Sidney Moncrief,18.69
<br>Bill Sharman,18.21
<br>Tony Parker,19.09
<br>Adrian Dantley,21.51
<br>Chris Mullin,18.78
<br>Ben Wallace,15.50
<br>Neil Johnston,24.69
<br>David Thompson,19.91
<br>Grant Hill,19.03
<br>Gail Goodrich,16.70
<br>Spencer Haywood,19.07
<br>Dikembe Mutombo,17.21
<br>Vince Carter,20.25
<br>Carmelo Anthony,20.79
<br>Lenny Wilkens,16.76
<br>Kevin Johnson,20.70
<br>Mitch Richmond,17.59
<br>Tom Heinsohn,17.83
<br>Tim Hardaway,18.61
<br>Connie Hawkins,19.89
<br>Bob Dandridge,16.71
<br>Walt Bellamy,19.84
<br>Rasheed Wallace,17.01