<!DOCTYPE html>
<head>
<title>AAEZ</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/flatly/bootstrap.min.css">
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
   
{% block bodycontent %}
{% endblock bodycontent %}
<br>


<!--
<div id="footer">
<div class="container">
<p class="muted credit">A <a href="https://github.com/jasonluX13/hairy-dubstep-blog">Acccount Manager</a></p>
</div>
</div>
-->

</body>
