<!DOCTYPE html>
<head>
<title>Account Manager</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/flatly/bootstrap.min.css">
<link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">
</head>
<body>
{% block bodycontent %}
{% endblock bodycontent %}
<br>
<div id="footer">
<div class="container">
<p class="muted credit">A <a href="https://github.com/jasonluX13/hairy-dubstep-blog">Acccount Manager</a></p>
</div>
</div>
</body>
