{% extends "base.html" %}
{% block bodycontent %}
<head>
<title> AEZA </title>
</head>
<!--
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
<link rel="stylesheet" href="/combo/1.17.16?/css/layouts/blog.css">
-->
<body bgcolor="#01DF74">
<center> <h1>Welcome to AEZA!</h1>
<div class="container jumbotron" style="border-radius:30px">
<!-- A wrapper for all the blog posts -->
<div class="posts">
<h1 class="content-subhead">Look at all this space!</h1>
</div>
<br><br>
<form class="pure-form pure-form-stacked" method = "POST" style="background-color:808089">
<fieldset>
<legend>Enter yo info!</legend>
<label for="title">Username</label>
<input class="form-control" type="text" name="username" placeholder="Title">
<label for="author">Password</label>
<input class="form-control" type="password" name="password" placeholder="Author">
<input type="submit" name="sub" value="Register"></submit>
<button type="submit" class="pure-button pure-button-primary" name="sub" valuse="Login">Login!</button>
</fieldset>
</form>
</div></center>
</body></html>
{% endblock bodycontent %}
