
{% extends "base.html" %}
{% block bodycontent %}

<ul class="nav navbar-nav navbar-right">
      <li><a href="/login">Login</a></li>
      <li><a href="/">Home</a></li>
    </ul>
  </div>
</div>

<form class="pure-form pure-form-stacked" method="POST">
<center>
  <h1>Sign Up Here!</h1>
Username: <input type="text" name="username"></input>
<br> 
<br>
Password: <input type="text" name="password"></input>
<br>
<br>

<input type="submit" name="sub" value="Login"></submit>
</center>
</form>
</html>

{% endblock bodycontent %}
