<!DOCTYPE html>
<html>
  <form class="pure-form pure-form-stacked">
    <fieldset>
      <legend>A Stacked Form</legend>

      <label for="username">Username</label>
      <input id="email" type="email" placeholder="Username">

      <label for="password">Password</label>
      <input id="password" type="password" placeholder="Password">

      <label for="remember" class="pure-checkbox">
        <input id="remember" type="checkbox"> Remember me
      </label>

      <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
  </form>
</html>
