<html>
  <head>
    <title>ABOUT</title>
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/login.css" rel="stylesheet">
    <style>
      .navbar-right{
      margin-right: 5px;
      margin-top: 28px;
      }

      .form-signin {
      margin-top: 70px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<h1> About <small> Goldberg & Sacs </small></h1>
	      </div>
	      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<a href="/profile" class="navbar-right">Profile</a>
	      </div>
      </nav>
    <h1>ABOUT</h1>
    <p> Goldberg and Sacs is a multi-national, multi-ethnic, multi-dimensional, multi-faceted, polyethnic, polytheistic, polynesian, Camen Islands based Business Business.
  </body>
</html>
