<html>
  <head>
    <title>UPDATE PROFILE</title> 
  </head>
  <body>
    <h1>Update Profile</h1>
      <p>
	<form method="POST">
	  <input type="text" name="username" placeholder="Username">
	  <input type="checkbox" name="check" value="username">Update Username<br>
	  <input type="password" name="password" placeholder="Password"><br>
	  <input type="checkbox" name="check" value="password">Update Password<br>
	  <input type="text" name="name" placeholder="Your Name"><br>
	  <input type="checkbox" name="check" value="name">Update Name<br>
	  <input type="text" name="birthday" placeholder="Birthday"><br>
	  <input type="checkbox" name="check" value="birthday">Update Birthday<br>
	  <button type="submit" name="b" value="Update">Update</button><br>
	  <button type="submit" name="b" value="Cancel">Cancel</button><br>
	</form>
  </body>
