/*
#3E4147 - darkblue
#FFEEEE - white ish
#DFBA69 - yellow
#5A2E2E - maroon
#2A2C31 - darkerblue
*/
body {
	font-size: 20px;
	background-color: #2A2C31 ;
	font-family: text;
}
@font-face {
	font-family: title;
	src: url(Raleway-Thin.otf);
}
@font-face{
	font-family: post;
	src: url(Raleway-Heavy.otf);
}
@font-face{
	font-family: text;
	src: url(Raleway-Light.otf);
}
@font-face{
    font-family: author;
    src: url(Raleway-Bold.otf);
}
h1 {
	font-family: title;
	color: #DFBA69;
}
.blog-post {
	border-radius: 10px;
	background-color: #FFFEDF;
	margin-bottom: 20px;
	padding: 0px 1%;
}
.blog-post-title { 
text-align:center;
	font-family: post;
	font-size: 20px;	
	border-bottom: 2px dashed #DFBA69;
}
.blog-post-author {
    font-family: author;
    font-size: 16px;
    color: #3E4147;
    text-align: left;
}
.blog-post-text {
	text-align: justify;
	font-family: text;
	color: #2A2C31;
	font-size: 16px;
}
h1>a{
	text-decoration: none;
	display: block;
	height: 100%;
	width: 100%;
	font-family: title;
	color: #DFBA69;
}
p>a {
	text-decoration: none;
	display: block;
	height: 100%;
	width: 100%;
	color: #5A2E2E;
}
p>a:hover {
	color: #2A2C31;
}
.fields{
	font-family: text;
	font-size: 15px;
}
.colored-button {
	font-family: text;
	font-size: 15px;
	
}
.comment {
	border-radius: 10px;
	background-color: #FFFEDF;
	margin-bottom: 20px;
	padding: 0px 1%;
}
.comment-author {
	font-family: author;
	text-align: left;
	color: #DFBA69;
	font-size: 16px;	
}
.comment-text {
	text-align: justify;
	font-family: text;
	color: #2A2C31;
	font-size: 14px;
}
hr {
    border: 2px dashed #5A2E2E;
}