<!DOCTYPE>
<html>
    <head>
	<meta charset="utf-8" />
	<title>StuySpec Blog </title>
	<link href="../static/StyleLogin.css" rel="stylesheet" type="text/css" media="screen" />

    </head>

    <body>
       
	<form action="#" method="post">
		<div id="Container">
			 <a id="home" href="/"><img src="../static/NavBar/shop.png" /></a>
		    <div id="Top"></div> 
		    <div id="Setup">LOGIN 
			<img src="../static/LOCK.png" /> 
			<br>
			<a href="/register">Want To Register?</a>
		    </div>

		    <br>
		    <div id="LoginID">User ID:</div>
		    <fieldset>
			<input type="text" id="ID" name = "username"placeholder="Enter ID" />
		    </fieldset>
		    <br>
		    <div id="LoginP">Password:</div>
		    <fieldset>
			<input type="password" id="Password" name = "password" placeholder="Enter Password" />
			<br>
			<br>
			<br>
			<br>
		<input type="submit" value="Submit" name = "button" /> 
		</div>
	    </fieldset>
	</form>


    </body>

</html>
