<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

<head><title>NBA Draft Analysis</title></head>

<body>
  <center><h1>How Accurate are Mock Drafts?</h1></center>
  <br>
  <br>
  <br>
  Please choose how you would like to compare
  <br>
  <br>
  <table class="pure-table pure-table-bordered">
    <form name="input" method="get">
    <tbody>
      <tr>
	<td><input value="stat" name="type" type="radio">Statistics</td>
	<td><br><input id="pts" type="checkbox">Points Scored
	<br><input id="trd" type="checkbox">Total Rebounds
	<br><input id="ast" type="checkbox">Assists
	<br><input id="fg" type="checkbox">Field Goal Percentage
	<br><input id="ft" type="checkbox">Free Throw Percentage</td>
      </tr>
      <tr>
	<td><input id="draft" name="type" type="radio">Draft Website</td>
	<td><input id="express" type="checkbox">draftexpress.com
	<br><input id="nba" type="checkbox">NBAdraft.com</td>
      </tr>
    </tbody>
  </table>
  <br>
  <button type="submit" class="pure-button">
    <i class="fa-hand-o-right"></i>
    Submit
  </button>
  <br>
</body>
