<html>
  <style> 
    h1,p{
    color: White;
    text-align: center;
    }
    h1{
    font-size:36;
    }
    p{
    font-size:24;
    }
    th { background-color: aqua;}
    td { background-color: #F3F781;}
  </style>
  <head>
    <title>Crime Rates</title>
    <h1>Analysis</h1>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  </head>
  <body background= "static/index.jpg">
    <p>
      Looking at the data, we can compare the crime rates of New York to the crime rates of California. 
    </p><center>
      <table class="pure-table pure-table-bordered pure-table-striped">
	<thead>
	  <tr>
	    <th>State</th>
	    <th>  Violent crime</th>
	    <th></th>
	    <th></th>
	    <th></th>
	    <th></th>
	    <th>    Property crime</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	  <tr>
	    <th></th>
	    <th>Total</th>
	    <th>Murder</th>
	    <th>Rape</th>
	    <th>Robbery</th>
	    <th>Aggravated assault</th>
	    <th>Total</th><th>Burglary</th>
	    <th>Larceny theft</th>
	    <th>Motor Vehicle theft</th>
	  </tr>
	  <tr>
	</thead>
	<td>New York</td>
	<td>445.8</td>
	<td>4.5</td>
	<td>18.9</td>
	<td>182.7</td>
	<td>239.7</td>
	<td>2108.5</td>
	<td>353.3</td>
	<td>1569.6</td>
	<td>185.6</td>
</tr>
<tr>
  <td>California </td>
  <td>526.3</td>
  <td>6.9</td>
  <td>26</td>
  <td>176.1</td>
  <td>317.3</td>
  <td>3322.6</td>
  <td>693.3</td>
  <td>1916.5</td>
  <td>712.8</td>
</tr>
</table></center>
<p>
  Based on the table, we can see that in 2005, New York had a lower crime rate than California in all categories except for Violent Robbery.
</p><hr>
<h1>The Conclusion</h1>
<p>
  According to the data provided above, New York State was just a little above average in terms of crime rates across the country. When comparing New York and California, the total rate of violent crimes in California was almost 25% greater than that of New York. The rate of property crimes in California was more than 50% greater than that of New York.
</p>
<hr>
<center>
  <p>
    You can compare the stats of any two states below. 
  </p>
  <form class="pure-form" method = "POST" action = "/Compare">
    <fieldset>
      <label for="state1">First State</label>
      <select name="state1" id="state1">
	<option value="AL">Alabama</option>
	<option value="AK">Alaska</option>
	<option value="AZ">Arizona</option>
	<option value="AR">Arkansas</option>
	<option value="CA">California</option>
	<option value="CO">Colorado</option>
	<option value="CT">Connecticut</option>
	<option value="DE">Delaware</option>
	<option value="DC">District Of Columbia</option>
	<option value="FL">Florida</option>
	<option value="GA">Georgia</option>
	<option value="HI">Hawaii</option>
	<option value="ID">Idaho</option>
	<option value="IL">Illinois</option>
	<option value="IN">Indiana</option>
	<option value="IA">Iowa</option>
	<option value="KS">Kansas</option>
	<option value="KY">Kentucky</option>
	<option value="LA">Louisiana</option>
	<option value="ME">Maine</option>
	<option value="MD">Maryland</option>
	<option value="MA">Massachusetts</option>
	<option value="MI">Michigan</option>
	<option value="MN">Minnesota</option>
	<option value="MS">Mississippi</option>
	<option value="MO">Missouri</option>
	<option value="MT">Montana</option>
	<option value="NE">Nebraska</option>
	<option value="NV">Nevada</option>
	<option value="NH">New Hampshire</option>
	<option value="NJ">New Jersey</option>
	<option value="NM">New Mexico</option>
	<option value="NY">New York</option>
	<option value="NC">North Carolina</option>
	<option value="ND">North Dakota</option>
	<option value="OH">Ohio</option>
	<option value="OK">Oklahoma</option>
	<option value="OR">Oregon</option>
	<option value="PA">Pennsylvania</option>
	<option value="RI">Rhode Island</option>
	<option value="SC">South Carolina</option>
	<option value="SD">South Dakota</option>
	<option value="TN">Tennessee</option>
	<option value="TX">Texas</option>
	<option value="UT">Utah</option>
	<option value="VT">Vermont</option>
	<option value="VA">Virginia</option>
	<option value="WA">Washington</option>
	<option value="WV">West Virginia</option>
	<option value="WI">Wisconsin</option>
	<option value="WY">Wyoming</option>
      </select>
      <label for="state2">Second State</label>
      <select name="state2" id="state2">
	<option value="AL">Alabama</option>
	<option value="AK">Alaska</option>
	<option value="AZ">Arizona</option>
	<option value="AR">Arkansas</option>
	<option value="CA">California</option>
	<option value="CO">Colorado</option>
	<option value="CT">Connecticut</option>
	<option value="DE">Delaware</option>
	<option value="DC">District Of Columbia</option>
	<option value="FL">Florida</option>
	<option value="GA">Georgia</option>
	<option value="HI">Hawaii</option>
	<option value="ID">Idaho</option>
	<option value="IL">Illinois</option>
	<option value="IN">Indiana</option>
	<option value="IA">Iowa</option>
	<option value="KS">Kansas</option>
	<option value="KY">Kentucky</option>
	<option value="LA">Louisiana</option>
	<option value="ME">Maine</option>
	<option value="MD">Maryland</option>
	<option value="MA">Massachusetts</option>
	<option value="MI">Michigan</option>
	<option value="MN">Minnesota</option>
	<option value="MS">Mississippi</option>
	<option value="MO">Missouri</option>
	<option value="MT">Montana</option>
	<option value="NE">Nebraska</option>
	<option value="NV">Nevada</option>
	<option value="NH">New Hampshire</option>
	<option value="NJ">New Jersey</option>
	<option value="NM">New Mexico</option>
	<option value="NY">New York</option>
	<option value="NC">North Carolina</option>
	<option value="ND">North Dakota</option>
	<option value="OH">Ohio</option>
	<option value="OK">Oklahoma</option>
	<option value="OR">Oregon</option>
	<option value="PA">Pennsylvania</option>
	<option value="RI">Rhode Island</option>
	<option value="SC">South Carolina</option>
	<option value="SD">South Dakota</option>
	<option value="TN">Tennessee</option>
	<option value="TX">Texas</option>
	<option value="UT">Utah</option>
	<option value="VT">Vermont</option>
	<option value="VA">Virginia</option>
	<option value="WA">Washington</option>
	<option value="WV">West Virginia</option>
	<option value="WI">Wisconsin</option>
	<option value="WY">Wyoming</option>
      </select>
      <button class="pure-button" type ="submit" action = "/Compare">Compare</button>
    </fieldset>
  </form>
  <br><br><br><br><hr>
  <form method="post" action="/Data">
    <input type="submit" value="back"></input>
  </form>
  <form method="post" action="/home">
    <input type="submit" value="home"></input>
  </form>
</center>
</body>
</html>
