<html>
  <style> 
    h1,p{
    color: White;
    text-align: center;
    }
    h1{
    font-size:36;
    }
    p{
    font-size:24;
    }
    th { background-color: aqua;}
    td { background-color: #F3F781;}
  </style>
  <head>
    <title>Crime Rates</title>
    <h1>Analysis</h1>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  </head>
  <body background= "static/index.jpg">
    <p>
      Looking at the data, we can compare the crime rates of New York to the crime rates of California. 
    </p><center>
    <table class="pure-table pure-table-bordered pure-table-striped">
	 <thead>
	 <tr>
	<th>State</th>
	<th>  Violent crime</th>
	<th></th>
	<th></th>
	<th></th>
	<th></th>
	<th>    Property crime</th>
	<th></th>
	<th></th>
	<th></th>
      </tr>
      <tr>
	<th></th>
	<th>Total</th>
	<th>Murder</th>
	<th>Rape</th>
	<th>Robbery</th>
	<th>Aggravated assault</th>
	<th>Total</th><th>Burglary</th>
	<th>Larceny theft</th>
	<th>Motor Vehicle theft</th>
      </tr>
      <tr>
	 </thead>
	<td>New York</td>
	<td>445.8</td>
	<td>4.5</td>
	<td>18.9</td>
	<td>182.7</td>
	<td>239.7</td>
	<td>2108.5</td>
	<td>353.3</td>
	<td>1569.6</td>
	<td>185.6</td>
      </tr>
      <tr>
	<td>California </td>
	<td>526.3</td>
	<td>6.9</td>
	<td>26</td>
	<td>176.1</td>
	<td>317.3</td>
	<td>3322.6</td>
	<td>693.3</td>
	<td>1916.5</td>
	<td>712.8</td>
      </tr>
    </table></center>
    <p>
      Based on the table, we can see that in 2005, New York had a lower crime rate than California in all categories except for Violent Robbery.
    </p><hr>
    <h1>The Conclusion</h1>
    <p>
      According to the data provided above, New York State was just a little above average in terms of crime rates across the country. When comparing New York and California, the total rate of violent crimes in California was almost 25% greater than that of New York. The rate of property crimes in California was more than 50% greater than that of New York.
    </p>
	<hr>
    <center>
	<p>
		You can compare the stats of any two states below. 
	</p>
	<form class="pure-form" method = "post" action = "/Compare" >
	<label for="State1">First State</label>
        <select id="state1" name = "state1">
            <option value="Alabama">Alabama</option>
			<option value="Alaska">Alaska</option>
			<option value="Arizona">Arizona</option>
			<option value="Arkansas">Arkansas</option>
			<option value="California">California</option>
			<option value="Colorado">Colorado</option>
			<option value="Connecticut">Connecticut</option>
			<option value="Delaware">Delaware</option>
			<option value="District of Columbia">District of Columbia</option>
			<option value="Florida">Florida</option>
			<option value="Georgia">Georgia</option>
			<option value="Hawaii">Hawaii</option>
			<option value="Idaho">Idaho</option>
			<option value="Illinois">Illinois</option>
			<option value="Indiana">Indiana</option>
			<option value="Iowa">Iowa</option>
			<option value="Kansas">Kansas</option>
			<option value="Kentucky">Kentucky</option>
			<option value="Louisiana">Louisiana</option>
			<option value="Maine">Maine</option>
			<option value="Maryland">Maryland</option>
			<option value="Massachusetts">Massachusetts</option>
			<option value="Michigan">Michigan</option>
			<option value="Minnesota">Minnesota</option>
			<option value="Mississippi">Mississippi</option>
			<option value="Missouri">Missouri</option>
			<option value="Montana">Montana</option>
			<option value="Nebraska">Nebraska</option>
			<option value="Nevada">Nevada</option>
			<option value="New Hampshire">New Hampshire</option>
			<option value="New Jersey">New Jersey</option>
			<option value="New Mexico">New Mexico</option>
			<option value="New York">New York</option>
			<option value="North Carolina">North Carolina</option>
			<option value="North Dakota">North Dakota</option>
			<option value="Ohio">Ohio</option>
			<option value="Oklahoma">Oklahoma</option>
			<option value="Oregon">Oregon</option>
			<option value="Pennsylvania">Pennsylvania</option>
			<option value="Rhode Island">Rhode Island</option>
			<option value="South Carolina">South Carolina</option>
			<option value="South Dakota">South Dakota</option>
			<option value="Tennessee">Tennessee</option>
			<option value="Texas">Texas</option>
			<option value="Utah">Utah</option>
			<option value="Vermont">Vermont</option>
			<option value="Virginia">Virginia</option>
			<option value="Washington">Washington</option>
			<option value="West Virginia">West Virginia</option>
			<option value="Wisconsin">Wisconsin</option>
			<option value="Wyoming">Wyoming</option>
        </select>
		<label for="State2">Second State</label>
        <select id="state2" name = "state2">
            <option value="Alabama">Alabama</option>
			<option value="Alaska">Alaska</option>
			<option value="Arizona">Arizona</option>
			<option value="Arkansas">Arkansas</option>
			<option value="California">California</option>
			<option value="Colorado">Colorado</option>
			<option value="Connecticut">Connecticut</option>
			<option value="Delaware">Delaware</option>
			<option value="District of Columbia">District of Columbia</option>
			<option value="Florida">Florida</option>
			<option value="Georgia">Georgia</option>
			<option value="Hawaii">Hawaii</option>
			<option value="Idaho">Idaho</option>
			<option value="Illinois">Illinois</option>
			<option value="Indiana">Indiana</option>
			<option value="Iowa">Iowa</option>
			<option value="Kansas">Kansas</option>
			<option value="Kentucky">Kentucky</option>
			<option value="Louisiana">Louisiana</option>
			<option value="Maine">Maine</option>
			<option value="Maryland">Maryland</option>
			<option value="Massachusetts">Massachusetts</option>
			<option value="Michigan">Michigan</option>
			<option value="Minnesota">Minnesota</option>
			<option value="Mississippi">Mississippi</option>
			<option value="Missouri">Missouri</option>
			<option value="Montana">Montana</option>
			<option value="Nebraska">Nebraska</option>
			<option value="Nevada">Nevada</option>
			<option value="New Hampshire">New Hampshire</option>
			<option value="New Jersey">New Jersey</option>
			<option value="New Mexico">New Mexico</option>
			<option value="New York">New York</option>
			<option value="North Carolina">North Carolina</option>
			<option value="North Dakota">North Dakota</option>
			<option value="Ohio">Ohio</option>
			<option value="Oklahoma">Oklahoma</option>
			<option value="Oregon">Oregon</option>
			<option value="Pennsylvania">Pennsylvania</option>
			<option value="Rhode Island">Rhode Island</option>
			<option value="South Carolina">South Carolina</option>
			<option value="South Dakota">South Dakota</option>
			<option value="Tennessee">Tennessee</option>
			<option value="Texas">Texas</option>
			<option value="Utah">Utah</option>
			<option value="Vermont">Vermont</option>
			<option value="Virginia">Virginia</option>
			<option value="Washington">Washington</option>
			<option value="West Virginia">West Virginia</option>
			<option value="Wisconsin">Wisconsin</option>
			<option value="Wyoming">Wyoming</option>
        </select>
		<button class="pure-button" type ="submit" action = "/Compare">Compare</button>
	</form>
	<br><br><br><br><hr>
      <form method="post" action="/Data">
	<input type="submit" value="back"></input>
      </form>
      <form method="post" action="/home">
	<input type="submit" value="home"></input>
      </form>
    </center>
  </body>
</html>
