<html>
<head>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
</head>
  <body background= "static/index.jpg">
    <style> 
      h1 { color: Navy;
      float: center;
      width: 65%
      } 
      th { background-color: aqua;}
      td { background-color: #F3F781;}
    </style>
    <center>
      <h1>The Data</h1>

    <table class="pure-table pure-table-bordered pure-table-striped">
	<thead>
	<tr>
	  <th colspan="11"><center>Crime Rates by State and by Type 2005 (Rates per 100000 population)</center></th>
	</tr>
	<tr>
	  <td>State</td><td>  Violent crime</td><td></td><td></td><td></td>
	  <td></td><td>    Property crime</td><td></td><td></td><td></td>
	</tr>
	<tr>
	  <td></td><td>Total</td><td>Murder</td><td>Rape</td><td>Robbery</td><td>Aggravated assault</td><td>Total</td><td>Burglary</td><td>Larceny theft</td><td>Motor Vehicle theft</td>
	</tr>
	<tr></thead>
	  <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	</tr>
	<tr><td>      United States </td><td>469.2</td><td>5.6</td><td>31.7</td><td>140.7</td><td>291.1</td><td>3429.8</td><td>726.7</td><td>2286.3</td><td>416.7</td>
	</tr>
	<tr>
	  <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	</tr>
	<tr><td>Alabama </td><td>431.7</td><td>8.2</td><td>34.3</td><td>141.4</td><td>247.8</td><td>3892.1</td><td>953.8</td><td>2650</td><td>288.3
	</td></tr>
	<tr><td>Alaska </td><td>631.9</td><td>4.8</td><td>81.1</td><td>80.9</td><td>465.1</td><td>3612.5</td><td>622.5</td><td>2599.1</td><td>391
	</td></tr>
	<tr><td>Arizona </td><td>513.2</td><td>7.5</td><td>33.8</td><td>144.4</td><td>327.4</td><td>4838</td><td>948.4</td><td>2965.2</td><td>924.4
	</td></tr>
	<tr><td>Arkansas</td><td>527.5</td><td>6.7</td><td>42.9</td><td>91.1</td><td>386.8</td><td>4057.9</td><td>1084.6</td><td>2711.2</td><td>262.1
	</td></tr>
	<tr><td>California </td><td>526.3</td><td>6.9</td><td>26</td><td>176.1</td><td>317.3</td><td>3322.6</td><td>693.3</td><td>1916.5</td><td>712.8
	</td></tr>
	<tr><td>Colorado </td><td>396.5</td><td>3.7</td><td>43.4</td><td>84.6</td><td>264.7</td><td>4039.5</td><td>744.8</td><td>2735.2</td><td>559.5
	</td></tr>
	<tr><td>Connecticut </td><td>274.5</td><td>2.9</td><td>20</td><td>113</td><td>138.6</td><td>2558</td><td>437.1</td><td>1824.1</td><td>296.8
	</td></tr>
	<tr><td>Delaware </td><td>632.1</td><td>4.4</td><td>44.7</td><td>154.8</td><td>428.2</td><td>3111.4</td><td>688.9</td><td>2144</td><td>278.5
	</td></tr>
	<tr><td>District of Columbia</td><td>1459</td><td>35.4</td><td>30.2</td><td>672.1</td><td>721.3</td><td>4747</td><td>649.7</td><td>2694.9</td><td>1402.3
	</td></tr>
	<tr><td>Florida </td><td>708</td><td>5</td><td>37.1</td><td>169.4</td><td>496.6</td><td>4007.9</td><td>926.3</td><td>2658.3</td><td>423.3
	</td></tr>
	<tr><td>Georgia </td><td>448.9</td><td>6.2</td><td>23.6</td><td>154.8</td><td>264.3</td><td>4172.3</td><td>931</td><td>2751.1</td><td>490.2
	</td></tr>
	<tr><td>Hawaii </td><td>255.1</td><td>1.9</td><td>26.9</td><td>78.5</td><td>147.8</td><td>4792.6</td><td>767.9</td><td>3308.4</td><td>716.4
	</td></tr>
	<tr><td>Idaho </td><td>256.8</td><td>2.4</td><td>40.4</td><td>18.6</td><td>195.4</td><td>2697.9</td><td>564.4</td><td>1931.7</td><td>201.8
	</td></tr>
	<tr><td>Illinois</td><td>551.5</td><td>6</td><td>33.7</td><td>181.7</td><td>330.2</td><td>3080.3</td><td>606.9</td><td>2164.8</td><td>308.6
	</td></tr>
	<tr><td>Indiana </td><td>323.7</td><td>5.7</td><td>29.6</td><td>108.6</td><td>179.9</td><td>3456.3</td><td>697.6</td><td>2412</td><td>346.7
	</td></tr>
	<tr><td>Iowa </td><td>291.3</td><td>1.3</td><td>27.9</td><td>38.9</td><td>223.3</td><td>2833.7</td><td>606.4</td><td>2042.7</td><td>184.6
	</td></tr>
	<tr><td>Kansas  </td><td>387.4</td><td>3.7</td><td>38.4</td><td>65.3</td><td>280</td><td>3787</td><td>689.2</td><td>2758.1</td><td>339.6
	</td></tr>
	<tr><td>Kentucky  </td><td>266.8</td><td>4.6</td><td>34</td><td>88.4</td><td>139.8</td><td>2530.5</td><td>634</td><td>1685.8</td><td>210.8
	</td></tr>
	<tr><td>Louisiana </td><td>594.4</td><td>9.9</td><td>31.4</td><td>118</td><td>435.1</td><td>3683.1</td><td>870.6</td><td>2494.5</td><td>318.1
	</td></tr>
	<tr><td>Maine </td><td>112.2</td><td>1.4</td><td>24.7</td><td>24.4</td><td>61.7</td><td>2413.1</td><td>478.5</td><td>1832.6</td><td>102
	</td></tr>
	<tr><td>Maryland </td><td>703</td><td>9.9</td><td>22.6</td><td>256.7</td><td>413.8</td><td>3544.1</td><td>641.4</td><td>2294.3</td><td>608.4
	</td></tr>
	<tr><td>Massachusetts</td><td>456.9</td><td>2.7</td><td>27.1</td><td>119</td><td>308.1</td><td>2363.6</td><td>541.1</td><td>1527.4</td><td>295.1
	</td></tr>
	<tr><td>Michigan</td><td>552.1</td><td>6.1</td><td>51.3</td><td>131.8</td><td>362.9</td><td>3091.1</td><td>696.8</td><td>1917.8</td><td>476.5
	</td></tr>
	<tr><td>Minnesota </td><td>297</td><td>2.2</td><td>44</td><td>92</td><td>158.7</td><td>3084.1</td><td>578.9</td><td>2226.9</td><td>278.2
	</td></tr>
	<tr><td>Mississippi </td><td>278.4</td><td>7.3</td><td>39.3</td><td>82.3</td><td>149.4</td><td>3260.1</td><td>919.7</td><td>2083.9</td><td>256.5
	</td></tr>
	<tr><td>Missouri </td><td>525.4</td><td>6.9</td><td>28</td><td>124.1</td><td>366.4</td><td>3927.5</td><td>738.3</td><td>2746.2</td><td>443.1
	</td></tr>
	<tr><td>Montana  </td><td>281.5</td><td>1.9</td><td>32.2</td><td>18.9</td><td>228.5</td><td>3142.9</td><td>389.2</td><td>2543</td><td>210.7
	</td></tr>
	<tr><td>Nebraska </td><td>287</td><td>2.5</td><td>32.9</td><td>59.1</td><td>192.5</td><td>3423.2</td><td>532.4</td><td>2574.3</td><td>316.5
	</td></tr>
	<tr><td>Nevada </td><td>606.8</td><td>8.5</td><td>42.1</td><td>194.7</td><td>361.5</td><td>4241.5</td><td>972.4</td><td>2153.9</td><td>1115.2
	</td></tr>
	<tr><td>New Hampshire </td><td>132</td><td>1.4</td><td>30.9</td><td>27.4</td><td>72.3</td><td>1796.4</td><td>317</td><td>1377.3</td><td>102.1
	</td></tr>
	<tr><td>New Jersey</td><td>354.7</td><td>4.8</td><td>13.9</td><td>151.6</td><td>184.4</td><td>2333</td><td>447.1</td><td>1568.4</td><td>317.5
	</td></tr>
	<tr><td>New Mexico </td><td>702.2</td><td>7.4</td><td>54.1</td><td>98.7</td><td>541.9</td><td>4148.3</td><td>1093.9</td><td>2639.9</td><td>414.5
	</td></tr>
	<tr><td>New York</td><td>445.8</td><td>4.5</td><td>18.9</td><td>182.7</td><td>239.7</td><td>2108.5</td><td>353.3</td><td>1569.6</td><td>185.6
	</td></tr>
	<tr><td>North Carolina </td><td>468.1</td><td>6.7</td><td>26.5</td><td>145.5</td><td>289.4</td><td>4075.1</td><td>1201.1</td><td>2546.2</td><td>327.8
	</td></tr>
	<tr><td>North Dakota </td><td>98.2</td><td>1.1</td><td>24.2</td><td>7.4</td><td>65.5</td><td>1978.2</td><td>311.9</td><td>1500.3</td><td>166
	</td></tr>
	<tr><td>Ohio </td><td>351.3</td><td>5.1</td><td>39.8</td><td>163.1</td><td>143.4</td><td>3662.7</td><td>872.8</td><td>2429</td><td>360.9
	</td></tr>
	<tr><td>Oklahoma </td><td>508.6</td><td>5.3</td><td>41.7</td><td>91</td><td>370.5</td><td>4042</td><td>1006</td><td>2644.2</td><td>391.8
	</td></tr>
	<tr><td>Oregon </td><td>286.8</td><td>2.2</td><td>34.8</td><td>68.1</td><td>181.8</td><td>4399.8</td><td>758.6</td><td>3112.2</td><td>529
	</td></tr>
	<tr><td>Pennsylvania</td><td>424.5</td><td>6.1</td><td>28.9</td><td>154.6</td><td>235</td><td>2417.2</td><td>451.6</td><td>1729.1</td><td>236.5
	</td></tr>
	<tr><td>Rhode Island </td><td>251.2</td><td>3.2</td><td>29.8</td><td>72.1</td><td>146.1</td><td>2718.9</td><td>494.2</td><td>1816</td><td>408.7
	</td></tr>
	<tr><td>South Carolina </td><td>761.1</td><td>7.4</td><td>42.5</td><td>132.1</td><td>579</td><td>4339.4</td><td>1000.9</td><td>2954.1</td><td>384.4
	</td></tr>
	<tr><td>South Dakota </td><td>175.7</td><td>2.3</td><td>46.7</td><td>18.6</td><td>108.1</td><td>1776.4</td><td>324.4</td><td>1343.7</td><td>108.4
	</td></tr>
	<tr><td>Tennessee </td><td>752.8</td><td>7.2</td><td>36.4</td><td>167.3</td><td>541.9</td><td>4275.5</td><td>1026.9</td><td>2828.1</td><td>420.6
	</td></tr>
	<tr><td>Texas </td><td>529.7</td><td>6.2</td><td>37.2</td><td>156.6</td><td>329.8</td><td>4332</td><td>961.6</td><td>2961.7</td><td>408.7
	</td></tr>
	<tr><td>Utah</td><td>227.2</td><td>2.3</td><td>37.3</td><td>44.3</td><td>143.4</td><td>3868.9</td><td>606.2</td><td>2918.8</td><td>343.9
	</td></tr>
	<tr><td>Vermont </td><td>119.7</td><td>1.3</td><td>23.3</td><td>11.7</td><td>83.5</td><td>2280.7</td><td>491.8</td><td>1686.1</td><td>102.9
	</td></tr>
	<tr><td>Virginia </td><td>282.8</td><td>6.1</td><td>22.7</td><td>99.2</td><td>154.8</td><td>2638.2</td><td>392.1</td><td>2035</td><td>211.1
	</td></tr>
	<tr><td>Washington </td><td>345.8</td><td>3.3</td><td>44.7</td><td>92.1</td><td>205.8</td><td>4893</td><td>959.7</td><td>3149.5</td><td>783.9
	</td></tr>
	<tr><td>West Virginia </td><td>272.8</td><td>4.4</td><td>17.7</td><td>44.6</td><td>206.1</td><td>2625.2</td><td>621.2</td><td>1794</td><td>210
	</td></tr>
	<tr><td>Wisconsin </td><td>241.5</td><td>3.5</td><td>20.6</td><td>82.2</td><td>135.2</td><td>2660.2</td><td>440.8</td><td>1992.8</td><td>226.6
	</td></tr>
	<tr><td>Wyoming </td><td>230.1</td><td>2.7</td><td>24</td><td>15.3</td><td>188.1</td><td>3155.3</td><td>476.3</td><td>2533.9</td><td>145.1
	</td></tr>
	<tr><th colspan="11">Source: U.S. Department of Justice</th></tr>
	<tr><th colspan="11">Federal Bureau of Investigation. </th></tr>
	<tr><th colspan="11">Crime in the United States</th></tr>
	<tr><th colspan="11">Please complete:</th></tr>
	<tr><th colspan="11">Contact:  Carlos A. Davis</th></tr>
	<tr><th colspan="11">Phone:   (304) 625-2785</th></tr>
	<tr><th colspan="11">E-mail:_______________________</th></tr>
      </table>
      <form method="post" action="/home">
	<input type="submit" value="back"></input>
      </form>
      <form method="post" action="/Analysis">
	<input type="submit" value="next"></input>
      </form>
    </center>
  </body>
</html>
