<html>
<head>
	<title>Crime Rates</title>
</head>
<body background= "../backgrounds/Website-Backgrounds-New.jpg">
	<center>
		<h1>Crime Rates By State</h1>
		<h4>Jason Lu, Dionis Wang Period 5</h4>
	
	<h1>WHY?</h1> 
	<br>Crime has always been a major problem in the United States. 
	<br>There were about 11 million crimes reported in the US in 2005 alone. 
	<br>We will be comparing the crime rates of New York State, California and various other states
	<br>in order to find a correlation between different types of crimes in different states.
	<br>Note: This data shows crime rate, not the number of crimes committed. 
	
	</center>
	
</body>
</html>
