<html>
  <title>Home Page</title>  
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  </head>
  <body style = "background:#7BF7B7">
    <center>
      <br>
      <br>
      <h1>WELCOME!!!</h1>
      Returning users click login. New users can join by clicking register.
        <a href="/login" class="pure-button pure-button-primary">Login</a>
        <a href="/register" class="pure-button pure-button-primary">Register</a>
    </center>
  </body>
</html>
