a {
    color: #3e3e3e;
}
a:hover,
a:focus {
    text-decoration: underline;
}


body { 
    font-family: sans-serif; 
    line-height: 1.4; 
    color: #333; 
}


body h1, body .h1 {
    font-family: 'Open Sans', sans-serif !important;
    color: blue;
    text-rendering: optimizelegibility;
}
