<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Advertise With The Spectator</title>
  <link rel="stylesheet" href="static/css/foundation.css" />
  <script src="static/js/vendor/modernizr.js"></script>

  <div class="row">
    <div class="large-3 columns">
      <h1><img src="static/img/logo.png"/></h1>
    </div>
    <div class="large-9 columns">
      <ul class="right button-group">
        <li><a href="/" class="button">Home</a>
        </li>
        <li><a href="/advertisers" class="button">Advertisers</a>
        </li>
        <li><a href="/rates" class="button">Rates</a>
        </li>
        <li><a href="/contact" class="button">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>

</head>



<body>

  <h1><center> Advertisers! </center> </h1>

</body>




<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright The Spectator, 2014. All rights reserved.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="/">Home</a>
          </li>
          <li><a href="/advertisers">Advertisers</a>
          </li>
          <li><a href="/rates">Rates</a>
          </li>
          <li><a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</html>
