<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Advertise With The Spectator</title>
  <link rel="stylesheet" href="static/css/foundation.css" />
  <script src="static/js/vendor/modernizr.js"></script>

  <div class="row">
    <div class="large-3 columns">
      <h1><img src="static/img/logo.png"/></h1>
    </div>
    <div class="large-9 columns">
      <ul class="right button-group">
        <li><a href="/" class="button">Home</a>
        </li>
        <li><a href="/advertisers" class="button">Advertisers</a>
        </li>
        <li><a href="/rates" class="button">Rates</a>
        </li>
        <li><a href="/contact" class="button">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>

</head>



<body>

 
<div class="row">

  <div class="large-6 push-6 columns">

    <h3>Schedule and deadlines</h3>

    <dl>
      <dt> Issue 1 </dt>
      <dd> - distribution: Sept. 19, 2014 <br>
	- ad change by: Sept. 17, 2014 </dd>
      <dt> Issue 2 </dt>
        <dd> - distribution: Oct. 3, 2014 <br>
	- ad change by: Oct 1, 2014 </dd>
      <dt> Issue 3 </dt>
        <dd> - distribution: Oct. 24, 2014 <br>
	- ad change by: Oct. 22, 2014 </dd>
      <dt> Issue 4 </dt>
        <dd> - distribution: Nov. 7, 2014 <br>
	- ad change by: Nov. 5, 2014 </dd>
      <dt> Issue 5 </dt>
        <dd> - distribution: Nov. 21, 2014 <br>
	- ad change by: Nov. 19, 2014 </dd>
      <dt> Issue 6 </dt>
      <dd> - distribution: Dec. 12, 2014 <br>
	- ad change by: Dec. 10, 2014 </dd>
      <dt> Issue 7 </dt>
        <dd> - distribution: Jan. 16, 2014 <br>
	- ad change by: Jan. 14, 2014 </dd>
      <dt> Issue 8 </dt>
        <dd> - distribution: Jan. 30, 2015 <br>
	- ad change by: Jan. 28, 2015 </dd>
      <dt> Issue 9 </dt>
        <dd> - distribution: Feb. 27, 2015 <br>
	- ad change by: Feb. 25, 2015 </dd>
      <dt> Issue 10 </dt>
        <dd> - distribution: Mar. 13, 2015 <br>
	- ad change by: Mar. 11, 2015 </dd>
      <dt> Issue 11 </dt>
        <dd> - distribution: Mar. 27, 2015 <br>
	- ad change by: Mar. 25, 2015 </dd>
      <dt> Issue 12 </dt>
        <dd> - distribution: Apr. 10, 2015 <br>
	- ad change by: Apr. 8, 2015 </dd>
      <dt> Issue 13 </dt>
        <dd> - distribution: Apr. 24, 2015 <br>
	- ad change by: Apr. 22, 2014 </dd>
      <dt> Issue 14 </dt>
        <dd> - distribution: May 8, 2015 <br>
	- ad change by: May 10, 2015 </dd>
      <dt> Issue 15 </dt>
        <dd> - distribution: May 22, 2015 <br>
	- ad change by: May 20, 2015 </dd>
      <dt> Issue 16 </dt>
        <dd> - distribution: Jun. 12, 2015 <br>
	- ad change by: Jun. 10, 2015 </dd>
    </dl>

  </div>

 <div class="large-6 pull-6 columns">

    <ul class="side-nav">

      <h3> Current Advertisers: </h3>

    </ul>
    
</div>

</body>




<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright The Spectator, 2014. All rights reserved.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="/">Home</a>
          </li>
          <li><a href="/advertisers">Advertisers</a>
          </li>
          <li><a href="/rates">Rates</a>
          </li>
          <li><a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</html>
