<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Advertise With The Spectator</title>
    <link rel="stylesheet" href="static/css/foundation.css" />
    <script src="static/js/vendor/modernizr.js"></script>

  </head>

  <body>
    <div class="row">
      <div class="large-3 columns">
	<h1><img src="static/img/logo.png"/></h1>
      </div>
      <div class="large-9 columns">
	<ul class="right button-group">
	  <li><a href="/" class="button">Home</a></li>
	  <li><a href="/advertisers" class="button">Advertisers</a></li>
	  <li><a href="/rates" class="button">Rates</a></li>
	  <li><a href="/contact" class="button">Contact Us</a></li>
	</ul>
      </div>
    </div>





    <div class="row">
    <div class="large-12 columns">
      <div id="slider">
	<img src="static/img/stock/papers.jpeg"/>
      </div>

      <hr/>
    </div>
    </div>



    <div class="row">
      <div class="large-4 columns">
	<img src="static/img/stuylogonew.png">
	<h4>Smart, Targeted Advertising</h4>
	<p>The Spectator is distributed to about 2,000 students, teachers, faculty, and parents on a biweekly basis. When you advertise with The Spectator, you receive outreach to high powered students and parents. Stuyvesant is a specialized high school with many talented and driven students.</p>
      </div>

      <div class="large-4 columns">
	<img src="http://placehold.it/400x300&text=[img]"/>
	<h4>Affordable and Customizable</h4>
	<p>Advertisers receive one on one service with one of our 2 business managers and a manager in training. You can send us your own advertisements or we would be happy to design an ad that you are pleased with. You can also choose to change the size or graphics of your ad at any time.
      </div>

      <div class="large-4 columns">
      <img src="static/img/boardphoto.jpg">
      <h4>Incredible Editors</h4>
      <p>Over thirty editors from a variety of departments who have been chosen to represent news, opinions, features, arts and entertainment, sports, humor, copy, art, photo, web, and business. The Spectator is the Harvard Crimson Best High School Newspaper, and was established 100 years ago in 1915.
    </div>

    </div>


<div class="row">
    <div class="large-12 columns">

      <div class="panel">
        <h4>Advertise with <i>The Spectator</i>:</h4>

        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to work with you! Feel free to email us anytime at specbusiness@gmail.com.</p>
          </div>
          <div class="large-3 columns">
            <a href="mailto:specbusiness@gmail.com" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>

    </div>
  </div>



<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright The Spectator, 2014. All rights reserved.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="/">Home</a>
          </li>
          <li><a href="/advertisers">Advertisers</a>
          </li>
          <li><a href="/rates">Rates</a>
          </li>
          <li><a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

</body>

</html>
