<style>
  h1 { border-style:solid;
  border-width:2px;
  
  }
  #a { font-size:34px;}
  .c { background-color:green;}
  .right {float:right;}
  li:hover {background:aqua;}
  li:active {background:red;}
</style>

<body>
<h1> Probability Games </h1>
<i> Andrew Fischer and Deanna Taylor's first project using Flask! </i>

<h3> Dice: </h3>
<a href="/oneDice"> One Die </a> <br>
<a href="/twoDice"> Two Dice </a> <br>
<a href="/threeDice"> Three Dice </a> <br>

<br><br>

<h3> Coin: </h3>
<a href="/coin"> Coin Toss </a>

<br><br>

<h3> 8Ball: </h3>
<a href="/ball"> Magic 8 Ball </a>

</body>
