<!doctype html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Welcome!</title>

        <link rel="stylesheet"
        href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<style>
    body {
        background: #f1f1f1}
    section {
    
        border-radius: 10px;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 500px
    }
    .c {
        background: #D3D3D3;
        color: black;
        }
    .a   {
     background: black;
        color: white;
        } 
    
</style>
</head>


<form class="pure-form pure-form-aligned" method="POST" action="/results">
<div id="opener">
 {% block body %}{% endblock body %}
</div> <!--opener-->
<center>
<section class="c">
<fieldset>
<div class="pure-control-group">
  <label for="name">What did they name you?</label>
  <input id= "name" name = "name"type="text" placeholder="I do not know">
</div>


<div class="pure-control-group">
  <label for="quote">What did you tell them?</label>
  <input type="text" name = "quote" input id= "quote" size="20" placeholder="I said nothing">
</div>
<div class="pure-control-group">
  <label for="adjective">How did they describe you?</label>
  <input type="text" name = "adjective" input id="adjective" size="20" placeholder="indescribable">
</div>
</section><br>
<button type = "submit" class="pure-button pure-button-primary" href="/results"> Wise
  Quotes Ahead!</button>

</fieldset>
</center>
</form>
</body>
</html>
