{% extends "adamspg.html" %}

{% block style %}
<style>
    .title{
      color: #343434;
      font-weight: normal;
      font-family: 'Ultra', sans-sarif
      font-size:34px;
      line-height: 38px;
      text-transform: uppercase;
      text-shadow: 0 2px white, 0 3px #777
    }
    body {
        background: #f1f1f1}
    section {

        border-radius: 10px;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 500px
    }
    .c {
        background: #D3D3D3;
        color: black;
        }
    .a   {
     background: black;
        color: white;
        }

</style>
{% endblock style %}


{% block body %}
 <br><h1><center> <font face="Baskerville" size="10"> Greetings Weary Traveller </font></center></h1>
<br>
{% endblock body %}
