<html>
<style>
h1 {
  color:red;
  text-align:center;
  font-size:10.5em;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
a{
  color:blue;
  text-align:center;
  font-size:5.2em;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
#a-container {
  text-align:center;
}
</style>

<body>
<h1> Index </h1>
<a href="/conversion">Data</a>
<br><br><br>
<a href="/analysis">Analysis</a>
</body>
</html>
