<html>
<style>
#ginfo{
  color:indigo;
  font-size:1.3em;
  margin:10px;
}
.s1{
  color:red;
  font-size:1.4em;
  margin:20px;
}
#subtitle{
  font-size:1.5em;
  color:MidnightBlue;
  background-color:lime;
 
}

#tabtitle{
  font-size:2em;
  color:orange;
  background-color:cyan;
  line-align:center;
}
</style>



 <title>  H.S. Policy Debate Stats in the United States </title> 
<h1> <font style='background-color:Pink'> <div align ='center'> H.S. Policy Debate Statistics in the United States </font> </div>  </h1>
<body background ='http://www.zingerbugimages.com/backgrounds/sky_blue_canvas_seamless.jpg'/>
<p1> <div id="ginfo"> Policy Debate is a form of debate that involves four people debating in pairs.  It requires much research and evidence <i>'cutting'</i> , a term commonly used to denote the searching of pieces of evidence for a particular argument.  Each pair is either <b> affirmative </b> -> affirming a certain plan pertaining to one year's topic or <b> negative </b> -> negating the aff's plan arguing why the affirmative's plan sucks.  Each year, a new topic is chosen (for example space and transportation infrastructure); and the aff's plan must pertain to that topic. </div><br><br>
<span class="s1">You can find more information on policy debate in <a href='http://en.wikipedia.org/wiki/Policy_debate'> the wikipedia's site on policy debating  </a> <b> OR </b> visit the Stuy Speech and Debate Team for more information. </p1> </font> <br> <br></span>
         <p2><div id="subtitle" align ='center' <b> <u> THIS FOLLOWING TABLE IS A TABLE OF THE BEST POLICY HIGH SCHOOL TEAMS IN THE UNITED STATES! </b> </u> </p2> <br> <br></div>
         <p3><div id="tabtitle"> <b> <u> Explanation of Table statistics-</u> </div><br>
	The Columns: 'Top' stands for tournaments.  Each tournament has speaker points- points that denote the \
        quality of each individual debater.  After these speaker points ranging from 0-30, by some formula&#44; they are calculated into specific points with the additional knowledge of how far in the tournament each team gets to.  These points are used often \
        used to compare which teams are the best. This formula includes adding up both partners' speaker points.  The numbers vary for each row as different tournaments have different number of rounds. Note that these teams go to different tournaments, and the \
        Top 1 only refer to their respective first tournaments  which may be different. </p3>  </b> </font>


	<br> <br> 

	
	{{htmlStr|safe}}
	{{ans|safe}}
	{{end|safe}}



