<!DOCTYPE HTML>
<link rel="stylesheet" href="{{url_for('static', filename='diff.css')}}">
<html>
  <head>
    <title>
      Statistics for {{ title }}
    </title>
  </head>
  <body>
    <center>
    <h1>
      This is a webpage about the {{ title }}.
    </h1>
    <p1>
      <br>The most common word in the {{ title }} is "{{ word }}"!</br>
    </p1>
    <p2>
      <br><u>More info about the {{ title }}:</u></br> </br>
    </p2>
    <p3>
      {{ word_dict }}
    </p3>
    </center>
  </body>
</html>
