<!DOCTYPE HTML>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<html>
  <title> Gettysburg Info </title>
  <body link="#0000FF" vlink="#080080" alink="#FF0000">
    <h1><center> Welcome To The Gettysburg Address Information Page
    </center></h1>
    <p1> 
      <strong><u>Links</strong></u>
    </p1>
    <p2>
      <ul>
	<li>
	  <a href="/count/gettysburg_address" style="text-decoration:none;">Statistics about Gettysburg Address</a>
	</li>
      </ul>
    </p2>
  </body>
</html>
