{% extends "base.html" %}
{% block tophead %}
<ul>
  <li><a href="/home2">Home</a></li>
  <li><a href="/myinfo">Your info</a></li>
  <li class="pure-menu-selected"><a href="/info">Fun Stuff</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
{% endblock tophead %}
{% block content_block %}
<h1 class="centered">The Secret Puns </h1>
<div class="centered">
  I used to hate math. Then I realized that decimals had a point. <br><br>
  Whoever stole my copy of Microsoft Office is in big trouble. You have my Word.<br><br>
  Why do ghosts make good cheerleaders?<br>They have lots of spirit.<br><br>
  My demons have gotten a lot of weight. I think it's time for some exorcise.<br><br>
  <img src="https://lc1lc2.files.wordpress.com/2013/07/tumblr_m8t6m0grav1r02drpo1_1280.jpg" width="360" height="400">
</div>

{% endblock content_block %}
