<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<html>
   <head>
       <title>Data</title>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/amelia/bootstrap.min.css">
   </head>

    <body>
        <center>
			<h3><font color="pink">{{name}}</font>  wants to see the</h3>
			<h1>Data</h1>
			<center>
            <center>
                <div class="text_body">
                    <h4> Scores for Comprehensivness of Gun Control and Number of Deaths by Firearm</h4>
                </div>
                <div class="container">
                <table border="1" class="table table-striped table-bordered"><tr><th>State</th><th>Score for Gun Control*</th><th>Gun Deaths per 100,000</th></tr>
                    {% for x in sortedranksd%}
                    <tr><td> {{x}} </td><td> {{ranksd[x]}} </td><td>{{crimesdVals[x]}}</td</tr>
	
                    {% endfor %}
                </table>

                <p class="white-table">*All scores out of 100. Score from 2007 Brady Campaign score card. For more info, click <a href="http://www.bradycampaign.org/2013-state-scorecard">here</a>.</p>

                </div>
            </center>
            
<form action="/home">
<button class="btn btn-primary btn-sm" value="Home"name="back">Go Back</button>
</form>
    </body>
</html>
