<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/amelia/bootstrap.min.css">
        <link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">
    </head>

    <body>
        
        <div class="container" ><br><br><br><br><br></div>

		<div class="container jumbotron" style="border-radius:30px">
        <center>
				
            <h1 > Effects of Gun Control on Deaths with Firearms</h1><br><br> <br>
    <form action="/" role="form" class="form-inline text-center">
		<div class= "form-group">

                   
                        <button class="btn btn-primary btn-lg" type="submit" name="button" value="why">Why Do This?</button>
               
                 
                        <button class="btn btn-success btn-lg" type="submit" name="button"  value="data">The Data</button>
              
                        <button class="btn btn-info btn-lg" type="submit" name="button" value="analysis">The Analysis</button>
               
                        <button class="btn btn-warning btn-lg" type="submit" name="button" value="sources">Sources</button>
           
		               
      
		</div>
		</div>
			</form>
        </center>
	</div>
    </body>
</html>

