<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<html>
    <head>
        <title>Sources</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for( 'static',filename='css/theme.css') }}">
    </head>

    <body>
        <h1>Sources</h1>
		<div class="text_body">
        <p><b>All Data From:<br></b>
        <a href="http://www.vpc.org/fadeathchart10.htm">Violence Policy Center</a><br>
        <a href="http://www.bradycampaign.org/xshare/pdf/scorecard/2007/2007_scorecard_rankings.pdf">The Brady Campaign 2007 Score Card</a></p>
	</div>
<form action="/home">
<button value="Home"name="back">Go Back</button>
</form>
    </body>
</html>
