<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<html>
    <head>
        <title>Sources</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/amelia/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
        <center>
			<h3><font color="pink">{{name}}</font>  wants to see the</h3><h1>Sources</h1>
		</center>
		<div class="text_body">
        <p style="font-size:16px"><b>All Data From:<br></b>
        <a href="http://www.vpc.org/fadeathchart10.htm">Violence Policy Center</a><br>
        <a href="http://www.bradycampaign.org/xshare/pdf/scorecard/2007/2007_scorecard_rankings.pdf">The Brady Campaign 2007 Score Card</a></p>
        </div>
<form action="/home">
<button class="btn btn-primary btn-sm" value="Home"name="back">Go Back</button>
</form>
    </div>
    </body>
</html>
