<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<html>
    <head>
        <title>Why?</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for( 'static',filename='css/theme.css') }}">
    </head>

    <body>
        <h1>Why?</h1>
<div class="text_body">
    <p> Gun control is a pertinent issue, with major gun control reform having just been shot down on the floor of the Senate. Every year the Brady Campaign, a pro gun control organization, releases a report providing each state with a score for the comprehensiveness of their gun control legislation. These reports are always met with scepticism and scorn from groups like the NRA. They claim that these rankings are irrelevant, and don't take into account or reflect issues like crime in the state, or number of deaths with a firearm. So I decided to see if there was a correlation between the rate of deaths with a firearm in a state, and the score provided by the Brady Foundation.</p>
<form action="/home">
<button value="Home"name="back">Go Back</button>
</form>
    </body>
	
</html>