{% extends "base.html" %}

{% block text %}

{% if loggedin==False %}
You are not logged in! Only members may see this post.
<br>
Please <a href="/login">login!</a>
{% endif %}

{% if loggedin %}
HOORAY! You accessed the secret page!<br>
As a gift, here's a picture of us with other people.<br>
Can you tell who's who? <br>
<img src="https://scontent-b-lhr.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10354962_875151715832683_2295236036645592979_n.jpg?oh=9c967b538c9fd9fd14c184a41814accf&oe=54E8F3A2" height="392" width="524">
<br><br><br>
<a class="pure-button" href="/logout" type = "submit"> Logout </a>
{% endif %}


{% endblock %}
