{% extends "base.html" %}

{% block text %}

	{% if loggedin == True %}
	You are logged in as {{username}}
	<br>
	<a class="pure-button" href="/logout" type = "submit"> Logout </a>

	{% endif %}
	
	{% if loggedin == False %}

	<font color="black">
	  <h2>Login</h2>
	  <form action="login" method="post">
	    Username:  <input required type="text" name="username"></input>
	    <br>
	    Password:&nbsp <input required type="password" name="password"></input>
	    <br>
	    <br>
	    <div>
	      <style scoped>
		
		.button-small {
		font-size: 85%;
		}
	      </style>
	      <button class="button-small pure-button" type = "submit">Login</button>
	    </div>
	  </form>
	  Don't have an account? <a href="/register">Register Here!</a>
	  
	</font>
	{{reason}}
	{% endif %}    
	<hr>
      </div>
    </div>
{% endblock %}
