<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  </head>
  <body>
    a
    {% if loggedin == False %}

    <div class="pure-g">
      <div class="pure-u-1-24"></div>
      <div class="pure-u-22-24">
	<a class="pure-button" href="/login">Login</a>
	<h1 align="center"><font>SadTerry Login</font></h1>
	<form action="login" method="post">
	  Username: <input required type="text" name="username"></input>
	  <br>
	  Password: <input required type="password" name="password"></input>
	  <br>
	  <button type = "submit">Login</button>
	</form>
	<hr>
      </div>
    </div>
    {% if exists == True %}
    This username already exists
    {% endif %}

    {% endif %}


  </body>
</html>
