{% extends "base.html" %}

{% block text %}
	{% if loggedin == True %}
	You are already logged in
	{% endif %}
	
	{% if page==2 or page==3 and loggedin==False %}
	<font color="white">
	  <h2>Register</h2>
	  <form action="register" method="post">
	    Username:  <input required type="text" name="username"></input>
	    <br>
	    Password:&nbsp <input required type="password" name="password"></input>
	    <br>
	    Retype Password: <input required type="password" name="password2">
	    <br>
	    <div>
	      <style scoped>
		
		.button-small {
		font-size: 85%;
		}
	      </style>
	      <button class="button-small pure-button" type="submit">Register</button>
	    </div>
	  </form>
	</font>
	<hr>
      </div>
    </div>
    {% if page == 2%}
    {{reason}}
    {% endif %}
    {% endif %}
    {{a}}

    {% if page==1 %}
    You have successfully registered!
    {% endif %}
{% endblock %}
