body {
    background: #eeeeee; 
    textcolor: #ffffff;
    padding: 0.5em;
}

.pure-table td {
    padding: 2px;
    text-align: right;
}

#champform {
    padding: 0.5em;
}

div.csformhead {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}

div.csformspacer {
    float: left;
    margin: 2em;
}

#champselects {
    float: left;
    padding: 0.5em;
    border: double;
}

div.cscol {
    float: left;
}

#statcheckboxes {
    float: left;
    padding: 0.5em;
    border: double;
}

div.statcbcol {
    float: left;
    margin-right:10px;
}

#submits {
    clear: both;
    float: none;
    border: double;
    display: inline-block;
    padding: 0.5em;
    text-align: center;
}

#statglossary {
    float: left;
    margin-top: 2em;
    padding: 0.5em;
    border: double;
}