<html>
  <head>
    <title>Welcome to iBM</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
  </head>
  <body>
    <ul id="menu">
      <div id="name">{{name}}</div>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/settings">Change Settings</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <p class="box">
      Hello and welcome to <b>iB</b>(rian)<b>M</b>(ichael)!
    </p>
    {% include 'messages.html' %}
  </body>
</html>
