{% extends "base.html" %}

{% block bodycontent %}

<form class="pure-form" action = "" method = "POST">
	<fieldset class = "pure-group">
		<center>
			<input type="text" name = "username" class = "pure-input-1-3 textfield" placeholder = "Enter Username" required>
			<input type="password" name = "password" class = "pure-input-1-3 textfield" placeholder = "Enter Password" required>
			<input type="password" name = "confirmpw" class = "pure-input-1-3 textfield" placeholder = "Enter Password Again" required>
		</center>
	</fieldset>
	<input type="submit" class = "button" name = "b" value = "Register">
</form>

{% endblock bodycontent %}
