{% extends "base.html" %}

{% block title %}
Account Keeper
{% endblock title %}

{% block tab %}
{% if user != None %}
<li role="presentation"><a href="/page">Home</a></li>
<li role="presentation"><a href="/about">About</a></li>
<li role="presentation"><a href="/profile/{{user}}">Profile</a></li>
<li role="presentation"><a href="/logout">Logout</a></li>
{% else %}
<li role="presentation"><a href="/">Home</a></li>
<li role="presentation"><a href="/about">About</a></li>
{% endif %}
{% endblock tab %}

{% block body %}
<div class="jumbotron">
  <h1>Join the coolest account community!</h1>
  	<div class="pull-right">
  		<p class="lead">
  			<i>
  				~brought to you by Adriel Mendoza and Cindy Wu~
  			</i>
  		</p>
	</div>
	<br>
	<br>
	<br>
	<center>
		Welcome to Account Keeper. The most superior account hosting website of all time. Create an account right now. You won't regret it. 
	</center>
{% endblock body %}
