{% extends "base.html" %}

{% block title %}
Account Keeper
{% endblock title %}

{% block body %}

<div class="jumbotron">
    <form>
    <div class="pull-right">
      
      <input type="text" class="form-control" name="user" placeholder="Username">
      <input type="password" class="form-control" name="pwd" placeholder="Password"><br>
      <input type="submit" class="btn btn-sm btn-success pull-right" name="login" value="Login">

    </div>
  </form>
  <h1>Join the coolest account community!</h1>
  <p class="lead">Don't have an account? You can sign up for one right now.</p>
  <p>    
    <a class="btn btn-lg btn-success" href="/register" role="button" name="register" value="r">Sign up today</a>
  </p>
</div>
{% endblock body %}
