{% extends "home.html" %}
{% block title %} Swabout  {% endblock %}
{% block navbar %}
      <li class="active"><a href ="/about"> Swabout</a></li>
      <li><a href ="/"> Swagin</a></li> 
      <li><a href ="/swagister"> Swagister</a></li>
      <li><a href ="/logout"> Logout</a></li>
{% endblock %}
{% block header %} *Swabout* {% endblock %}
{% block form %}
<div style="padding:0 200px">
<p>Swiggety swag. Swag. Swaggity swig. Swiggety sweg sweg, swag
swiggety sweg. Sweg swiggety swag, swag swiggety swug swag. SWAG! Swag
swiggety, swagister swag swiggety sweg. Swagger swag swagname, sweg
passwag, swag swug. Sweg, swug sweggity, userswag swagword, swag. Swiggety swag. Swag. Swaggity swig. Swiggety sweg sweg, swag
swiggety sweg. Sweg swiggety swag, swag swiggety swug swag. SWAG! Swag
swiggety, swagister swag swiggety sweg. Swagger swag swagname, sweg
passwag, swag swug. Sweg, swug sweggity, userswag swagword, swag. Swiggety swag. Swag. Swaggity swig. Swiggety sweg sweg, swag
swiggety sweg. Sweg swiggety swag, swag swiggety swug swag. SWAG! Swag
swiggety, swagister swag swiggety sweg. Swagger swag swagname, sweg
passwag, swag swug. Sweg, swug sweggity, userswag swagword, swag. Swiggety swag. Swag. Swaggity swig. Swiggety sweg sweg, swag
swiggety sweg. Sweg swiggety swag, swag swiggety swug swag. SWAG! Swag
swiggety, swagister swag swiggety sweg. Swagger swag swagname, sweg
passwag, swag swug. Sweg, swug sweggity, userswag swagword, swag. Swiggety swag. Swag. Swaggity swig. Swiggety sweg sweg, swag
swiggety sweg. Sweg swiggety swag, swag swiggety swug swag. SWAG! Swag
swiggety, swagister swag swiggety sweg. Swagger swag swagname, sweg
passwag, swag swug. Sweg, swug sweggity, userswag swagword, swag. Swiggety swag. Swag. Swaggity swig. Swiggety sweg sweg, swag
swiggety sweg. Sweg swiggety swag, swag swiggety swug swag. SWAG! Swag
swiggety, swagister swag swiggety sweg. Swagger swag swagname, sweg
passwag, swag swug. Sweg, swug sweggity, userswag swagword, swag. Swiggety swag. Swag. Swaggity swig. Swiggety sweg sweg, swag
swiggety sweg. Sweg swiggety swag, swag swiggety swug swag. SWAG! Swag
swiggety, swagister swag swiggety sweg. Swagger swag swagname, sweg
passwag, swag swug. Sweg, swug sweggity, userswag swagword, swag. Swiggety swag. Swag. Swaggity swig. Swiggety sweg sweg, swag
swiggety sweg. Sweg swiggety swag, swag swiggety swug swag. SWAG! Swag
swiggety, swagister swag swiggety sweg. Swagger swag swagname, sweg
passwag, swag swug. Sweg, swug sweggity, userswag swagword, swag. </p>
</div>
<h4><b>swag</b></center></h4>
{% endblock %}