<head>
<title> Swag  </title>
</head>
<body>
<center> <h1>*Swiggety Swag*</h1>
<legend>Enter your stuff</legend>
<label for="title">Userswag</label>
<input class="form-control" type="text" name="userswag" placeholder="Swagname">
<label for="author">Passwag</label>
<input class="form-control" type="password" name="passwag" placeholder="Swagword">
<input type="submit" name="sub" value="Join the Swag"></submit>
<button type="submit" name="sub" valuse="Login">Login!</button>
</center>
</body></html>
