<html> 
  <head>
    <title> 
      {% block title %}
      Title
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/flatly/bootstrap.min.css">
  </head>
  <body>
  <body class="center">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashed_messages_list">
                {% for message in messages %}
                       <li class="flashed_message error">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    {% block menu %}
    <div class="navbar navbar-inverse">
      <ul class="nav navbar-nav">
	<li><a href="/">Home</a></li>
	<li><a href="/register">Register</a></li>
	<li><a href="/aboutproj">About the Project</a></li>
	<li><a href="/welcome">Welcome</a></li>
	<li><a href="/about">About Me</a></li>
	<li><a href="/logout">Log Out</a></li>
	<li><a href="/random">Random</a></li>
      </ul>
    </div>
    {% endblock menu %}

    <center>
      <h1>
	{% block header %}
	Title Page 
	{% endblock header %}
      </h1>
      
      {% block body %}
      
      this is the body
      
      {% endblock body %}
      
    </center>
    
  </body>
  
</html>
