<style>
h1 {border-style:bold;
border-color:green;
border-width:5px;}
#a {background:orange;}
h1.orange {background-color:red;color:blue;}
.orange{color:orange}
.odd {background:gray;}
li:hover {background-color:aqua;}
.right {float:right; width:30%}
.left {float:left; width:30%}
</style>

<h1>This is a header</h1>

<div id="a">id</div>

<div class="c red">class</div>

<ol>
  <li class="right odd">one</li>
  <li class="red">two</li>
  <li class="odd">three</li>
  <li>four</li>
  <li class="odd">five</li>
</ol>

<ul>
  <li>alex</li>
  <li>was</li>
  <li>here</li>
  <li>JustKidding</li>
  <li>It's David</li>
</ul>

<div class="left">
  This is on the left
</div>

<div class="right">
  RIGHT
</div>

<body bgcolor="DarkKhaki">
</body>
<h1> This is the homepage </h1>
</style>
