<style>
h1 {border-style:bold;
border-color:green;
border-width:5px;
text-align:center;
color:blue;}
#a {background:orange;}
h1.orange {background-color:red;color:blue;}
.orange{color:orange}
.odd {background:gray;}
li:hover {background-color:aqua;}
.right {float:right; width:30%}
.left {float:left; width:30%}
</style>

<h1>Pokemon Chart</h1>
<a href="data">Our chart</a>
<div id="a">id</div>

<div class="c red">class</div>

<ol>
  <li class="right odd">one</li>
  <li class="red">two</li>
  <li class="odd">three</li>
  <li>four</li>
  <li class="odd">five</li>
</ol>

<ul>
  <li>List</li>
  <li>of</li>
  <li>Pokemon</li>
  <li>Attributes</li>
  <li>Search bar for extra info</li>
</ul>

<div class="left">
  This is on the left
</div>

<div class="right">
  <img src="/static/pikachu.png" height="150" width="150">
</div>

<body bgcolor="DarkKhaki">
</body>
<h1> David Dvorkin and Alex Libman, Period 7 </h1>
</style>
