<style>
h1 {border-style:bold;
border-color:green;
border-width:5px;}
#a {background:green}
form { 
margin: 0 auto; 
width:250px;
}
table {background-color:#7D0552; color: white;}
tr:hover {background-color:red;}
</style>
<body bgcolor="#CC6600">
</body>
<center>More info on pokemon:</center> 
<form>
  <input type="text" name="name">
  <input type="submit" name="b" value = "Enter">
</form>
<table border="1" style="width:60%" align = "center">
  <tr BGCOLOR="#659EC7">
    <td><b>Name</b></td>
    <td><b>HP</b></td>
    <td><b>Attack</b></td>
    <td><b>Defense</b></td>
    <td><b>Total</b></td>
  </tr>
  {% for n in dataList.keys() %}
  <tr>
    <td>{{n.decode("utf-8")}}</td>
    <td>{{dataList[n][0]}}</td>
    <td>{{dataList[n][1]}}</td>
    <td>{{dataList[n][2]}}</td>
    <td>{{dataList[n][0] + dataList[n][1] + dataList[n][2]}}</td>
  </tr>
  {% endfor %}
</table>
