<html>
<head><title>Constituional!</title></head>
<body style="background-color:#E68081">
<form method="POST" action="/results">
<h1><center> Greetings Weary Traveller</h1>
<br> <center> If you are here it can only mean that <br>
you have a deep insatiable curiosity for constitutions<br>
<br>
Or you might be grading me, either or </center>
<br> <br>
<center><b> Choose two and only two constitutions to compare </b> <br><br>
<center>Russian Federations <input type="checkbox" name="Yes" value="Russia"><br>
<center>USSR <input type="checkbox" name="Yes" value="ussr"><br>
<center>United states of America <input type="checkbox" name="Yes" value="usa"><br>
<center>France <input type="checkbox" name="Yes" value="france"><br>
<center>France 1791 <input type="checkbox" name="Yes" value="seventeen"><br>
<center>Iran <input type="checkbox" name="Yes" value="iran"><br>
<center>Magna Carta? <input type="checkbox" name="Yes" value="magna"><br>
<center>Communist Manifesto?? <input type="checkbox" name="Yes" value="manifesto"><br>
<br>
<br>
<center> <b> What do you want to do with them? </b> <br><br>
<center>Most frequent words for both <input type="checkbox" name="Yes" value="yestopwords"><br>
<center>All shared words <input type="checkbox" name="Yes" value="common"><br>
<center>How many total words <input type="checkbox" name="Yes" value="total"><br>
<center>How many unique words <input type="checkbox" name="Yes" value="unique"><br>
<center>Percentage of unique words <input type="checkbox" name="Yes" value="percentage"><br>
<center>Total number of letters <input type="checkbox" name="Yes" value="letters"><br>
<input type="submit" name="Submit" value="Show that you have not wasted my precious time">
</center>
<br>
</form>
<br> <br> <br> <br> After you are done you should go to <a href="http://149.89.161.100/~adam.dehovitz/adamspg.html">this page</a> which is infinitely less lame and uncompelling 
<br>
</body>
</html>
