<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="static/desu.css">
</head>
<body>
<table>
  <tr>
    {% for item in stattable[0] %}
    <th>{{item}}</th>
    {% endfor %}
  </tr>
  {% for row in stattable[1:] %}
  <tr>
    {% for item in row %}
    <td>{{item}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<table>
  <tr>
    {% for item in wrtable[0] %}
    <th>{{item}}</th>
    {% endfor %}
  </tr>
  {% for row in wrtable[1:] %}
  <tr>
    {% for item in row %}
    <td>{{item}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
</body>
