<!DOCTYPE html> 
<html>
<head>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css"> 
  <link rel="stylesheet" href="static/home.css">
</head>
<body background="static/leaguebackground.jpg">
  <h1>
    <center>Welcome to the League of Legends Stat Comparison Thingy</center>
  </h1>
  <div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading">Menu</a>
    <ul>
      <li><a href="/form">Champion Comparison</a></li>
      <li><a id="menuspacer"></a></li>
      <li><a href="/all">Champion Stats</a></li>
      <li><a href="/level">Level 18 Stats (broken)</a></li>
      <li id="ayylmao">ayy lmao</li>
    </ul>
  <center>
    <img src="static/incredible.jpg">
  </center>
  
  </div>
</body> 
</html>
