<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="static/desu.css">
Level 18 Stats
</head>
<body>
  <table>
  <tr>
    {% for num in columnstoget %}
    <th>{{csvtable[0][num]}}</th>
    {% endfor %}
  </tr>
  {% for row in csvtable[1:] %}
  <tr>
    {% for colnum in columnstoget %}
    {% if colnum not in [0,1,2,13,18,19] %}
    <td>{{(row[colnum-2]|float())+(17*(row[colnum-1]|float()))}}</td>
    {% else %} 
    <td>{{row[colnum]}}</td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
</table>
</body>
