<html> 
<style>
table{
font-size: 20px;
color: white;
padding: 10px;
text-align: center;
border-radius: 15px;
background-color: black;
border: 2px solid red;
}
tr {
border: 1px solid red;
}
td {
border: 1px solid red;
}
header{
height: 110px;
border: 3px solid red
width: 500px
align: center;
font-size: 100;
font-style: italic;
}
.stretch {
width: 20%;
height:40%;
}

</style>

<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<title> {{ name }} Data </title> </head>
<div class="pure-menu pure-menu-open pure-menu-horizontal">
  <ul>
    <li class="pure-menu-selected"><a href="home">Home</a></li>
    <li><a href="/"> Front Page</a></li>
    <li><a href="http://true5050.com/eFCOd"> Billionaire or Ducks- Click if you dare</a></li>
  </ul>
</div>
<header> Forbes2000 Data </header>
<div>
 <img src="/static/Forbes5.jpg" class="stretch" alt="" />
<img src="/static/Forbes6.jpg" class="stretch" alt="" />
</div>

<body>
<table class="pure-table pure-table-bordered" border="1">
{% for line in l %}
	<tr>
	{% for e in line %}
		<td>{{ e }}</td>
	{% endfor %}
	</tr>
{% endfor %}
</table>
</body>
</html>
