
<html> 
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">


    <title>Forbes Dataset Reader Homepage </title> </head>

  <script language="Javascript">
    function showFunc() {
    //Source: http://stackoverflow.com/questions/1085801/how-to-get-the-selected-value-of-dropdownlist-using-javascript
    e = document.getElementById("first");
    var value = e.options[e.selectedIndex].value;
    var text = e.options[e.selectedIndex].text;
    document.getElementById(value).style.display="inline";
    document.getElementById("form").action = "/" + text;
    var reveals = document.getElementsByClassName("reveal");
    for (var i=0; i < reveals.length; i++)
		      reveals[i].style.display="inline";
		      }
		      function print(string) {
		      window.alert(string);
		      }
		      </script>

  <style>
    body {
    background-color: black;
    color: white;
    }
    h1{
    font-size: 550%;
    font-style: italic
    background-color: black; 
    color: white;
    width:40%;
    float:center;
    border-style:solid;
    border-width:3px;
    border-color:red;}

  </style>

  <body>
    <h1>Forbes Dataset Reader</h1>
    Dataset: 
    <select id="first" onchange="showFunc();">
      <option value="blank"> </option>
      {% for i in range(names|length) %}
      <option value="{{ i }}">{{ names[i] }}</option>
      {% endfor %}
    </select> <br>

    <div class="reveal">
      Sort by: 
    </div>
    <form class="pure-form pure-form-aligned" id="form" action="" method="get">
      {% for i in range(lines|length) %}
      <div id="{{ i }}" style="display:none">
	<select name="sort">
	  {% for e in lines[i] %}
	  <option value="{{ e }}">{{ e }}</option>
	  {% endfor %}
	</select>
      </div>
      {% endfor %}
</input><br>
<input type="submit" class="reveal" value="Submit">
</form></body> </html>
