<!DOCTYPE html>

<html>
  <head>
    <title>POKEMON | HOME</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="../static/marketing.css">
    <link rel="stylesheet" href="../static/font-awesome.min.css">
  </head>

  <body>
    <div class="header">
      <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
	<a class="pure-menu-heading" href="">Pokemon Data</a>
	
        <ul>
          <li class="pure-menu-selected"><a href="http://localhost:5000">Home</a></li>
          <li><a href="http://localhost:5000/data">Data</a></li>
        </ul>
      </div>
    </div>

    <div class="splash-container">
      <div class="splash">
        <h1 class="splash-head">ALL THE POKEMON STATS</h1>
        <p class="splash-subhead">
          that you would ever want.
        </p>
        <p>
          <a href="http://localhost:5000/data" class="pure-button pure-button-primary">Take me there!</a>
        </p>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="footer l-box is-center">
	<br><br>
	 <i class="fa-copyright"><i>2014 Genji Noguchi and Sadman Fahmid
       </div>
    </div>
  </body>


</html>
