<head>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <style type="text/css">
    body {text-align:center;}
    h1 {border-style: dotted;
    font-size: 60px;
    font-family: Georgia, Times, "Times New Roman", serif;
    text-align:center;
    color:660099;}
    .a {background-color:660099;
    border-radius:30px;
    color:white;}
    .b {color:660099;
    font-size: 30px;
    font-family: Georgia, Times, "Times New Roman", serif;}
  </style>
</head>

<h1>The home page</h1>

This is the home page

<form method="POST">
	<button type="submit"> {{status}} </button>	
</form>
