<head>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <style>
    body {text-align:center;}
    h1 {border-style: dotted;
    font-size: 60px;
    font-family: Georgia, Times, "Times New Roman", serif;
    text-align:center;
    color:660099;}
    .a {background-color:660099;
    border-radius:30px;
    color:white;}
    .b {color:660099;
    font-size: 30px;
    font-family: Georgia, Times, "Times New Roman", serif;}
  </style>
</head>

<h1>Register:</h1>

<form name="input" method="post">
   Pick a username: <input type="text" name="username">
<br>
Pick a password: <input type="text" name="password">
<input type="submit" value="Submit">
</form>