<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="static/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <style>
body {
  padding: 65px;
}
  </style>

  <body role="document">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="../home">Home</a>
        </div>
        <div class="navbar-collapse collapse">

          <form class="navbar-form navbar-right" role="form" action="/results">
            <div class="form-group">
              <input type="text" name="search1" placeholder="Champion 1" class="form-control"></input>
	      <input type="text" name="search2" placeholder="Champion 2" class="form-control"></input>
            </div>
            <input type="submit" name="b" class="btn btn-success" value="Search">Search</input>
          </form>

        </div><!--/.navbar-collapse -->
      </div>
    </div>

  <h1 align="center">CHAMPION COMPARISON</h1><br>
  <h2 align="center"> <b>{{search1}} vs. {{search2}}</b> !! </h2> <br><br>
  <h3 align="center"><b>KDA:</b> {{search1}} : {{kda1}} vs. {{search2}} : {{kda2}}</h3><br>
  <h3 align="center"><font color="green">KILLS:</font> {{search1}} : {{kill1}} vs. {{search2}} : {{kill2}}</h3><br>
  <h3 align="center"><font color="red">DEATHS:</font> {{search1}} : {{death1}} vs. {{search2}} : {{death2}}</h3><br>
  <h3 align="center"><font color="blue">ASSISTA:</font> {{search1}} : {{assist1}} vs. {{search2}} : {{assist2}}</h3><br>
  <a href="../data">Check out our data!</a><br>
  <a href="../home">Go back!</a><br>

    <div class="container theme-showcase" role="main">

    </div>
  </body>
</html>
