<!DOCTYPE html>
<html>

<body>

  <h1 align="center">CHAMPION COMPARISON</h1><br>
  <h2 align="center"> {{search1}} vs. {{search2}} !! </h2> <br><br>
  <h3 align="center">KDA: {{search1}} : {{kda1}} vs. {{search2}} : {{kda2}}</h3><br>
  <h3 align="center">KILLS: {{search1}} : {{kill1}} vs. {{search2}} : {{kill2}}</h3><br>
  <h3 align="center">DEATHS: {{search1}} : {{death1}} vs. {{search2}} : {{death2}}</h3><br>
  <h3 align="center">ASSISTA: {{search1}} : {{assist1}} vs. {{search2}} : {{assist2}}</h3><br>
  <a href="../data">Check out our data!</a><br>
  <a href="../home">Go back!</a><br>
</body>
</html>
