<head>
<link rel="shortcut icon" href="/static/icon.ico">
<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Portas Troiae</title>

        <link rel="stylesheet"
        href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

<style>
body{
        wWidth  = $window.width();
        wHeight = $window.height();
	width:700px;
	height:150px;
	position:relative;
	left:40%;
	top:20%;
	margin:-70px 0 0 -135px;
background-color: pink;
}

section{
  font-weight: normal;
  line-height: 38px;
}
.button-submit{
        color: white;
        border-radius: 4px;
        background:white;
        }
.pure-button{
color: black;
background: white;
}
</style>
</head>
</style>

<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Portas Troiae</a>
        <ul>
            <li class="pure-menu-selected"><a href="/home">Home</a></li>
            <li><a href="#">{{ logged }}</a></li>
        </ul>
    </div>
</div>
<br>

{% block bodycontent %}
This is a placeholder
{% endblock bodycontent %}
