{% extends "base.html" %}

{% block bodycontent %}

<img src="http://static.fjcdn.com/pictures/Julius_4c96a5_1612018.jpg" alt="gotta catch em all">
<img src="http://static.fjcdn.com/pictures/Julius_4c96a5_1612018.jpg" alt="gotta catch em all">
<img src="http://static.fjcdn.com/pictures/Julius_4c96a5_1612018.jpg" alt="gotta catch em all">
<img src="http://static.fjcdn.com/pictures/Julius_4c96a5_1612018.jpg" alt="gotta catch em all">
<img src="http://static.fjcdn.com/pictures/Julius_4c96a5_1612018.jpg" alt="gotta catch em all">
<img src="http://static.fjcdn.com/pictures/Julius_4c96a5_1612018.jpg" alt="gotta catch em all">
<img src="http://static.fjcdn.com/pictures/Julius_4c96a5_1612018.jpg" alt="gotta catch em all">
<img src="http://static.fjcdn.com/pictures/Julius_4c96a5_1612018.jpg" alt="gotta catch em all">
<img src="http://static.fjcdn.com/pictures/Julius_4c96a5_1612018.jpg" alt="gotta catch em all">
<img src="http://static.fjcdn.com/pictures/Julius_4c96a5_1612018.jpg" alt="gotta catch em all">
<br><br><br>
Image from: http://static.fjcdn.com/pictures/Julius_4c96a5_1612018.jpg
<br><br>

{% endblock bodycontent %}
