{% extends "base.html" %}

{% block bodycontent %}
<img src="https://31.media.tumblr.com/tumblr_m1ms9rztj21qbe1z0.gif" alt="omfgdogs">
<img src="https://31.media.tumblr.com/tumblr_m1ms9rztj21qbe1z0.gif" alt="omfgdogs">
<img src="https://31.media.tumblr.com/tumblr_m1ms9rztj21qbe1z0.gif" alt="omfgdogs">
<img src="https://31.media.tumblr.com/tumblr_m1ms9rztj21qbe1z0.gif" alt="omfgdogs">
<img src="https://31.media.tumblr.com/tumblr_m1ms9rztj21qbe1z0.gif" alt="omfgdogs">
<img src="https://31.media.tumblr.com/tumblr_m1ms9rztj21qbe1z0.gif" alt="omfgdogs">
<img src="https://31.media.tumblr.com/tumblr_m1ms9rztj21qbe1z0.gif" alt="omfgdogs">
<img src="https://31.media.tumblr.com/tumblr_m1ms9rztj21qbe1z0.gif" alt="omfgdogs">
<img src="https://31.media.tumblr.com/tumblr_m1ms9rztj21qbe1z0.gif" alt="omfgdogs">
<img src="https://31.media.tumblr.com/tumblr_m1ms9rztj21qbe1z0.gif" alt="omfgdogs">
<br><br><br>
Image from: https://31.media.tumblr.com/tumblr_m1ms9rztj21qbe1z0.gif
<br><br>
More images at: omfgdogs.com
<br><br>

{% endblock bodycontent %}
