{% extends "base.html" %}

{% block bodycontent %}
<body>
<center>
<section>
  <h1>Vene Per Porta</h1>
</section>

{% if logging is defined %}
  {% if logging%}
  <h2> You Have Successfully Logged In!</h2>
  {% else %}
  <h2> You Have Failed to Log In...</h2>
  {% endif %}
{% endif %}
{% if success is defined %}
  {% if success %}
  <h2> You Have Been Registered, Log On In!</h2>
  {% else %}
  <h2> There was an issue with your registration, please try again. </h2>
  {% endif %}
{% endif %}

<form name="input" class="pure-form" method="POST">
 <input type="text" class="pure-input-rounded" name="username" placeholder="Nomen">
 <br><br>
 <input type="password" class="pure-input-rounded" name="password" placeholder="Vestra Res">
 <br><br>
<input type="submit" href = "/logging" value="Login" class="button-submit pure-button">
<input type="submit" href ="/registering" value="Register" class="button-submit pure-button">
</form>
</center>
</body>
{% endblock bodycontent %}
