<html>
<style>
body { background-color: #A4A4A4;
}
h1 { background-color: #8A0829;
} 
</style>
<head>
<title>NYC 2011/9 Tonnage Collected</title>
</head>
<body>
<h1>The Tonnages of Waste Table</h1>
<hr>
For each Community District, the tons of Refuse, Paper Recycling and Metal, Glass & Plastic Recycling that were collected by the Department of Sanitation (DSNY) during the calendar month.
<br>
<br>
<table border="2">
<tr><td>Month</td><td>Borough</td><td>CommunityDistrict</td><td>RefuseTonsCollected</td><td>PaperTonsCollected</td><td>MGPTonsCollected
</td></tr>
<tr><td>2011 / 09</td><td>Manhattan</td><td>1</td><td>1241.24</td><td>420.95</td><td>216.91
</td></tr>
<tr><td>2011 / 09</td><td>Manhattan</td><td>2</td><td>2245.23</td><td>500.94</td><td>269.77
</td></tr>
<tr><td>2011 / 09</td><td>Manhattan</td><td>3</td><td>3178.24</td><td>388.52</td><td>257.06
</td></tr>
<tr><td>2011 / 09</td><td>Manhattan</td><td>4</td><td>2279.71</td><td>517.98</td><td>335.69
</td></tr>
<tr><td>2011 / 09</td><td>Manhattan</td><td>5</td><td>1348.82</td><td>278.28</td><td>152.43
</td></tr>
<tr><td>2011 / 09</td><td>Manhattan</td><td>6</td><td>3117.88</td><td>628.98</td><td>385.61
</td></tr>
<tr><td>2011 / 09</td><td>Manhattan</td><td>7</td><td>5461.86</td><td>1232.56</td><td>617.15
</td></tr>
<tr><td>2011 / 09</td><td>Manhattan</td><td>8</td><td>5904.28</td><td>1225.57</td><td>643.79
</td></tr>
<tr><td>2011 / 09</td><td>Manhattan</td><td>9</td><td>2717.01</td><td>291.66</td><td>190.29
</td></tr>
<tr><td>2011 / 09</td><td>Manhattan</td><td>10</td><td>2962.33</td><td>224.69</td><td>156.22
</td></tr>
<tr><td>2011 / 09</td><td>Manhattan</td><td>11</td><td>2329.99</td><td>180.59</td><td>110.67
</td></tr>
<tr><td>2011 / 09</td><td>Manhattan</td><td>12</td><td>5281.14</td><td>434.96</td><td>380.6
</td></tr>
<tr><td>2011 / 09</td><td>Bronx</td><td>1</td><td>2052.58</td><td>91.27</td><td>76.03
</td></tr>
<tr><td>2011 / 09</td><td>Bronx</td><td>2</td><td>1664.38</td><td>82.04</td><td>97.48
</td></tr>
<tr><td>2011 / 09</td><td>Bronx</td><td>3</td><td>1917.67</td><td>80.88</td><td>78.65
</td></tr>
<tr><td>2011 / 09</td><td>Bronx</td><td>4</td><td>4588.12</td><td>169.44</td><td>167.9
</td></tr>
<tr><td>2011 / 09</td><td>Bronx</td><td>5</td><td>3735.12</td><td>164.09</td><td>207.24
</td></tr>
<tr><td>2011 / 09</td><td>Bronx</td><td>6</td><td>2328.64</td><td>95.04</td><td>112.25
</td></tr>
<tr><td>2011 / 09</td><td>Bronx</td><td>7</td><td>3926.07</td><td>237.94</td><td>244.82
</td></tr>
<tr><td>2011 / 09</td><td>Bronx</td><td>8</td><td>2651.04</td><td>351.2</td><td>237.54
</td></tr>
<tr><td>2011 / 09</td><td>Bronx</td><td>9</td><td>4510.36</td><td>200.64</td><td>235.91
</td></tr>
<tr><td>2011 / 09</td><td>Bronx</td><td>10</td><td>2860.96</td><td>378.97</td><td>274.43
</td></tr>
<tr><td>2011 / 09</td><td>Bronx</td><td>11</td><td>3307.65</td><td>333.6</td><td>251.35
</td></tr>
<tr><td>2011 / 09</td><td>Bronx</td><td>12</td><td>4185.39</td><td>390.3</td><td>404.84
</td></tr>
<tr><td>2011 / 09</td><td>Brooklyn</td><td>1</td><td>4819.68</td><td>535.61</td><td>372.21
</td></tr>
<tr><td>2011 / 09</td><td>Brooklyn</td><td>2</td><td>2356.85</td><td>472.87</td><td>288.6
</td></tr>
<tr><td>2011 / 09</td><td>Brooklyn</td><td>3</td><td>4323.49</td><td>253.98</td><td>217.42
</td></tr>
<tr><td>2011 / 09</td><td>Brooklyn</td><td>4</td><td>3405.96</td><td>192.22</td><td>231.87
</td></tr>
<tr><td>2011 / 09</td><td>Brooklyn</td><td>5</td><td>4610.77</td><td>242.86</td><td>282.65
</td></tr>
<tr><td>2011 / 09</td><td>Brooklyn</td><td>6</td><td>2444.26</td><td>635.78</td><td>377.47
</td></tr>
<tr><td>2011 / 09</td><td>Brooklyn</td><td>7</td><td>3490.23</td><td>439.06</td><td>307.33
</td></tr>
<tr><td>2011 / 09</td><td>Brooklyn</td><td>8</td><td>2880.5</td><td>237.52</td><td>194.48
</td></tr>
<tr><td>2011 / 09</td><td>Brooklyn</td><td>9</td><td>3310.09</td><td>239.63</td><td>163.42
</td></tr>
<tr><td>2011 / 09</td><td>Brooklyn</td><td>10</td><td>3523.83</td><td>577.12</td><td>321.65
</td></tr>
<tr><td>2011 / 09</td><td>Brooklyn</td><td>11</td><td>4984.23</td><td>698.25</td><td>388.23
</td></tr>
<tr><td>2011 / 09</td><td>Brooklyn</td><td>12</td><td>6184.15</td><td>767.46</td><td>326.95
</td></tr>
<tr><td>2011 / 09</td><td>Brooklyn</td><td>13</td><td>2292.82</td><td>190.11</td><td>165.43
</td></tr>
<tr><td>2011 / 09</td><td>Brooklyn</td><td>14</td><td>5004.17</td><td>477.62</td><td>280.94
</td></tr>
<tr><td>2011 / 09</td><td>Brooklyn</td><td>15</td><td>4790.05</td><td>704.89</td><td>388.61
</td></tr>
<tr><td>2011 / 09</td><td>Brooklyn</td><td>16</td><td>1998.63</td><td>102.8</td><td>104.87
</td></tr>
<tr><td>2011 / 09</td><td>Brooklyn</td><td>17</td><td>4672.69</td><td>323.77</td><td>341.74
</td></tr>
<tr><td>2011 / 09</td><td>Brooklyn</td><td>18</td><td>5975.13</td><td>653.01</td><td>480.11
</td></tr>
<tr><td>2011 / 09</td><td>Queens</td><td>1</td><td>4303.89</td><td>584.42</td><td>439.02
</td></tr>
<tr><td>2011 / 09</td><td>Queens</td><td>2</td><td>2813.21</td><td>376.24</td><td>268.12
</td></tr>
<tr><td>2011 / 09</td><td>Queens</td><td>3</td><td>5020.36</td><td>414.94</td><td>377.62
</td></tr>
<tr><td>2011 / 09</td><td>Queens</td><td>4</td><td>4496.98</td><td>375.58</td><td>287.04
</td></tr>
<tr><td>2011 / 09</td><td>Queens</td><td>5</td><td>5172</td><td>724.31</td><td>537.01
</td></tr>
<tr><td>2011 / 09</td><td>Queens</td><td>6</td><td>2991.34</td><td>463.59</td><td>276.91
</td></tr>
<tr><td>2011 / 09</td><td>Queens</td><td>7</td><td>6868.46</td><td>929.72</td><td>542.06
</td></tr>
<tr><td>2011 / 09</td><td>Queens</td><td>8</td><td>3930.76</td><td>546.35</td><td>333.45
</td></tr>
<tr><td>2011 / 09</td><td>Queens</td><td>9</td><td>4304.94</td><td>448.43</td><td>367.94
</td></tr>
<tr><td>2011 / 09</td><td>Queens</td><td>10</td><td>4251.46</td><td>448.11</td><td>373.9
</td></tr>
<tr><td>2011 / 09</td><td>Queens</td><td>11</td><td>3369.39</td><td>566.36</td><td>325.09
</td></tr>
<tr><td>2011 / 09</td><td>Queens</td><td>12</td><td>7201.87</td><td>505.05</td><td>583.34
</td></tr>
<tr><td>2011 / 09</td><td>Queens</td><td>13</td><td>5881.85</td><td>593.86</td><td>566.46
</td></tr>
<tr><td>2011 / 09</td><td>Queens</td><td>14</td><td>3758.73</td><td>272.92</td><td>205.08
</td></tr>
<tr><td>2011 / 09</td><td>Staten Island</td><td>1</td><td>6305.43</td><td>723.06</td><td>530.55
</td></tr>
<tr><td>2011 / 09</td><td>Staten Island</td><td>2</td><td>5155.77</td><td>678.55</td><td>455.27
</td></tr>
<tr><td>2011 / 09</td><td>Staten Island</td><td>3</td><td>6424.57</td><td>933.83</td><td>604.76
</td></tr>
</table>
</body>
</html>