<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <style>
    body { background-color: #848484;
    }
    h1 { background-color: #8A0829;
    } 
  </style>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <title>NYC 2011/9 Tonnage Collected</title>
  </head>
  <center>
    <body>
      <h1>The Tonnage of Waste Table</h1>
      <hr>
      The tons of Refuse, Paper Recycling and Metal, Glass & Plastic Recycling for each Community District that were collected by the Department of Sanitation (DSNY) during the calendar month.
      <br>
      <br>
      Check out my analysis by going to /analysis up top!
      <br>
      <br>
      <table class="pure-table pure-table-bordered">
	<thead>
	  <tr>
	    {% for x in table[0] %}
	    <th>
	      {{x}}
	    </th>
	    {% endfor %}
	  </tr>
	</thead>
	{% for district in table[1:] %}
	<tr>
	  {% for d in district %}
	  <td>
	    {{d}}
	  </td>
	  {% endfor %}
	</tr>
	{% endfor %}
      </table>
      <br>
      <br>
  </center>
</body>
</html>
