{% extends "base.html" %}

{% block bodycontent %}
	<center>
	<br>
	<div class= "container jumbotron " style="border-radius:30px; width:500px">
	
			<h1>Register</h1>
			{% if error %}
 			<div class="alert alert-dismissable alert-danger">
 		     <strong>Error:</strong> {{ error }}
 		   </div>
		   {% endif %}
				<form method = "POST" form-action="userpage" class= "form-horizontal"role="form">
					<div class= "form-group" >
					<label class= "control-label">User Name</label> <input class="form-control" type="text" name="user" placeholder="Your User Name"><br><br>
					<label class = "control-label">Password</label> <input class= "form-control" type ="password" name="pwd" placeholder="Password is a bad Password"><br><br>
					<button type="submit" name="register" class=" btn btn-lg btn-warning">Register</button>
				</div>
				</form>
				<a href="/login">Already have an account? To Login in Click Here</a>		
	</div>
	</center>
{% endblock bodycontent %}