{% extends "base.html" %}

{% block bodycontent %}

	<br>
	<h1>Settings<span class="glyphicon glyphicon-cog"></span></h1>
		<div class=" container form-group" style: "width:20px">
			<p><form method = "POST">
				<label class="control-label">New User Name: </label><input type="text" class="form-control" name="user" placeholder="new username"><br>
				<label class="control-label">New Password: </label><input type= "text" class="form-control" name="pword"placeholder="new password"><br>
				<button type = "submit" class="btn btn-warning">Submit Changes</button>
			</form></p>
 		    {% if error %}
 			<div class="alert alert-dismissable alert-danger">
 		    {{ error }}
 		   </div>
 		     {% endif %}
			<div>
{% endblock bodycontent %}