<h1> Recover Password </h1>

<form method="POST">
<h3>{{message}}</h3>
<br>
Username: <input type="text" name="username">
<br>
<br>
Security Question:
<select name = "security">
  <option value="First">Who's your favorite teacher at stuy?</option>
  <option value="Second">What's your favorite class at stuy</option>
  <option value="Third">How many pickles can Z eat in one sitting?</option>
</select>
<br>
Answer: <input type="text" name="answer">
<br>
<br>
<input type = "submit" name = "button" value= "Submit">
<input type = "submit" name = "button" value= "Cancel">
<a href="\login"><span class="s1">Back To Login</span></a>
</form>


