{% extends "base.html" %}
{% block content %}
<form class="pure-form" method="POST">
  <fieldset class="pure-group">
    <legend>Login</legend>
    <input type="text" name = "username" class="pure-input-1-3 fields" required>
    <input type="password" name = "password" class="pure-input-1-3 fields" required> 
  </fieldset>
  <button type="submit" class="pure-button">Submit</button>
</form>

<a class="pure-button" href="{{ url_for('register') }}" role="button">Register here</a>
{% endblock content %}
