<html>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<title> Dallas </title>

<style>
h1{
color: white;
background: blue;
}
</style>

<head>
<h1> DALLAS MAVERICKS 2011 </h1>
<center><img src="../static/mavs.jpeg" alt="dallas"></center>
</head>
<br>

<body>
<center>
<table class= "pure-table pure-table-bordered">
  <thead>
    <tr>
      <td> CATEGORY </td><td> G </td><td> MP </td><td> FG </td><td> FGA </td><td> FG% </td><td> 3P </td><td> 3PA </td><td> 3P% </td><td> FT </td><td> FTA </td><td> FT% </td><td> ORB </td><td> DRB </td><td> TRB </td><td> AST </td><td> STL </td><td> BLK </td><td> TOV </td><td> PF </td><td> PTS </td><td> PTS/G </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> TEAM </td><td> 82 </td><td> 19705 </td><td> 3069 </td><td> 6463 </td><td> .475 </td><td> 645 </td><td> 1768 </td><td> .365 </td><td> 1437 </td><td> 1850 </td><td> .777 </td><td> 780 </td><td> 2618 </td><td> 3398 </td><td> 1954 </td><td> 557 </td><td> 352 </td><td> 1145 </td><td> 1575 </td><td> 8220 </td><td> 100.2 </td>
    </tr> 
    <tr>
      <td> LG RANK </td><td> </td><td> 29 </td><td> 13 </td><td> 24 </td><td> 5 </td><td> 8 </td><td> 5 </td><td> 11 </td><td> 24 </td><td> 27 </td><td> 8 </td><td> 28 </td><td> 6 </td><td> 14 </td><td> 2 </td><td> 23 </td><td> 24 </td><td> 12 </td><td> 27 </td><td> 11 </td><td> 11 </td>
    </tr> 
    <tr>
      <td> OPPONENT </td><td> 82 </td><td> 19705 </td><td> 2996 </td><td> 6656 </td><td> .450 </td><td> 508 </td><td> 1480 </td><td> .343 </td><td> 1373 </td><td> 1830 </td><td> .750 </td><td> 880 </td><td> 2459 </td><td> 3339 </td><td> 1689 </td><td> 623 </td><td> 303 </td><td> 1114 </td><td> 1650 </td><td> 7873 </td><td> 96.0 </td>
    </tr> 
    <tr>
      <td> LG RANK </td><td> </td><td> 29 </td><td> 11 </td><td> 15 </td><td> 8 </td><td> 11 </td><td> 17 </td><td> 7 </td><td> 3 </td><td> 5 </td><td> 5 </td><td> 14 </td><td> 14 </td><td> 13 </td><td> 10 </td><td> 23 </td><td> 2 </td><td> 24 </td><td> 8 </td><td> 10 </td><td> 10 </td>
    </tr> 
  </tbody>
</table> 
</center>

<br>
<nav class="nav">
  <ul class="nav-list">
    <li class="nav-item">
      <a class="pure-button" href="/home">Go Back</a>
    </li>
  </ul>
</nav>

</body>

</html>
