<html>
<center><h1> SOFTDEV ZAMANSKY </h1></center>

<style>
a {
cursor:crosshair
}
h1 {
color: red;
background: gray;
}
h2 {
color: blue;
}

</style>

<title> INTRO PROJ1 </title>

 <head>
 Period 5
 <br>
 Abrar Ahmed
 <br>
 Jerry Dai
 <br>
 </head>

 <body>

 <h1> <center> NBA Championship Team Stat Comparison </center> </h1>
 <h2> <center> Question: What makes up a championship team? </center> </h2>

 &nbsp&nbsp&nbsp&nbsp&nbspBelow is the data for the past three National Basketball Association (<b>NBA</b>) championship team seasons.
 Included are the teams' average statitics for the year as well as their Final opponent average statistics.
 We chose this data in order to answer the question: what makes up a championship team?
 We will compare the season averages of the winning team and the runner-up and see why one team won and why the other lost.


 <h1> <center> The Raw Data </center> </h1>

 <h2> <center> Season Stats for Championship Teams and their Opponents </center> </h2>

<center>
<button><a href="/miami"> Miami Heat (2012 )</a></button>
<button><a href="/dallas"> Dallas Mavericks (2011 )</a></button>
<button><a href="/la"> Los Angeles Lakers (2010) </a></button>
</center>

</body>
</html>

