{% extends "base.html" %}

{% block name %}
<a class="navbar-brand" href="/home">Welcome, <strong>{{name}}</strong></a>
{% endblock name %}

{% block css %}
<link href="/static/base.css" rel="stylesheet">
{% endblock css %}

{% block session_button %}
<li><a href="/logout">Logout</a></li>
{% endblock session_button %}


{% block main %}
<title>Settings</title>
<div class="container">
  <div class="jumbotron">
    <form role="form" method="POST">

      <p>Enter your password.</p>
        <input type="password" name="password" class="form-control" placeholder="Password">
	<br>
	<p>Change your message.</p>
	<input type="text" name="message" class="form-control" placeholder="New message...">
	<br>
        <button class="btn btn-default btn-lg" type="submit">Update</button>	
      </form>
  </div>
</div>


{% endblock main %}
