{% extends "layout.html" %}

{% block body %}
<div class="center">
  <table class="pure-table">
    <thead>
      <tr>
        <th>District</th>
        <th>YTD % Attendance</th>
        <th>YTD Enrollment</th>
      </tr>
    </thead>
    <tbody>
      {% for district in d['data'][:-1] %}
      <tr>
        <td>{{ district[0] }}</td>
        <td>{{ district[1] }}%</td>
        <td>{{ district[2] }}</td>
      </tr>
      {% endfor %}

      <tr class="highlight">
        <td>{{ d['data'][-1][0] }}</td>
        <td>{{ d['data'][-1][1] }}</td>
        <td>{{ d['data'][-1][2] }}</td>
      </tr>
  </table>
</div>
{% endblock %}