<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>NYC School Attendance Data – 
      {% block title %}
      {% endblock %}
    </title>

    <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/tfa.css">

    <script src="/static/js/bind-polyfill.min.js"></script>
    <script src="/static/js/smooth-scroll.min.js"></script>
  </head>
  <body>
    {% block body %}
    {% endblock %}

    <div class="footer l-box is-center">
      Created by Justin Kim and Mark Norwich. SoftDev period 6.
    </div>
  </body>
</html>