<html>
<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
</head>
<body><center>
<h1>{{fname}} {{lname}}</h1>
<b>Age:</b> {{age}}<br><br>
<b>Email Address:</b> {{email}}<br><br>
<b>Phone Number:</b> {{phone}}<br><br>
<b>Home Address:</b> {{address}}<br><br>
    <form class="pure-form pure-form-aligned" method="POST">
      <fieldset>
	<div class="pure-control-group">
	  <label for="name">Name:</label>
	  <input name="name" type="text"><br>
	</div>
	<div class="pure-controls">
	  <button type="submit" name="submit" value="Search" class="pure-button pure-button-primary">Search</button>
	</div>
	<div class="pure-controls">
	  <button type="submit" name="submit" value="Logout" class="pure-button">Logout</button>
	</div>
    </fieldset></form>
</center></body>
</html>
