{% extends "base.html" %}
  {% block bodycontent %}
    <h3>My profile</h3>
    <h3>{{profile[0]['name']}}</h3>
	<i>{{profile[0]['email']}}</i>
<br><br><hr>
<h3>My recent posts</h3>
{%for x in posts%}
    <p>
      <a href="/blog/{{x['title']}}">{{x['title']}}</a>
      <br>
      <span class="timestamp">
        posted {{x['time'][0]}}/{{x['time'][1]}}/{{x['time'][2]}} {{x['time'][3]}}:{{x['time'][4]}}
        &nbsp;by <a class="user" href="/user/{{x['author']}}">{{x['author']}}</a>
        <br><b>{{x['comments']|length}} comment{%if x['comments']|length != 1 %}s{%endif%}
        &nbsp;{{x['points']}} points</b>
      </span>
    </p>

{%endfor%}
<hr>
<h3> Please fill out this form if you'd like to change your password. </h3>

<form class="pure-form pure-form-aligned" method="POST">
    <fieldset>

        <div class="pure-control-group">
            <label for="password">New Password</label>
            <input id="newpassword" type="password" placeholder="New Password" name="newpassword">
        </div>

		<div class="pure-control-group">
            <label for="password">Retype New Password</label>
            <input id="newpassword2" type="password" placeholder="Retype New Password" name="newpassword2">
        </div>

        <div class="pure-controls">

            <button type="submit" name="b" value="Change" class="pure-button pure-button-primary">Change</button>

        </div>
    </fieldset>
</form>

  {% endblock bodycontent %}}
}
