body{
    background-image: url("france.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.box {
    border: 1px solid black;
    background: rgba(255, 255, 255, .6);
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1, h2, h3{
    color:#006666;
    text-align:center;
}

h1{
    padding-bottom: 25px;
    padding-top: 25px;
}
h2{
    padding-bottom: 10px;
    padding-top: 10px;
}
h3{
    padding-bottom: 5px;
    padding-top: 5px;
}

p{
    color:#006666;
}

table, th, td{
    border: 1px double black;
    border: 1;
}

th, td{
    text-align:center;
    padding: 10px;
}