<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">

<html lang="en">

  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static',filename='css/bootstrap-theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Account Manager</title>
  </head>

  <body>
    <div class="container" style="max-width:730px;">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <form class="navbar-form navbar-right" method="POST">
	         <input type="submit" name="b" class="btn btn-default" value="About">
            <input type="submit" name="b" class="btn btn-default" value="Sign Up">
          </form>
        </div>
      </nav>
      {% if alert %}
        <div class="alert alert-danger" role="alert">
          Username or password is incorrect
        </div>
      {% endif %}
      <div class="header">
	       
      </div>
      <div class="jumbotron" style="max-width:730px;">
        <h2>Log In</h2>
        <form role="form" class="form-horizontal" method="POST">
          <div class="form-group">
        	   <p><input type="text" class="form-control" name="username" placeholder="Username"></p>
        	   <p><input type="password" class="form-control" name="password" placeholder="Password"></p>
        	   <p><input type="submit" name="b" class="btn btn-default" value="Log In">
  	         <input type="submit" name="b" class="btn btn-default" value="Cancel"></p>
          </div>
        </div>
        </form>
    </div>
  </body>
</html>

    

  
