<!doctype html>
<html>
  
<title>Mangos</title>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<div class="pure-g">
  <div class="pure-u-1-5"></div>
  <div class="pure-u-3-5">
    <h1>Albert Yeung's and Richard Zhan's Mango Store</h1>
    <hr>
    <h3>{{text}}</h3>
    <h3>About</h3>
    <br>
    <h3>
	Mango Fun Facts</h3>
<ul>
<li>
		Mangos are one of the most popular fruit in the World</li>
<li>
		Mangos were first grown in India over 5,000 years ago</li>
<li>
		Mango seeds traveled with humans from Asia to the Middle East, East Africa and South America beginning around 300 or 400 A.D.</li>
<li>
		The paisley pattern, developed in India, is based on the shape of a mango</li>
<li>
		A basket of mangos is considered a gesture of friendship in India</li>
<li>
		Legend says that Buddha meditated under the cool shade of a mango tree</li>
<li>
		Mangos are related to cashews and pistachios</li>
<li>
		A mango tree can grow as tall as 100 feet</li>
<li>
		The bark, leaves, skin and pit of the mango have been used in folk remedies for centuries</li>
</ul> {# Source: http://www.mango.org/mango-fun-facts #}
<br>
Albert and I wanted to do a page about mangos using mongo.
<br>
<i>Now do you want an account? </i><a href = "/register">Register</a>
    <br><br><a href="/">Back</a>
  </div>
  
  <div class="pure-u-1-5"></div>





</html>
