<!doctype html>
<html>
  
<title>Mangos</title>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<div class="pure-g">
  <div class="pure-u-1-5"></div>
  <div class="pure-u-3-5">
    <h1>Albert Yeung's and Richard Zhan's Mango Store</h1>
    <hr>
    <h3>Log In</h3>
    <form class="pure-form" method="POST">
      
      <input type="text" size="25" placeholder="Username" name="user"></input> 
      <input type="password" size="25" placeholder="Password" name="pass"></input>
      <button class="pure-button" name="submit" value="yes">Login</button>
      <br><br>
      <i>Do not have an account? </i><a href = "/register">Register</a>
      <br><br>
      <i>Don't have an account but want to view a page? </i><a href = "/about">About</a>
      <br><br>
      <font color = "red">{{text}}</font>
    </form>
    
  </div>
  
  <div class="pure-u-1-5"></div>





</html>
