<!-- Sourced from http://codepen.io/frytyler/pen/EGdtg -->
<html>

<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
</style>
</head>
<body>
<div class="bs-example">
	<ul class="nav nav-tabs">
        <li class=""><a href="#"><span class="glyphicon glyphicon-home"></span>  Home</a></li>
        <li class="active"><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        <li class=""><a href="#"><span class="glyphicon glyphicon-envelope"></span> Messages</a></li>
	<li class="pull-right"><a href="#">Logged In As Andrew</a></li>
    </ul>
</div>


</head>

<body>
<body>

    <div class="container">
      <div class="row main">

        <!-- Start Left Side -->
        <div class="col-xs-12 col-sm-3 text-center">
          <img src="http://placehold.it/300x300" class="img-responsive img-border" alt="">
          <h1>{{first}} {{last}}</h1>
          <p>Your Job, Job Title</p>
          <div class="social-links">
            <a href="#"><i class="icon-facebook-sign icon-large"></i></a>
            <a href="#"><i class="icon-github icon-large"></i></a>
            <a href="#"><i class="icon-linkedin-sign icon-large"></i></a>
            <a href="#"><i class="icon-twitter-sign icon-large"></i></a>
            <a href="#"><i class="icon-instagram icon-large"></i></a>
            <a href="#"><i class="icon-dropbox icon-large"></i></a>
          </div>
          <div class="contact-info text-center">
            <div class="row">
            </div>
          </div>
        </div>
        <!-- End Left Side -->

        <div class="clearfix visible-xs"></div>

        <!-- Start Right Side -->
        <div class="col-xs-12 col-sm-9">
          <div class="row">
            <div class="col-xs-12 col-sm-12">

              <!-- Start About Me -->
              <h2>About Me</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula lobortis felis, eget porta augue consequat et. Aliquam arcu nisi, imperdiet et consequat tincidunt, consectetur a diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis dictum libero libero, eget placerat diam porttitor molestie. Duis fermentum elementum augue, at fermentum leo rutrum vel. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis ut diam lorem. Sed elementum orci ac porta tempus. Nunc consectetur velit quis ornare elementum. In adipiscing tellus sit amet enim rhoncus dictum. Nunc in sapien in nunc facilisis pretium. Cras pretium tempus sem. Nunc imperdiet magna tellus.</p>
              <!-- End About Me -->

              <!-- Start Portfolio -->
              <h2>Hobbies</h2>
              <p><span class="label label-primary">Fishing</span> <span class="label label-primary">Python</span> <span class="label label-primary">Javascript</span> <span class="label label-primary">Old Computers</span> <span class="label label-primary">Picking Flowers</span></p>
              <!-- End Portfolio -->

            </div>
          </div>
        </div>
        <!-- End Right Side -->


      </div> <!-- /.row main -->
    </div><!-- /.container main -->



</body>
</div>
</body>

</html>
