<!doctype html>
<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
</head>

<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="/" class="pure-menu-heading">Blog</a>

    <ul>
        <li class="pure-menu-selected"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>

	
    </ul>
</div>
<hr>
<br>
<div class="pure-g">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">
   
<form class="pure-form pure-form-aligned" align="center" method="POST">
    <fieldset>
    <div class="pure-control-group">
      <label for="name">Username</label>
      <input id="name" type="text" placeholder="Username" name="name">
    </div>
    <div class="pure-control-group">
      <label for="password">Password</label>
      <input id="password" type="password" placeholder="Password" name="password">
    </div>
    {%if msg != None%}
    <br> {{msg}} <br>
    {%endif%}
    
    
    <div class="pure-controls">
    <button type="submit" name="b" value="Login" class="pure-button pure-button-primary">Login</button>
    </div>
    </fieldset>
</form>
<br>
<font align="center"><p>Don't have an account?  Register <a href="/register">Here</a> </p></font>

</div>




<div class="pure-u-1-5"></div>
</div>


