
  body{
  background-image: url("/static/oak.gif");
  background-color: rgb(51, 51, 51);
}

  h0{
  font-family:"courier";
  font-size:10px;
  border-style:solid;
  border-color:blue;
  border-width:1px;
  background-color:#ffffff
}

  h1{
  font-family:"courier";
  border-style:solid;
  border-color:black;
  border-width:3px;
  background-color:#ffffff
}

 h2{
  font-family:"courier";
  font-size:20px;
  border-style:solid;
  border-color:black;
  border-width:3px;
  background-color:#eeeeee
}


table.reference td {
border: 3px solid #dddddd;
padding: 5px;
padding-top: 7px;
padding-bottom: 7px;
vertical-align: top;
}