html {
    margin: 0;
    padding: 0px;
}
body {
    overflow-y: hidden;
    color: rgb(240, 100, 100);
    background-color: #121212;
    min-width: 200px;
    padding: 5px;
}
#mouse_stats {
    min-height: 20px;
    color: rgb(112, 112, 243);
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#reveal_button {
    position: fixed;
    right: 20px;
    top: 20px;
    background: none;
    border: 1px solid rgb(240, 100, 100);
    border-radius: 3px;
    color: rgb(245, 80, 80);
    padding: 10px;
}
#reveal_button:hover {
    background: rgba(60, 60, 60, 50);
    border: 1px solid rgb(112, 112, 243);
}
