<!DOCTYPE html> 
<html>
<head>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css"> 
  <link rel="stylesheet" href="static/home.css">
</head>
<body>
  {% if sess['username'] %}
  Currently logged in as: {{sess['username']}}<br>
  {% else %}
  Not logged in.
  {% endif %}
  {% if post %}
  {% if errorlist %}
  an error occurred:<br>
  <ul>
  {% for error in errorlist %}
  <li>{{error}}</li>
  {% endfor %}
  </ul>
  {% else %}
  post successful
  {% endif %}
  {% endif %}
  <hr>
  <h1>
    {{op['title']}} - {% if op['author'] %}{{op['author']}}{% else %}Anonymous{% endif %}
  </h1>
  {{op['body']}}
  <hr>
  
  {% for reply in replies %}
  <h4>{{post['title']}} {% if reply['author'] %}{{reply['author']}}{% else %}Anonymous{% endif %}</h4>
  {{reply['body']}}
  {% endfor %}
  <hr>
  <form action="" method="POST">
    New reply:
	<textarea name="body" rows="6" cols="50"></textarea><br><br>	  
	<button type="submit">Post</button><br>
  </form>
  <br>
  <br>
</body> 
</html>
