<!DOCTYPE html> 
<html>
<head>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css"> 
  <link rel="stylesheet" href="static/home.css">
</head>
  <h1>
    <center>settings</center>
  </h1>
  {% if sess['username'] %}
  Currently logged in as: {{sess['username']}}<br>
  {% else %}
  Not logged in.
  {% endif %}
  {% if post %}
  {% if errorlist %}
  an error occurred:<br>
  <ul>
  {% for error in errorlist %}
  <li>{{error}}</li>
  {% endfor %}
  </ul>
  {% else %}
  password successfully changed<br>
  {% endif %}
  {% endif %}
  <form action="" method="POST">
	<input name="oldpass" type="password" placeholder="Old password"><br>
	<input name="newpass" type="password" placeholder="New password"><br>
	<input name="passcfm" type="password" placeholder="Confirm new password"><br>	  
	<button type="submit">Change</button><br>
  </form>
  {% for post in posts %}
  <h2><a href="post/{{post['title']}}">{{post['title']}}</a> - {% if post['author'] %}{{post['author']}}{% else %}Anonymous{% endif %}</h2>
  {{post['body']}}
  {% endfor %}
</body> 
</html>
