{% extends "base.html" %}

{% block bodycontent %}

<div class="about">
  <center><h1> What is this project all about?</h1></center>
  <p>This webpage was intended to test our knowledge on Mongodb and sessions. The exact instructions were:<br>
    The project is an account manager. You'll need the following pages:<br>
  </p>
  <ol>
    <li> A login page </li>
    <li> A logout page </li>
    <li> A register page </li>
    <li> At least one page that can be viewed without logging in </li>
    <li> At least 2 pages that can only be viewed if you are logged in </li>
  </ol>
  <p>
    All pages should indicate if you're logged in or not by displaying either the username or a link to the login page.<br>

    If you go to a protected page and you're not logged in, it should redirect you to the login page. Once you log in (or register / login) it should redirect you back to the protected page.<br>

    It would be nice if one of the protected pages is a change account specifics page. You might also want to track things like last login or logout or something like that.<br>

    Things you'll need in addition to basic flask stuff:<br>
  </p>
  <ol>
    <li> Mongo to store the accounts -- username and password is a minimum but you might want to track other info.</li>
    <li> Sessions - to keep track of your state.</li>
    <li> You might want to look at flash/flashing in the flask docs - it'll make it easy to do things like displaying one time error messages like invalid password.</li>
  </ol>
  <p>
    ~MZ
  </p>
    <center><a class="hint center" href="{{ url_for("home") }}">Back to Login</a></center>
</div>

{% endblock bodycontent %} 
