<!DOCTYPE html>

<head>
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css"/>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}"/>
</head>

<body class="center-all">
    <div id="navbar" class="pure-menu pure-menu-open pure-menu-horizontal">
        <a href="{{ url_for("home") }}" class="pure-menu-heading">{{username}}</a>

        <ul>
            <li><a href="{{ url_for("info") }}">Your Info</a></li>
            <li><a href="{{ url_for("update") }}">Update Info</a></li>
        <li><a href="{{ url_for("logout") }}" class="red">Logout</a></li>
        </ul>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashed_messages_list">
                {% for message in messages %}
                    {% if 'error' in message|lower %}
                        <li class="flashed_message error">{{ message }}</li>
                    {% else %}
                        <li class="flashed_message success">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
	{% block bodycontent %}

	{% endblock bodycontent %}
</body>
