{% extends "base.html" %}

{% block bodycontent %}

<div class="center noselect">
    <div id="navbar" class="pure-menu pure-menu-open pure-menu-horizontal">
        <a href="#" class="pure-menu-heading">{{username}}</a>

        <ul>
            <li><a href="https://www.google.com">Google</a></li>
            <li><a href="https://www.duckduckgo.com">DuckDuckGo</a></li>
            <li><a href="https://yahoo.com">Yahoo!</a></li>
            <li><a href="https://bing.com">Bing</a></li>
            <li><a href="{{ url_for("logout") }}" class="red">Logout</a></li>
        </ul>
    </div>
    <h1 class="gray">Welcome {{username}}!</h1>
</div>

{% endblock bodycontent %} 
