{% extends "base.html" %}

{% block bodycontent %}

<div>
  <center>  
    <form class="pure-form">
      <fieldset>
        <legend>Sign In to do stuff</legend>
	
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
		
        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
	
      </fieldset>
    </form>
    <form class="pure-form">
      <fieldset>	
        <button type="submit" class="pure-button pure-button-primary">Sign up</button>	
      </fieldset>
    </form>
  </center>
</div>

{% endblock bodycontent %} 
