{% extends "base.html" %}

{% block bodycontent %}

<div class="center-all noselect">
      <form action="{{url_for("index")}}" method="POST" class="pure-form">
      <fieldset>
        <h1 class="gray">Sign In</h1>
        <input class="center" type="text" name="username" placeholder="Username">
        <input class="center" type="password" name="password" placeholder="Password">
        <br/>
        <br/>
        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
	
      </fieldset>
    </form>
    <a class="hint center" href="{{ url_for("register") }}">Don't have an account? Click here to register!</a>
    <br>
    <a class="hint center" href="{{ url_for("about") }}">About Us</a>
</div>

{% endblock bodycontent %} 
