{% extends "base.html" %}

{% block bodycontent %}

<div>
  <center>  
      <form action="{{url_for("register")}}" method="POST" class="pure-form">
      <fieldset>
        <h1>Sign In</h1>
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <br/>
        <br/>
        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
	
      </fieldset>
    </form>
    <a class="hint center" href="{{ url_for("register") }}">Don't have an account? Click here to register!</a>
  </center>
</div>

{% endblock bodycontent %} 
