{% extends "base.html" %}

{% block bodycontent %}

<div class="center-all noselect">
    <form action="{{url_for("register")}}" method="POST" class="pure-form">
        <fieldset>
            <h1 class="gray">Register</h2>

            <input class="center form_vertical" type="text" name="username" placeholder="Username" required/>
            <input class="center form_vertical" type="password" name="password" placeholder="Password" required/>
            <input class="center form_vertical" type="password" name="password2" placeholder="Confirm Password" required/>
            <br/>
            <br/>
            <input type="submit" class="pure-button pure-button-primary" value="Sign up"/>

        </fieldset>
    </form>
    <a class="hint center" href="{{ url_for("home") }}">Back to Login</a>
</div>

{% endblock bodycontent %} 
