{% extends "base-home.html" %}

{% block bodycontent %}

<div class="center-all noselect">
    <form action="{{url_for("update")}}" method="POST" class="pure-form pure-form-aligned">
      <fieldset>
        <div class="pure-control-group">
          <label for="name">Name:</label>
          <input name="name" type="text" placeholder="Name">
        </div>
        <div class="pure-control-group">
          <label for="job">Occupation:</label>
          <input name="job" type="text" placeholder="Occupation">
        </div>
        <div class="pure-control-group" style="margin-right:152px">
          <label for="age">Age:</label>
          <input name="age" type="number" min="1" max="150" placeholder="17">
        </div>
          <button type="submit" class="pure-button pure-button-primary">Update</button>
      </fieldset>
    </form>
</div>

{% endblock bodycontent %} 
